# IEX Cloud API

**Data Coverage**

95,000+ securities, full U.S. market coverage, 20+ exchanges, 100+ currency pairs

**Performance**

800M+ API calls per day, 28ms avg latency

5 year limit

Filter by primary exchange index on paid subscription

Free account includes:

* 50,000 core messages/mo

* Unlimited Investors Exchange data

* Unlimited Sandbox Testing

* Limited access to Core Data:

Intraday U.S. Stock Prices, Historical U.S. Stock Prices (5Y), Historical Intl Stock Prices (5Y), Earnings (last), Dividends (last), Splits (last), Reference Data, Mutual Funds, OTC (EOD), News, Crypto

In [1]:
# Import dependencies
import os
import requests
import json
import pandas as pd
from api_keys import apiKeySandbox

In [2]:
tickers = ["AAPL","AMZN","MSFT","FB","GOOGL","GOOG","TSLA","NVDA","ADBE","NFLX","PYPL",
           "INTC","CMCSA","PEP","CSCO","COST","AMGN","TMUS","AVGO","TXN","QCOM","CHTR",
           "AMD","SBUX","INTU","MDLZ","GILD","ISRG","BKNG","JD","VRTX","FISV","ATVI",
           "REGN","MELI","ADP","AMAT","CSX","ADSK","ILMN","LRCX","MU","ZM","LULU","BIIB",
           "ADI","MNST","KHC","EA","EBAY","DXCM","DOCU","NTES","WDAY","CTSH","EXC","XEL",
           "NXPI","BIDU","SPLK","ORLY","WBA","CTAS","SNPS","KLAC","IDXX","ROST","MAR",
           "CDNS","VRSK","PCAR","ASML","ANSS","FAST","MRNA","PAYX","SGEN","MCHP","SIRI",
           "XLNX","DLTR","PDD","VRSN","CPRT","SWKS","ALGN","ALXN","CERN","INCY","TTWO",
           "MXIM","CHKP","CTXS","CDW","TCOM","BMRN","EXPE","ULTA","WDC","LBTYK"]

In [ ]:
# tickers= pd.read_csv("Tickers.csv")
# tickers= tickers["Ticker"]

In [3]:
# URL for testing
base_url_sandbox = "https://sandbox.iexapis.com/" 
version = "stable/stock/"
endpoint = "chart/"
token_sandbox = apiKeySandbox

In [4]:
symbol_quote = "AAPL/"
# Extract data for quotes
HTTP_request_quotes = f"{base_url_sandbox}{version}{symbol_quote}quote?token={token_sandbox}"
results_sandbox_quotes = requests.get(HTTP_request_quotes).json()
c=pd.DataFrame(results_sandbox_quotes,index=[0]).columns
a=pd.DataFrame()

In [5]:
full=[]
for x in tickers:
    symbol_quote = x+"/"
    # Extract data for quotes
    HTTP_request_quotes = f"{base_url_sandbox}{version}{symbol_quote}quote?token={token_sandbox}"
    results_sandbox_quotes = requests.get(HTTP_request_quotes).json()
    c=results_sandbox_quotes
    full.append(c)

In [6]:
full=pd.DataFrame(full)
full=full[["symbol","open","close","high","low","previousClose","changePercent","latestTime","volume","avgTotalVolume","week52High","week52Low"]]
full

,symbol,open,close,high,low,previousClose,changePercent,latestTime,volume,avgTotalVolume,week52High,week52Low
0,AAPL,None,None,None,None,128.05,0.04561,1:39:18 PM,None,46258025,535.23,130.00
1,AMZN,None,None,None,None,3526.90,0.02399,1:39:05 PM,None,4462515,3593.00,1662.98
2,MSFT,None,None,None,None,238.97,-0.01630,1:39:15 PM,None,35117750,242.18,134.69
3,FB,None,None,None,None,299.00,0.00197,1:39:00 PM,None,26021156,316.74,143.00
4,GOOGL,None,None,None,None,1639.50,-0.00513,1:35:33 PM,None,1601364,1698.47,1034.75
...,...,...,...,...,...,...,...,...,...,...,...,...
95,BMRN,None,None,None,None,76.71,0.02640,1:39:25 PM,None,2834347,136.78,63.59
96,EXPE,None,None,None,None,102.20,-0.02228,1:39:31 PM,None,2851637,140.15,40.89
97,ULTA,None,None,None,None,240.99,-0.02622,1:38:47 PM,None,1244608,353.00,125.48
98,WDC,None,None,None,None,39.33,0.00855,1:38:16 PM,None,6732948,73.00,28.30
99,LBTYK,None,None,None,None,23.44,-0.00810,1:39:32 PM,None,2629145,28.86,14.40

In [7]:
full.columns

Index(['symbol', 'open', 'close', 'high', 'low', 'previousClose',
       'changePercent', 'latestTime', 'volume', 'avgTotalVolume', 'week52High',
       'week52Low'],
      dtype='object')

In [8]:
full = full.rename({'symbol': 'Symbol', 'open': 'OpenPrice', 
                    'close': 'ClosePrice','high': 'HighPrice',
                    'low': 'LowPrice','previousClose': 'PreviousDayClosePrice',
                    'changePercent': 'ChangePercentagefromPreviousDay','latestTime': 'LatestTime',
                    'volume': 'Volume','avgTotalVolume': '30DayAverageVolume',
                    'week52High': 'Adjusted52WeekHigh','week52Low': 'Adjusted52WeekLow'}, axis=1)
full

,Symbol,OpenPrice,ClosePrice,HighPrice,LowPrice,PreviousDayClosePrice,ChangePercentagefromPreviousDay,LatestTime,Volume,30DayAverageVolume,Adjusted52WeekHigh,Adjusted52WeekLow
0,AAPL,None,None,None,None,128.05,0.04561,1:39:18 PM,None,46258025,535.23,130.00
1,AMZN,None,None,None,None,3526.90,0.02399,1:39:05 PM,None,4462515,3593.00,1662.98
2,MSFT,None,None,None,None,238.97,-0.01630,1:39:15 PM,None,35117750,242.18,134.69
3,FB,None,None,None,None,299.00,0.00197,1:39:00 PM,None,26021156,316.74,143.00
4,GOOGL,None,None,None,None,1639.50,-0.00513,1:35:33 PM,None,1601364,1698.47,1034.75
...,...,...,...,...,...,...,...,...,...,...,...,...
95,BMRN,None,None,None,None,76.71,0.02640,1:39:25 PM,None,2834347,136.78,63.59
96,EXPE,None,None,None,None,102.20,-0.02228,1:39:31 PM,None,2851637,140.15,40.89
97,ULTA,None,None,None,None,240.99,-0.02622,1:38:47 PM,None,1244608,353.00,125.48
98,WDC,None,None,None,None,39.33,0.00855,1:38:16 PM,None,6732948,73.00,28.30
99,LBTYK,None,None,None,None,23.44,-0.00810,1:39:32 PM,None,2629145,28.86,14.40

In [9]:
# Files to read
catalogueNASDAQ = './nasdaq.csv'
# Read files
catalogueNASDAQ_df = pd.read_csv(catalogueNASDAQ, encoding='utf-8')

In [10]:
catalogueNASDAQ_df = catalogueNASDAQ_df[['Ticker','Name','Sector','Industry']]
catalogueNASDAQ_df= catalogueNASDAQ_df.rename(columns={'Ticker': 'Symbol'})
catalogueNASDAQ_df

,Symbol,Name,Sector,Industry
0,AAPL,Apple Inc.,Technology,Computer Manufacturing
1,AMZN,"Amazon.com, Inc.",Consumer Services,Catalog/Specialty Distribution
2,MSFT,Microsoft Corporation,Technology,Computer Software: Prepackaged Software
3,FB,"Facebook, Inc.",Technology,"Computer Software: Programming, Data Processing"
4,GOOGL,Alphabet Inc.,Technology,"Computer Software: Programming, Data Processing"
...,...,...,...,...
95,BMRN,BioMarin Pharmaceutical Inc.,Health Care,Major Pharmaceuticals
96,EXPE,"Expedia Group, Inc.",Consumer Services,Transportation Services
97,ULTA,"Ulta Beauty, Inc.",Consumer Services,Other Specialty Stores
98,WDC,Western Digital Corporation,Technology,Electronic Components
99,LBTYK,Liberty Global PLC,Consumer Services,Television Services

In [11]:
quotesNASDAQMerge_df = pd.merge(full,catalogueNASDAQ_df,on='Symbol',how='outer')
quotesNASDAQMerge_df

,Symbol,OpenPrice,ClosePrice,HighPrice,LowPrice,PreviousDayClosePrice,ChangePercentagefromPreviousDay,LatestTime,Volume,30DayAverageVolume,Adjusted52WeekHigh,Adjusted52WeekLow,Name,Sector,Industry
0,AAPL,None,None,None,None,128.05,0.04561,1:39:18 PM,None,46258025,535.23,130.00,Apple Inc.,Technology,Computer Manufacturing
1,AMZN,None,None,None,None,3526.90,0.02399,1:39:05 PM,None,4462515,3593.00,1662.98,"Amazon.com, Inc.",Consumer Services,Catalog/Specialty Distribution
2,MSFT,None,None,None,None,238.97,-0.01630,1:39:15 PM,None,35117750,242.18,134.69,Microsoft Corporation,Technology,Computer Software: Prepackaged Software
3,FB,None,None,None,None,299.00,0.00197,1:39:00 PM,None,26021156,316.74,143.00,"Facebook, Inc.",Technology,"Computer Software: Programming, Data Processing"
4,GOOGL,None,None,None,None,1639.50,-0.00513,1:35:33 PM,None,1601364,1698.47,1034.75,Alphabet Inc.,Technology,"Computer Software: Programming, Data Processing"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,BMRN,None,None,None,None,76.71,0.02640,1:39:25 PM,None,2834347,136.78,63.59,BioMarin Pharmaceutical Inc.,Health Care,Major Pharmaceuticals
96,EXPE,None,None,None,None,102.20,-0.02228,1:39:31 PM,None,2851637,140.15,40.89,"Expedia Group, Inc.",Consumer Services,Transportation Services
97,ULTA,None,None,None,None,240.99,-0.02622,1:38:47 PM,None,1244608,353.00,125.48,"Ulta Beauty, Inc.",Consumer Services,Other Specialty Stores
98,WDC,None,None,None,None,39.33,0.00855,1:38:16 PM,None,6732948,73.00,28.30,Western Digital Corporation,Technology,Electronic Components
99,LBTYK,None,None,None,None,23.44,-0.00810,1:39:32 PM,None,2629145,28.86,14.40,Liberty Global PLC,Consumer Services,Television Services

In [12]:
# Create csv and json file for database
quotesNASDAQMerge_df.to_csv('Databases/quotesStockPriceNASDAQ.csv')
quotesNASDAQMerge_df.to_json('Databases/quotesStockPriceNASDAQ.json',orient = 'records')