# IEX Cloud API

**Data Coverage**

95,000+ securities, full U.S. market coverage, 20+ exchanges, 100+ currency pairs

**Performance**

800M+ API calls per day, 28ms avg latency

5 year limit

Filter by primary exchange index on paid subscription

Free account includes:

* 50,000 core messages/mo

* Unlimited Investors Exchange data

* Unlimited Sandbox Testing

* Limited access to Core Data:

Intraday U.S. Stock Prices, Historical U.S. Stock Prices (5Y), Historical Intl Stock Prices (5Y), Earnings (last), Dividends (last), Splits (last), Reference Data, Mutual Funds, OTC (EOD), News, Crypto

In [1]:
# Import dependencies
import os
import requests
import json
import pandas as pd
from api_keys import apiKeySandbox

In [2]:
# URL for testing
base_url_sandbox = "https://sandbox.iexapis.com/" 
version = "stable/stock/"
# symbol_ETF = "QQQ/"
endpoint = "chart/"
date_range = "max" 
token_sandbox = apiKeySandbox

In [3]:
# symbols = ["AAPL","AMZN","MSFT","FB","GOOGL","GOOG","TSLA","NVDA","ADBE","NFLX","PYPL",
#            "INTC","CMCSA","PEP","CSCO","COST","AMGN","TMUS","AVGO","TXN","QCOM","CHTR",
#            "AMD","SBUX","INTU","MDLZ","GILD","ISRG","BKNG","JD","VRTX","FISV","ATVI",
#            "REGN","MELI","ADP","AMAT","CSX","ADSK","ILMN","LRCX","MU","ZM","LULU","BIIB",
#            "ADI","MNST","KHC","EA","EBAY","DXCM","DOCU","NTES","WDAY","CTSH","EXC","XEL",
#            "NXPI","BIDU","SPLK","ORLY","WBA","CTAS","SNPS","KLAC","IDXX","ROST","MAR",
#            "CDNS","VRSK","PCAR","ASML","ANSS","FAST","MRNA","PAYX","SGEN","MCHP","SIRI",
#            "XLNX","DLTR","PDD","VRSN","CPRT","SWKS","ALGN","ALXN","CERN","INCY","TTWO",
#            "MXIM","CHKP","CTXS","CDW","TCOM","BMRN","EXPE","ULTA","WDC","LBTYK"]

In [4]:
symbol_AAPL = "AAPL"
historical_stock_AAPL = f"{base_url_sandbox}{version}{symbol_AAPL}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_AAPL = requests.get(historical_stock_AAPL).json()
results_stock_AAPL = pd.DataFrame(results_stock_AAPL)
results_stock_AAPL

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,115.94,115.83,116.50,114.00,58635323,115.15,116.80,119.41,116.00,56938713,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,109.60,110.67,116.52,108.21,78386950,112.79,113.35,116.22,112.09,80534174,,-5.20,-4.6765,"Sep 1, 15",-0.045822
2,2015-09-02,112.98,115.09,114.26,110.68,61899409,115.88,113.36,115.59,113.76,61959735,,4.78,4.3872,"Sep 2, 15",-0.003898
3,2015-09-03,114.67,117.99,114.75,111.05,55434852,110.59,113.87,116.25,113.68,55207240,,-1.99,-1.7587,"Sep 3, 15",-0.021899
4,2015-09-04,111.64,111.00,112.70,110.29,52493830,112.93,109.59,114.78,110.89,50851532,,-1.10,-1.0015,"Sep 4, 15",-0.031319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,507.93,525.45,526.52,510.47,89580655,520.54,531.17,522.54,505.03,88675862,,6.01,1.2150,"Aug 24, 20",3.565134
1255,2020-08-25,503.50,520.90,516.50,509.43,52994355,515.80,509.45,513.73,492.97,54968155,,-4.30,-0.8375,"Aug 25, 20",3.433646
1256,2020-08-26,519.00,519.32,532.05,505.94,40805729,527.77,516.75,512.17,500.73,42125522,,6.87,1.3643,"Aug 26, 20",3.512679
1257,2020-08-27,520.54,518.63,517.16,500.77,39262541,503.98,521.96,512.77,507.55,39187996,,-6.28,-1.2176,"Aug 27, 20",3.511726
1258,2020-08-28,509.00,506.35,525.84,510.43,48023716,504.23,517.44,520.08,506.10,47111151,,-0.84,-0.1640,"Aug 28, 20",3.578944

In [5]:
symbol_AMZN = "AMZN"
historical_stock_AMZN = f"{base_url_sandbox}{version}{symbol_AMZN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_AMZN = requests.get(historical_stock_AMZN).json()
results_stock_AMZN = pd.DataFrame(results_stock_AMZN)
results_stock_AMZN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,518.85,540.92,543.58,524.20,3042656,519.32,537.58,519.65,517.48,3143804,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,507.07,511.99,511.00,516.40,4007721,501.28,522.61,522.00,496.16,4022510,,-17.05,-3.2992,"Sep 1, 15",-0.032103
2,2015-09-02,533.42,525.03,536.11,505.81,3713009,531.26,516.78,534.52,508.39,3869879,,14.37,2.9052,"Sep 2, 15",-0.004609
3,2015-09-03,525.48,526.10,525.67,510.51,3188552,515.36,523.40,524.54,508.00,3175998,,-5.96,-1.1693,"Sep 3, 15",-0.016047
4,2015-09-04,511.00,518.65,503.54,512.91,2756445,507.00,513.84,510.47,510.39,2727165,,-5.82,-1.1772,"Sep 4, 15",-0.027422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,3417.75,3320.84,3430.03,3318.78,4781279,3355.97,3465.38,3532.50,3360.81,4763941,,23.84,0.7111,"Aug 24, 20",5.628610
1255,2020-08-25,3440.20,3306.65,3409.50,3365.00,4009727,3455.30,3307.79,3405.80,3273.00,4080790,,40.45,1.2136,"Aug 25, 20",5.756766
1256,2020-08-26,3518.35,3449.22,3551.47,3410.18,6553165,3458.61,3517.63,3547.06,3370.45,6784466,,95.63,2.8538,"Aug 26, 20",5.721648
1257,2020-08-27,3484.00,3519.13,3471.00,3378.00,4441933,3404.00,3546.52,3506.00,3393.00,4278386,,-42.35,-1.2574,"Aug 27, 20",5.822339
1258,2020-08-28,3471.50,3587.00,3561.85,3524.60,2968591,3422.80,3583.00,3564.80,3456.90,3017548,,1.90,0.0537,"Aug 28, 20",5.889462

In [6]:
symbol_MSFT = "MSFT"
historical_stock_MSFT = f"{base_url_sandbox}{version}{symbol_MSFT}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MSFT = requests.get(historical_stock_MSFT).json()
results_stock_MSFT = pd.DataFrame(results_stock_MSFT)
results_stock_MSFT

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,44.61,44.88,45.91,44.10,35962386,44.74,44.14,46.00,44.50,35878554,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,42.05,43.40,43.96,43.33,51714868,43.85,43.09,43.04,43.01,50030320,,-1.80,-4.0079,"Sep 1, 15",-0.040231
2,2015-09-02,44.82,42.88,44.01,42.91,38971166,44.83,43.56,45.50,43.13,38735156,,1.57,3.7750,"Sep 2, 15",-0.003723
3,2015-09-03,44.80,45.07,44.85,43.33,28885142,44.30,44.65,44.22,44.72,29306264,,0.14,0.3330,"Sep 3, 15",-0.000470
4,2015-09-04,44.57,43.88,43.44,44.20,38617377,43.36,43.33,44.31,42.40,38351855,,-0.89,-2.1120,"Sep 4, 15",-0.021010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,215.89,217.92,221.29,213.99,25806815,219.83,217.86,223.62,220.25,26122958,,0.69,0.3192,"Aug 24, 20",4.021304
1255,2020-08-25,222.20,215.10,222.15,217.50,23397576,218.65,221.20,225.14,222.90,23603276,,2.83,1.3502,"Aug 25, 20",4.041353
1256,2020-08-26,229.07,228.58,233.03,228.04,40830770,231.31,222.13,229.60,227.30,40047781,,4.73,2.2670,"Aug 26, 20",4.100009
1257,2020-08-27,228.44,227.75,236.94,220.90,59249378,234.40,225.52,236.84,220.80,59379796,,5.62,2.5117,"Aug 27, 20",4.237702
1258,2020-08-28,231.97,237.42,241.74,230.26,26486440,236.56,231.88,233.87,235.29,26401947,,2.38,1.0712,"Aug 28, 20",4.288961

In [7]:
symbol_FB = "FB"
historical_stock_FB = f"{base_url_sandbox}{version}{symbol_FB}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_FB = requests.get(historical_stock_FB).json()
results_stock_FB = pd.DataFrame(results_stock_FB)
results_stock_FB

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,89.91,94.70,91.27,89.04,33723501,90.99,93.50,93.02,93.09,33225267,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,89.04,90.21,91.11,88.50,36192256,90.89,88.25,91.56,90.40,36834291,,-2.30,-2.5200,"Sep 1, 15",-0.025800
2,2015-09-02,91.13,91.60,91.34,91.89,28243355,92.17,88.86,93.21,89.71,27959377,,2.70,3.1241,"Sep 2, 15",0.005187
3,2015-09-03,88.67,94.07,90.00,89.17,27488274,92.45,91.98,91.60,89.78,27807494,,-1.75,-1.9418,"Sep 3, 15",-0.014951
4,2015-09-04,91.87,91.20,90.50,87.10,27486153,89.64,90.20,89.00,87.90,27578573,,0.11,0.1310,"Sep 4, 15",-0.013147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,283.60,280.89,278.70,273.80,24565740,281.73,284.22,284.36,275.84,23778938,,4.53,1.6678,"Aug 24, 20",2.052250
1255,2020-08-25,281.16,285.09,295.81,280.07,43683686,286.93,283.88,287.83,272.31,42383367,,9.71,3.4752,"Aug 25, 20",2.226140
1256,2020-08-26,316.42,289.00,319.35,289.00,71367752,310.60,286.00,316.48,295.00,72312706,,23.60,8.4048,"Aug 26, 20",2.430800
1257,2020-08-27,296.65,306.60,302.16,297.23,31151995,296.94,303.39,313.13,303.85,31516690,,-10.73,-3.5656,"Aug 27, 20",2.355403
1258,2020-08-28,301.88,301.00,298.83,297.29,17439585,303.69,306.00,307.49,295.36,17315776,,0.44,0.1568,"Aug 28, 20",2.321009

In [8]:
symbol_GOOGL = "GOOGL"
historical_stock_GOOGL = f"{base_url_sandbox}{version}{symbol_GOOGL}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_GOOGL = requests.get(historical_stock_GOOGL).json()
results_stock_GOOGL = pd.DataFrame(results_stock_GOOGL)
results_stock_GOOGL

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,648.07,680.73,688.98,651.68,1991976,664.85,661.33,688.74,653.29,2003137,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,640.96,663.57,672.69,631.24,2587500,657.92,641.77,649.95,644.97,2678252,,-18.47,-2.9317,"Sep 1, 15",-0.028220
2,2015-09-02,660.60,645.00,669.67,634.36,1965268,662.35,645.00,660.85,632.07,1928369,,15.97,2.5269,"Sep 2, 15",-0.004682
3,2015-09-03,648.13,655.68,679.26,658.49,1729927,647.07,658.07,679.40,635.73,1759071,,-8.17,-1.2689,"Sep 3, 15",-0.017441
4,2015-09-04,652.87,630.20,659.70,648.40,2120884,644.55,641.30,650.30,633.20,2058648,,-8.39,-1.3077,"Sep 4, 15",-0.029541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,1641.65,1639.31,1665.75,1580.42,1288911,1624.42,1656.27,1630.02,1593.92,1286222,,9.75,0.6220,"Aug 24, 20",1.462695
1255,2020-08-25,1635.84,1600.20,1630.77,1601.82,1265982,1673.59,1582.00,1625.08,1597.77,1263351,,21.40,1.3441,"Aug 25, 20",1.503150
1256,2020-08-26,1696.95,1670.20,1722.59,1677.68,2654710,1661.90,1648.80,1710.45,1613.63,2645049,,38.71,2.3949,"Aug 26, 20",1.550967
1257,2020-08-27,1640.68,1651.07,1689.21,1678.57,1571931,1638.54,1713.03,1657.97,1656.92,1569499,,-16.06,-0.9646,"Aug 27, 20",1.519913
1258,2020-08-28,1655.35,1692.22,1668.90,1627.32,1174886,1717.42,1658.28,1684.71,1648.30,1172052,,11.20,0.6881,"Aug 28, 20",1.584349

In [9]:
symbol_GOOG = "GOOG"
historical_stock_GOOG = f"{base_url_sandbox}{version}{symbol_GOOG}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_GOOG = requests.get(historical_stock_GOOG).json()
results_stock_GOOG = pd.DataFrame(results_stock_GOOG)
results_stock_GOOG

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,648.16,639.87,641.80,631.40,2207176,638.75,646.29,638.60,645.31,2217314,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,598.11,602.45,613.26,606.50,3776336,611.72,626.83,632.78,610.80,3734834,,-21.24,-3.4730,"Sep 1, 15",-0.034524
2,2015-09-02,616.32,624.23,615.10,623.08,2683175,637.36,630.03,644.12,621.04,2648997,,17.17,2.7995,"Sep 2, 15",-0.006478
3,2015-09-03,608.02,631.00,624.91,623.65,1846529,614.24,636.00,626.54,613.05,1804332,,-8.27,-1.3773,"Sep 3, 15",-0.019690
4,2015-09-04,608.70,608.00,632.56,611.51,2167462,621.90,626.00,617.82,617.57,2160997,,-5.69,-0.9388,"Sep 4, 15",-0.029156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,1627.90,1607.87,1686.33,1602.74,1427065,1602.70,1629.74,1627.34,1607.32,1412247,,7.81,0.5020,"Aug 24, 20",1.640748
1255,2020-08-25,1612.25,1657.28,1655.72,1653.15,2202314,1630.99,1656.99,1640.17,1611.72,2215326,,20.11,1.2670,"Aug 25, 20",1.674144
1256,2020-08-26,1734.45,1623.00,1660.39,1627.80,3649006,1716.93,1622.00,1724.10,1630.10,3727265,,45.27,2.8118,"Aug 26, 20",1.748993
1257,2020-08-27,1669.01,1676.93,1674.00,1706.23,1894270,1646.71,1674.43,1700.00,1654.87,1917155,,-18.31,-1.1167,"Aug 27, 20",1.704282
1258,2020-08-28,1653.14,1707.50,1716.44,1652.74,1546748,1665.06,1678.48,1658.76,1707.09,1538520,,10.09,0.6395,"Aug 28, 20",1.681836

In [10]:
symbol_TSLA = "TSLA"
historical_stock_TSLA = f"{base_url_sandbox}{version}{symbol_TSLA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_TSLA = requests.get(historical_stock_TSLA).json()
results_stock_TSLA = pd.DataFrame(results_stock_TSLA)
results_stock_TSLA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,249.84,255.73,255.72,246.43,4887206,257.11,254.05,259.46,249.19,4907865,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,247.78,245.60,258.00,237.82,5655007,242.97,245.56,246.00,237.66,5539404,,-10.63,-4.3424,"Sep 1, 15",-0.042270
2,2015-09-02,250.34,249.10,248.91,244.66,4759323,250.14,252.60,259.51,247.16,4813772,,9.09,3.9784,"Sep 2, 15",-0.005664
3,2015-09-03,249.55,253.19,256.04,247.00,4295232,252.01,255.66,261.43,249.00,4219317,,-2.22,-0.8901,"Sep 3, 15",-0.014643
4,2015-09-04,248.76,243.49,247.12,241.90,3818570,246.91,249.95,250.37,244.40,3727732,,-3.69,-1.5219,"Sep 4, 15",-0.028835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,2084.70,2137.45,2221.00,1974.86,20089692,2015.60,2138.75,2158.00,1993.28,20165060,,-36.30,-1.7797,"Aug 24, 20",7.334335
1255,2020-08-25,2027.06,2072.25,2032.16,2043.00,10791232,2108.90,2063.52,2123.66,1979.00,10849808,,9.52,0.4718,"Aug 25, 20",7.157802
1256,2020-08-26,2182.12,2088.00,2211.00,2064.44,14793376,2237.24,2161.00,2220.00,2099.56,14589108,,131.46,6.4430,"Aug 26, 20",7.741409
1257,2020-08-27,2267.46,2285.92,2354.60,2191.00,23967377,2330.32,2264.42,2320.20,2224.30,23930236,,87.85,4.0105,"Aug 27, 20",8.329351
1258,2020-08-28,2285.70,2409.11,2389.91,2268.48,20133592,2221.30,2394.93,2350.11,2249.21,20765458,,-25.49,-1.1619,"Aug 28, 20",8.258111

In [11]:
symbol_NVDA = "NVDA"
historical_stock_NVDA = f"{base_url_sandbox}{version}{symbol_NVDA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_NVDA = requests.get(historical_stock_NVDA).json()
results_stock_NVDA = pd.DataFrame(results_stock_NVDA)
results_stock_NVDA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,23.20,23.34,23.86,23.38,5659637,22.57,22.95,23.43,23.33,5586654,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,22.15,22.36,23.30,21.50,8973272,22.28,21.84,22.20,22.10,8867875,,-0.95,-4.1097,"Sep 1, 15",-0.041792
2,2015-09-02,22.64,23.17,22.31,22.28,8963250,22.42,22.37,22.27,22.20,8851935,,0.67,3.1655,"Sep 2, 15",-0.012229
3,2015-09-03,22.39,23.52,22.73,22.70,6818995,22.95,23.36,23.72,22.49,6672738,,0.06,0.2796,"Sep 3, 15",-0.009357
4,2015-09-04,22.36,22.31,22.35,22.36,7459815,21.99,22.02,22.32,21.76,7239666,,-0.54,-2.3370,"Sep 4, 15",-0.033561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,512.40,527.76,517.50,521.10,12705042,512.12,530.64,524.80,521.30,12869081,,1.48,0.2964,"Aug 24, 20",22.158412
1255,2020-08-25,534.00,526.14,534.13,503.46,7400436,529.00,507.49,519.72,514.29,7339219,,1.24,0.2366,"Aug 25, 20",21.740986
1256,2020-08-26,511.00,519.77,534.86,530.06,8315209,527.78,521.04,520.67,517.32,8193676,,0.94,0.1830,"Aug 26, 20",21.966770
1257,2020-08-27,517.64,535.35,517.00,511.92,8091588,519.75,524.49,534.00,515.74,8269722,,-5.98,-1.1886,"Aug 27, 20",22.451095
1258,2020-08-28,551.27,515.00,533.84,514.00,13792646,535.14,520.00,543.51,514.10,13683453,,21.71,4.2138,"Aug 28, 20",22.571411

In [12]:
symbol_ADBE = "ADBE"
historical_stock_ADBE = f"{base_url_sandbox}{version}{symbol_ADBE}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ADBE = requests.get(historical_stock_ADBE).json()
results_stock_ADBE = pd.DataFrame(results_stock_ADBE)
results_stock_ADBE

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,82.04,80.83,82.30,81.20,2371306,79.54,82.64,81.00,79.20,2332508,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,78.44,80.32,81.53,77.33,3316227,77.38,80.74,79.67,77.17,3320670,,-2.58,-3.3527,"Sep 1, 15",-0.033662
2,2015-09-02,80.73,78.00,80.13,76.36,3547330,78.36,80.00,80.25,76.38,3632477,,1.28,1.6686,"Sep 2, 15",-0.017000
3,2015-09-03,81.04,79.80,82.68,80.48,3632796,80.47,80.00,82.70,79.20,3561974,,1.11,1.4089,"Sep 3, 15",-0.003277
4,2015-09-04,79.94,78.38,79.94,78.94,2391074,79.04,79.04,78.83,79.24,2359487,,-1.49,-1.8975,"Sep 4, 15",-0.021639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,482.70,480.41,485.33,473.49,1890447,499.20,494.94,483.08,476.56,1895242,,3.20,0.6554,"Aug 24, 20",5.296070
1255,2020-08-25,507.39,489.48,493.07,493.89,4059952,491.65,489.73,505.10,487.17,3993311,,8.41,1.7632,"Aug 25, 20",5.169769
1256,2020-08-26,542.05,505.26,554.80,513.45,7841635,530.47,499.86,552.90,505.90,7815801,,44.17,9.4680,"Aug 26, 20",5.811875
1257,2020-08-27,528.71,530.66,543.17,526.69,3660721,523.28,543.25,533.52,509.82,3694566,,-18.69,-3.5637,"Aug 27, 20",5.512200
1258,2020-08-28,538.02,525.30,530.10,528.87,1941609,529.57,525.18,535.80,511.00,1951322,,6.21,1.2227,"Aug 28, 20",5.609657

In [13]:
symbol_NFLX = "NFLX"
historical_stock_NFLX = f"{base_url_sandbox}{version}{symbol_NFLX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_NFLX = requests.get(historical_stock_NFLX).json()
results_stock_NFLX = pd.DataFrame(results_stock_NFLX)
results_stock_NFLX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,120.02,117.01,118.00,114.33,17435141,119.79,120.86,123.00,119.12,17028206,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,109.44,113.74,116.66,108.07,36591746,108.67,114.45,113.71,105.92,37731107,,-9.31,-8.2381,"Sep 1, 15",-0.083103
2,2015-09-02,107.77,113.69,110.40,104.00,39987441,107.69,113.95,111.50,104.80,39866074,,-0.37,-0.3440,"Sep 2, 15",-0.087360
3,2015-09-03,101.37,106.44,108.34,100.66,30855910,105.25,105.86,108.43,100.75,29728922,,-4.56,-4.2470,"Sep 3, 15",-0.126471
4,2015-09-04,99.41,100.91,100.75,99.93,24728797,102.70,98.62,101.63,97.54,24232920,,-2.29,-2.3244,"Sep 4, 15",-0.141769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,509.47,504.66,508.00,488.53,4837688,504.84,512.43,517.00,500.71,4973994,,-3.60,-0.7220,"Aug 24, 20",3.262757
1255,2020-08-25,509.51,507.76,498.66,491.88,5915822,511.31,492.11,505.24,497.53,5881867,,1.78,0.3695,"Aug 25, 20",3.347100
1256,2020-08-26,565.51,504.10,567.18,494.37,20687841,552.52,495.40,553.05,495.60,21011199,,57.74,11.7952,"Aug 26, 20",3.919144
1257,2020-08-27,545.92,543.12,543.00,533.66,9296629,545.65,551.77,555.00,542.90,9387370,,-22.25,-3.8986,"Aug 27, 20",3.581479
1258,2020-08-28,536.62,550.00,542.00,529.00,4484145,531.52,552.00,539.00,540.00,4627512,,-2.50,-0.4534,"Aug 28, 20",3.588721

In [14]:
symbol_PYPL = "PYPL"
historical_stock_PYPL = f"{base_url_sandbox}{version}{symbol_PYPL}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_PYPL = requests.get(historical_stock_PYPL).json()
results_stock_PYPL = pd.DataFrame(results_stock_PYPL)
results_stock_PYPL

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,35.00,36.60,35.76,35.70,12184888,36.00,36.80,36.98,35.14,12359393,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,34.52,35.74,34.80,33.68,13828737,34.03,35.76,35.79,35.06,13643564,,-1.26,-3.6437,"Sep 1, 15",-0.035171
2,2015-09-02,35.24,34.80,36.13,35.46,7834319,36.78,35.00,35.93,35.43,7591915,,1.30,3.8546,"Sep 2, 15",0.002000
3,2015-09-03,36.28,36.19,36.61,36.34,6959833,36.22,35.44,37.09,35.10,6918360,,0.24,0.7078,"Sep 3, 15",0.009110
4,2015-09-04,35.21,35.72,35.59,35.23,7749219,34.49,36.26,36.32,34.81,7684483,,-1.04,-2.9746,"Sep 4, 15",-0.020366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,207.46,209.00,202.00,198.60,5413194,199.11,206.00,207.40,202.59,5455629,,2.17,1.0630,"Aug 24, 20",4.890099
1255,2020-08-25,204.59,199.67,210.06,203.70,5338609,207.89,208.36,207.60,197.89,5146518,,2.81,1.4449,"Aug 25, 20",4.960000
1256,2020-08-26,209.85,202.87,210.18,208.37,6154279,204.59,209.52,206.85,209.38,6244770,,1.88,0.9027,"Aug 26, 20",5.012874
1257,2020-08-27,207.10,211.14,210.00,204.30,6309850,214.46,211.92,212.00,204.90,6173411,,0.87,0.4300,"Aug 27, 20",4.967719
1258,2020-08-28,212.06,214.48,207.35,205.30,4765601,205.98,209.65,207.59,207.24,4690854,,0.14,0.0719,"Aug 28, 20",4.915214

In [15]:
symbol_INTC = "INTC"
historical_stock_INTC = f"{base_url_sandbox}{version}{symbol_INTC}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_INTC = requests.get(historical_stock_INTC).json()
results_stock_INTC = pd.DataFrame(results_stock_INTC)
results_stock_INTC

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,28.59,28.73,30.26,28.37,43806542,29.66,29.61,29.18,28.37,42576113,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,27.91,28.09,28.46,28.91,45701863,28.88,28.01,29.21,28.61,45539121,,-0.74,-2.6324,"Sep 1, 15",-0.026282
2,2015-09-02,29.30,29.38,29.30,29.00,36024220,29.10,29.28,29.80,29.32,35893381,,0.81,2.8920,"Sep 2, 15",0.002170
3,2015-09-03,29.44,29.10,30.14,29.75,38969493,29.51,30.10,30.52,28.69,39248878,,0.49,1.7239,"Sep 3, 15",0.019418
4,2015-09-04,29.28,29.09,29.10,28.49,29746624,28.75,29.11,29.50,29.25,30373585,,-0.58,-2.0185,"Sep 4, 15",-0.000725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,50.89,50.33,49.90,50.82,36478150,50.89,51.56,50.10,49.68,36753221,,-0.14,-0.2897,"Aug 24, 20",0.757142
1255,2020-08-25,49.43,50.04,52.25,50.84,39901905,49.56,49.87,52.24,49.49,40297146,,0.30,0.6136,"Aug 25, 20",0.744105
1256,2020-08-26,51.23,49.51,51.41,50.92,29164869,51.41,49.95,49.68,49.27,29716956,,0.12,0.2485,"Aug 26, 20",0.764500
1257,2020-08-27,51.40,50.39,51.49,49.76,24771727,50.20,50.16,51.88,49.55,25530977,,-0.15,-0.3090,"Aug 27, 20",0.758740
1258,2020-08-28,51.70,49.70,51.00,50.52,35654223,51.38,50.82,51.20,50.62,35900570,,1.06,2.1490,"Aug 28, 20",0.798828

In [16]:
symbol_CMCSA = "CMCSA"
historical_stock_CMCSA = f"{base_url_sandbox}{version}{symbol_CMCSA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CMCSA = requests.get(historical_stock_CMCSA).json()
results_stock_CMCSA = pd.DataFrame(results_stock_CMCSA)
results_stock_CMCSA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,56.99,56.99,58.75,57.84,10914704,28.53,28.44,29.54,28.68,21394775,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,56.77,57.30,56.20,56.80,16565215,27.85,28.32,28.08,27.80,32484326,,-0.673,-2.4280,"Sep 1, 15",-0.023746
2,2015-09-02,56.05,58.18,57.67,55.71,17795111,28.64,28.80,29.32,28.22,35370210,,0.440,1.6047,"Sep 2, 15",-0.008227
3,2015-09-03,56.83,58.04,57.54,56.74,12683156,29.27,28.42,29.43,28.09,25106409,,0.167,0.6043,"Sep 3, 15",-0.002230
4,2015-09-04,55.87,57.84,57.94,57.30,11943372,28.36,28.41,28.12,28.20,24031834,,-0.219,-0.7750,"Sep 4, 15",-0.010161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,45.30,44.37,44.43,44.59,15638011,44.50,44.05,44.67,43.07,15872175,,0.760,1.7506,"Aug 24, 20",0.568460
1255,2020-08-25,44.43,45.06,44.25,45.00,8465660,45.02,44.96,44.35,44.70,8804617,,-0.390,-0.9067,"Aug 25, 20",0.562795
1256,2020-08-26,45.70,43.22,46.11,44.13,14693351,44.90,44.61,45.93,44.64,14668573,,0.820,1.8396,"Aug 26, 20",0.592093
1257,2020-08-27,45.69,45.34,44.90,45.21,14942363,45.48,45.49,46.10,45.99,14554550,,0.340,0.7698,"Aug 27, 20",0.581399
1258,2020-08-28,44.69,46.70,45.09,45.20,11468783,46.69,46.51,45.56,44.18,11127055,,0.020,0.0453,"Aug 28, 20",0.602602

In [17]:
symbol_PEP = "PEP"
historical_stock_PEP = f"{base_url_sandbox}{version}{symbol_PEP}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_PEP = requests.get(historical_stock_PEP).json()
results_stock_PEP = pd.DataFrame(results_stock_PEP)
results_stock_PEP

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,94.52,94.91,93.41,92.69,5363828,97.37,96.20,97.88,96.79,5521983,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,93.39,92.19,94.86,92.21,8613388,93.67,92.04,95.03,91.07,8781380,,-1.60,-1.7482,"Sep 1, 15",-0.018070
2,2015-09-02,93.59,91.67,95.73,94.83,6181469,95.40,93.41,94.50,92.22,6008754,,0.31,0.3533,"Sep 2, 15",-0.014156
3,2015-09-03,92.78,92.00,96.22,93.39,3880335,92.61,93.00,94.57,94.68,3837674,,0.50,0.5607,"Sep 3, 15",-0.009009
4,2015-09-04,92.81,91.00,93.63,95.14,5729131,92.97,93.00,94.05,93.83,5729948,,-1.21,-1.3427,"Sep 4, 15",-0.022123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,139.16,142.30,141.03,142.13,3304943,137.78,142.30,142.75,142.25,3275860,,1.19,0.8659,"Aug 24, 20",0.499576
1255,2020-08-25,142.70,142.06,145.00,141.40,2665721,142.30,140.47,145.13,142.90,2637293,,-0.36,-0.2510,"Aug 25, 20",0.492658
1256,2020-08-26,142.16,137.68,143.52,137.79,6312671,143.89,138.34,139.04,136.68,6069031,,1.17,0.8844,"Aug 26, 20",0.512014
1257,2020-08-27,140.40,141.15,141.19,143.13,4334837,145.10,144.78,142.32,141.98,4196233,,-0.07,-0.0510,"Aug 27, 20",0.507177
1258,2020-08-28,140.78,139.26,140.46,143.62,3462001,141.12,139.44,144.58,140.60,3426090,,1.60,1.1182,"Aug 28, 20",0.506867

In [18]:
symbol_CSCO = "CSCO"
historical_stock_CSCO = f"{base_url_sandbox}{version}{symbol_CSCO}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CSCO = requests.get(historical_stock_CSCO).json()
results_stock_CSCO = pd.DataFrame(results_stock_CSCO)
results_stock_CSCO

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,27.06,27.17,26.69,25.75,32911116,26.55,27.18,27.14,26.56,33073863,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,25.62,25.64,26.86,26.03,33670640,25.40,25.23,26.30,26.06,34015954,,-0.77,-3.0700,"Sep 1, 15",-0.029553
2,2015-09-02,26.34,26.23,26.31,25.56,28415393,26.03,25.75,26.38,26.13,28169974,,0.55,2.1649,"Sep 2, 15",-0.009156
3,2015-09-03,26.60,26.81,26.50,26.97,28236357,26.20,26.93,26.65,26.08,28908335,,0.26,0.9774,"Sep 3, 15",0.000798
4,2015-09-04,26.10,26.20,26.65,25.82,27748864,26.10,26.31,26.13,25.73,27674749,,-0.40,-1.4929,"Sep 4, 15",-0.014200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,43.42,44.10,44.56,43.00,18132323,42.50,42.66,43.68,43.00,18403503,,-0.07,-0.1718,"Aug 24, 20",0.647150
1255,2020-08-25,41.97,42.81,42.40,43.58,15652330,42.63,44.30,42.40,42.90,15969850,,-0.23,-0.5468,"Aug 25, 20",0.634818
1256,2020-08-26,42.42,41.76,42.42,42.03,22479947,42.25,42.78,42.87,42.31,22558857,,0.30,0.7200,"Aug 26, 20",0.650929
1257,2020-08-27,44.38,43.30,44.36,43.20,22866973,43.01,43.20,43.45,43.68,23266406,,0.04,0.0980,"Aug 27, 20",0.657020
1258,2020-08-28,44.20,43.85,44.30,43.00,17250570,43.10,42.85,44.00,43.00,16784708,,-0.09,-0.2140,"Aug 28, 20",0.633633

In [19]:
symbol_COST = "COST"
historical_stock_COST = f"{base_url_sandbox}{version}{symbol_COST}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_COST = requests.get(historical_stock_COST).json()
results_stock_COST = pd.DataFrame(results_stock_COST)
results_stock_COST

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,144.90,140.06,141.53,144.04,3058702,144.74,139.82,144.36,145.23,3120856,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,143.00,141.44,142.70,140.60,3038425,144.90,141.68,140.20,143.00,3070410,,-1.81,-1.2929,"Sep 1, 15",-0.012629
2,2015-09-02,140.86,143.95,142.72,142.48,1841771,147.11,143.94,146.60,144.74,1846883,,2.17,1.5665,"Sep 2, 15",0.002671
3,2015-09-03,142.12,141.31,143.40,141.60,1647208,147.29,144.88,146.20,144.30,1679575,,0.06,0.0432,"Sep 3, 15",0.003110
4,2015-09-04,141.27,139.10,145.78,142.20,2129640,141.02,139.30,140.05,144.79,2189711,,-2.00,-1.4878,"Sep 4, 15",-0.011460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,359.83,359.20,348.30,349.95,1533091,358.27,355.01,349.11,350.23,1489154,,-0.49,-0.1397,"Aug 24, 20",1.515773
1255,2020-08-25,355.74,360.92,345.16,346.10,1178392,349.85,344.33,359.29,345.59,1215255,,0.59,0.1738,"Aug 25, 20",1.474999
1256,2020-08-26,346.43,353.55,351.27,356.61,1815170,361.15,347.95,346.85,353.96,1764721,,-0.45,-0.1282,"Aug 26, 20",1.475524
1257,2020-08-27,346.83,359.63,348.24,359.66,2232859,349.69,354.02,363.62,356.77,2313714,,2.13,0.6340,"Aug 27, 20",1.508616
1258,2020-08-28,354.61,347.81,349.61,357.00,1501689,351.38,358.87,360.05,362.20,1514452,,2.03,0.5857,"Aug 28, 20",1.492744

In [20]:
symbol_AMGN = "AMGN"
historical_stock_AMGN = f"{base_url_sandbox}{version}{symbol_AMGN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_AMGN = requests.get(historical_stock_AMGN).json()
results_stock_AMGN = pd.DataFrame(results_stock_AMGN)
results_stock_AMGN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,155.11,162.56,158.37,154.80,4433544,158.89,160.07,157.81,153.60,4363795,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,154.54,151.91,154.35,152.93,5647300,154.18,149.88,157.45,151.89,5526466,,-4.52,-2.9311,"Sep 1, 15",-0.029601
2,2015-09-02,157.72,149.55,154.62,151.89,4549607,155.88,154.99,155.50,147.54,4343087,,4.90,3.3383,"Sep 2, 15",0.003390
3,2015-09-03,154.94,152.78,156.55,154.76,2873347,152.91,152.73,159.42,153.98,2874179,,-3.20,-2.1015,"Sep 3, 15",-0.017330
4,2015-09-04,149.63,149.06,154.70,147.52,3513535,151.72,150.35,149.90,146.43,3427290,,-2.21,-1.5057,"Sep 4, 15",-0.031934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,244.21,249.32,238.75,236.16,1602750,243.38,238.17,239.23,243.99,1576317,,-2.10,-0.8842,"Aug 24, 20",0.563412
1255,2020-08-25,248.28,251.20,257.88,244.40,6420974,249.07,247.90,251.39,243.50,6610240,,12.78,5.4800,"Aug 25, 20",0.652410
1256,2020-08-26,254.73,248.73,259.45,249.73,3179332,255.46,257.29,263.03,246.36,3243050,,2.02,0.7980,"Aug 26, 20",0.675271
1257,2020-08-27,254.63,256.08,260.52,260.83,4108038,257.10,256.38,265.68,260.81,4102743,,2.63,1.0572,"Aug 27, 20",0.679387
1258,2020-08-28,263.08,263.50,261.20,250.80,12938833,255.84,260.30,266.20,253.62,12922306,,0.32,0.1267,"Aug 28, 20",0.669488

In [21]:
symbol_TMUS = "TMUS"
historical_stock_TMUS = f"{base_url_sandbox}{version}{symbol_TMUS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_TMUS = requests.get(historical_stock_TMUS).json()
results_stock_TMUS = pd.DataFrame(results_stock_TMUS)
results_stock_TMUS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,40.16,41.59,41.08,39.48,2227005,40.08,40.07,41.87,40.62,2275492,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,39.39,39.67,41.51,40.46,2462000,40.17,39.79,39.61,39.55,2409506,,-0.66,-1.7140,"Sep 1, 15",-0.016610
2,2015-09-02,39.58,40.69,39.97,39.99,2228127,39.45,40.76,39.76,40.21,2256487,,0.37,0.9600,"Sep 2, 15",-0.007682
3,2015-09-03,40.72,41.24,40.80,40.83,1860933,41.21,40.95,41.54,40.33,1916463,,0.13,0.3411,"Sep 3, 15",-0.004159
4,2015-09-04,40.24,40.58,40.14,39.33,1217469,40.11,39.28,40.40,39.84,1233297,,-0.23,-0.6050,"Sep 4, 15",-0.009861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,117.08,115.92,121.54,118.07,2833476,116.90,116.30,116.83,116.07,2745389,,0.25,0.2220,"Aug 24, 20",1.988154
1255,2020-08-25,116.57,120.45,118.74,118.00,2371608,116.69,116.05,117.59,114.70,2369822,,0.15,0.1349,"Aug 25, 20",2.005269
1256,2020-08-26,118.82,115.96,117.82,117.97,3036420,121.10,117.11,116.78,115.36,2965401,,0.82,0.6935,"Aug 26, 20",1.942050
1257,2020-08-27,116.16,117.55,120.30,120.00,2481546,118.11,121.72,120.10,119.00,2466596,,-0.96,-0.8188,"Aug 27, 20",1.916485
1258,2020-08-28,117.13,116.16,121.79,118.21,2862760,118.83,116.54,118.37,115.49,2909070,,1.03,0.9029,"Aug 28, 20",2.026791

In [22]:
symbol_AVGO = "AVGO"
historical_stock_AVGO = f"{base_url_sandbox}{version}{symbol_AVGO}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_AVGO = requests.get(historical_stock_AVGO).json()
results_stock_AVGO = pd.DataFrame(results_stock_AVGO)
results_stock_AVGO

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,125.98,130.21,132.16,126.00,3048555,131.02,129.25,132.23,126.00,3051551,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,122.65,126.53,128.90,120.10,5103411,120.75,122.01,129.74,122.10,5201845,,-6.60,-5.4767,"Sep 1, 15",-0.054171
2,2015-09-02,126.09,124.80,126.58,124.39,3807172,124.08,122.88,129.46,123.22,3714311,,4.84,4.0091,"Sep 2, 15",-0.015549
3,2015-09-03,127.97,129.90,128.40,126.44,3025824,126.48,127.50,129.10,127.81,3015503,,-0.27,-0.2191,"Sep 3, 15",-0.017784
4,2015-09-04,126.04,123.51,129.47,120.85,2528883,121.20,125.95,125.64,122.84,2522105,,-2.66,-2.1758,"Sep 4, 15",-0.038760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,346.00,335.59,338.40,335.57,1257031,339.00,340.09,339.53,346.15,1211542,,4.04,1.2080,"Aug 24, 20",1.717615
1255,2020-08-25,342.17,339.00,338.16,349.00,1135024,346.82,351.00,350.76,341.00,1149127,,2.20,0.6632,"Aug 25, 20",1.722028
1256,2020-08-26,340.91,337.83,353.66,333.88,1504555,347.84,336.01,346.52,344.72,1528536,,3.62,1.0644,"Aug 26, 20",1.779445
1257,2020-08-27,354.12,346.84,356.20,352.84,1298535,340.58,346.80,341.30,343.63,1317412,,-0.54,-0.1570,"Aug 27, 20",1.707903
1258,2020-08-28,346.51,356.00,361.34,341.90,1503798,359.11,351.00,361.83,341.10,1525459,,5.82,1.6996,"Aug 28, 20",1.787120

In [23]:
symbol_TXN = "TXN"
historical_stock_TXN = f"{base_url_sandbox}{version}{symbol_TXN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_TXN = requests.get(historical_stock_TXN).json()
results_stock_TXN = pd.DataFrame(results_stock_TXN)
results_stock_TXN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,48.11,49.71,50.33,48.51,10407205,48.57,49.29,50.48,49.61,10264277,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,46.63,47.70,48.73,46.23,13299599,48.19,48.50,48.45,47.23,13568456,,-1.50,-3.1650,"Sep 1, 15",-0.031652
2,2015-09-02,48.90,47.64,47.60,48.69,6029437,48.68,47.82,48.57,46.65,6165483,,1.06,2.2098,"Sep 2, 15",-0.010541
3,2015-09-03,49.55,48.35,49.10,49.05,5542870,47.60,48.26,49.15,48.84,5390821,,0.11,0.2357,"Sep 3, 15",-0.008058
4,2015-09-04,47.17,46.88,48.44,47.00,6798696,48.64,48.50,47.78,48.34,6843399,,-0.93,-2.0237,"Sep 4, 15",-0.028168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,145.97,146.47,144.01,143.77,2934494,144.45,146.96,147.95,141.73,2974974,,0.72,0.5012,"Aug 24, 20",2.020276
1255,2020-08-25,143.29,147.08,146.78,144.83,2933201,145.82,147.50,146.14,144.54,2916200,,0.65,0.4669,"Aug 25, 20",2.034160
1256,2020-08-26,149.21,144.23,149.15,142.98,2996157,144.98,144.16,147.38,145.04,3006495,,0.79,0.5736,"Aug 26, 20",2.031014
1257,2020-08-27,146.79,149.88,148.68,141.99,2813971,143.61,148.31,143.30,146.42,2905169,,-0.97,-0.6880,"Aug 27, 20",1.959883
1258,2020-08-28,150.07,146.61,146.48,146.30,3003462,147.80,144.15,145.74,144.70,2999684,,2.00,1.4551,"Aug 28, 20",2.090069

In [24]:
symbol_QCOM = "QCOM"
historical_stock_QCOM = f"{base_url_sandbox}{version}{symbol_QCOM}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_QCOM = requests.get(historical_stock_QCOM).json()
results_stock_QCOM = pd.DataFrame(results_stock_QCOM)
results_stock_QCOM

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,58.33,59.08,58.59,58.48,10290830,56.64,58.81,59.65,58.40,10102952,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,57.47,55.96,57.09,55.03,13568289,57.72,57.18,56.68,54.91,13368843,,-1.62,-2.8115,"Sep 1, 15",-0.028312
2,2015-09-02,57.90,58.35,56.43,55.96,11791414,56.20,57.09,56.59,57.39,11775977,,0.85,1.5908,"Sep 2, 15",-0.013139
3,2015-09-03,56.27,58.31,58.97,56.50,10939875,56.90,57.59,57.41,55.69,11175588,,-0.31,-0.5740,"Sep 3, 15",-0.018841
4,2015-09-04,55.92,57.61,56.30,56.28,11963472,56.85,57.45,56.10,54.32,11949012,,-1.30,-2.2775,"Sep 4, 15",-0.041502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,120.88,118.87,116.00,117.29,10357838,116.80,115.16,121.00,117.89,10445447,,2.97,2.6724,"Aug 24, 20",1.098270
1255,2020-08-25,118.94,121.49,120.50,117.54,6485438,117.87,118.46,121.00,118.97,6460895,,0.04,0.0346,"Aug 25, 20",1.084995
1256,2020-08-26,121.54,117.91,119.97,116.66,7512654,119.36,117.50,120.58,116.24,7818840,,0.09,0.0804,"Aug 26, 20",1.094750
1257,2020-08-27,120.15,122.05,122.03,117.90,8444751,118.37,122.19,123.56,119.54,8277740,,-0.02,-0.0172,"Aug 27, 20",1.065725
1258,2020-08-28,120.50,122.27,122.48,119.80,6459397,118.90,116.80,119.36,116.84,6554724,,2.19,1.9680,"Aug 28, 20",1.130092

In [25]:
symbol_CHTR = "CHTR"
historical_stock_CHTR = f"{base_url_sandbox}{version}{symbol_CHTR}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CHTR = requests.get(historical_stock_CHTR).json()
results_stock_CHTR = pd.DataFrame(results_stock_CHTR)
results_stock_CHTR

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,187.12,186.12,189.77,184.92,1410125,205.19,202.03,203.38,205.24,1275777,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,181.79,187.99,191.82,177.50,1773322,203.33,200.96,216.00,201.79,1568750,,-4.280,-2.1800,"Sep 1, 15",-0.022000
2,2015-09-02,183.01,179.30,181.51,184.88,898840,202.47,204.28,207.95,198.83,832880,,2.160,1.0949,"Sep 2, 15",-0.010820
3,2015-09-03,187.24,190.00,190.70,189.43,1234340,203.43,207.20,209.88,206.28,1068502,,3.660,1.8079,"Sep 3, 15",0.007230
4,2015-09-04,187.63,182.90,192.88,188.77,748460,209.43,202.65,207.56,207.19,687933,,0.155,0.0785,"Sep 4, 15",0.008012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,617.12,617.94,633.77,621.51,1115314,620.26,614.60,635.64,625.50,1096920,,-1.460,-0.2402,"Aug 24, 20",2.126315
1255,2020-08-25,638.78,639.76,633.18,631.22,1152446,637.49,646.52,632.62,618.85,1161481,,-2.870,-0.4640,"Aug 25, 20",2.049965
1256,2020-08-26,629.63,607.71,634.36,610.13,938946,638.51,607.47,625.15,607.80,944710,,4.830,0.7985,"Aug 26, 20",2.114133
1257,2020-08-27,627.53,627.27,623.20,626.62,885383,629.45,621.33,642.65,634.61,898577,,-0.280,-0.0441,"Aug 27, 20",2.149559
1258,2020-08-28,635.65,633.51,628.00,633.34,637822,638.13,641.94,617.50,620.68,649881,,1.380,0.2230,"Aug 28, 20",2.085819

In [26]:
symbol_AMD = "AMD"
historical_stock_AMD = f"{base_url_sandbox}{version}{symbol_AMD}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_AMD = requests.get(historical_stock_AMD).json()
results_stock_AMD = pd.DataFrame(results_stock_AMD)
results_stock_AMD

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,1.84,1.90,1.91,1.81,6815800,1.83,1.90,1.96,1.86,6645911,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,1.73,1.79,1.83,1.74,8522886,1.78,1.84,1.84,1.73,8733053,,-0.10,-5.5974,"Sep 1, 15",-0.057969
2,2015-09-02,1.84,1.78,1.80,1.80,6430931,1.82,1.81,1.84,1.78,6448306,,0.06,3.5352,"Sep 2, 15",-0.022936
3,2015-09-03,1.86,1.84,1.91,1.84,7393655,1.87,1.81,1.93,1.77,7330508,,0.02,1.1340,"Sep 3, 15",-0.011120
4,2015-09-04,1.82,1.84,1.92,1.79,6844013,1.88,1.85,1.88,1.82,6726588,,0.03,1.7130,"Sep 4, 15",0.005696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,86.59,86.87,88.55,83.30,38680496,86.27,87.70,89.12,83.59,39346504,,-0.76,-0.8960,"Aug 24, 20",46.459414
1255,2020-08-25,86.65,85.62,89.15,86.13,50602837,88.80,84.56,90.83,82.38,51184819,,3.29,4.0880,"Aug 25, 20",48.559633
1256,2020-08-26,88.83,90.78,88.91,87.30,48892764,90.25,87.23,90.55,88.80,47351316,,-0.34,-0.3856,"Aug 26, 20",48.152146
1257,2020-08-27,86.00,88.10,88.23,86.36,44228085,84.20,90.56,87.18,84.68,43643455,,-2.31,-2.5936,"Aug 27, 20",45.859401
1258,2020-08-28,86.61,84.60,90.06,86.65,42254022,88.97,84.60,89.69,88.33,41678802,,1.80,2.1083,"Aug 28, 20",47.411312

In [27]:
symbol_SBUX = "SBUX"
historical_stock_SBUX = f"{base_url_sandbox}{version}{symbol_SBUX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_SBUX = requests.get(historical_stock_SBUX).json()
results_stock_SBUX = pd.DataFrame(results_stock_SBUX)
results_stock_SBUX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,54.78,55.51,58.15,56.40,8064651,57.14,57.13,57.23,55.00,8139195,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,55.00,55.00,55.92,53.07,13594031,54.40,53.00,54.61,53.41,13473114,,-1.24,-2.3009,"Sep 1, 15",-0.022482
2,2015-09-02,55.33,56.00,56.27,55.64,9905863,55.62,56.70,56.56,54.40,9953688,,1.76,3.4464,"Sep 2, 15",0.010066
3,2015-09-03,55.67,58.06,55.92,55.80,8194112,56.48,57.46,58.20,56.98,8015725,,-0.60,-1.0464,"Sep 3, 15",-0.000384
4,2015-09-04,55.73,53.96,54.92,54.92,7270431,56.86,55.30,54.92,55.83,7189739,,-0.42,-0.7796,"Sep 4, 15",-0.007870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,80.80,81.02,82.62,77.55,6102352,82.22,79.26,82.95,78.44,6124881,,1.64,2.1850,"Aug 24, 20",0.453886
1255,2020-08-25,85.80,82.80,86.53,82.01,18093307,86.59,83.37,86.89,82.18,18418772,,4.14,5.2853,"Aug 25, 20",0.537432
1256,2020-08-26,83.52,85.19,86.20,85.26,8047473,85.52,85.17,83.88,82.47,8131338,,-0.31,-0.3764,"Aug 26, 20",0.511729
1257,2020-08-27,84.13,85.79,87.14,82.90,9100931,84.45,83.94,86.20,85.20,9270207,,1.00,1.2390,"Aug 27, 20",0.533540
1258,2020-08-28,85.00,86.79,87.25,84.09,9364905,87.00,83.98,88.99,84.69,9471699,,1.59,1.9290,"Aug 28, 20",0.571904

In [28]:
symbol_INTU = "INTU"
historical_stock_INTU = f"{base_url_sandbox}{version}{symbol_INTU}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_INTU = requests.get(historical_stock_INTU).json()
results_stock_INTU = pd.DataFrame(results_stock_INTU)
results_stock_INTU

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,88.47,89.59,87.94,88.05,3354036,89.80,85.98,90.09,88.03,3430640,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,84.10,83.71,85.84,84.50,3829024,87.10,83.79,85.67,83.20,3884553,,-1.72,-1.9559,"Sep 1, 15",-0.019573
2,2015-09-02,89.74,87.73,87.63,88.00,2759842,86.57,86.59,89.82,84.14,2800392,,1.76,2.0915,"Sep 2, 15",0.000956
3,2015-09-03,87.53,90.03,89.22,86.28,3387839,87.56,86.33,88.78,85.98,3243171,,0.22,0.2540,"Sep 3, 15",0.003443
4,2015-09-04,87.03,88.21,90.10,86.75,3276904,85.69,87.70,88.25,86.84,3325336,,-0.94,-1.0698,"Sep 4, 15",-0.007280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,342.81,341.53,338.90,333.14,2188260,339.21,330.42,348.86,327.23,2120910,,10.92,3.5354,"Aug 24, 20",3.001507
1255,2020-08-25,343.53,334.30,337.73,344.08,1734969,348.49,338.60,346.93,333.49,1783208,,3.40,1.0295,"Aug 25, 20",2.957335
1256,2020-08-26,356.18,362.70,370.00,340.22,3154691,354.27,365.33,377.00,339.47,3178998,,6.17,1.8023,"Aug 26, 20",3.060130
1257,2020-08-27,349.00,349.61,361.59,350.48,1928419,354.00,347.81,361.29,353.76,1972690,,2.67,0.7870,"Aug 27, 20",3.106091
1258,2020-08-28,360.39,363.03,354.86,359.25,1224974,362.92,354.92,355.45,347.01,1243359,,1.13,0.3263,"Aug 28, 20",3.162571

In [29]:
symbol_MDLZ = "MDLZ"
historical_stock_MDLZ = f"{base_url_sandbox}{version}{symbol_MDLZ}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MDLZ = requests.get(historical_stock_MDLZ).json()
results_stock_MDLZ = pd.DataFrame(results_stock_MDLZ)
results_stock_MDLZ

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,42.57,43.36,43.79,42.69,9691555,42.37,43.80,44.72,43.00,9693700,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,42.09,42.60,44.00,42.18,12983950,41.44,42.28,44.00,40.88,12757089,,-1.39,-3.3050,"Sep 1, 15",-0.033220
2,2015-09-02,44.07,43.24,44.10,42.75,14275715,42.45,41.78,42.50,43.10,13854271,,1.30,3.1829,"Sep 2, 15",-0.002180
3,2015-09-03,45.25,43.99,45.94,43.85,15225561,45.29,44.48,45.62,42.61,15843783,,0.98,2.3887,"Sep 3, 15",0.021749
4,2015-09-04,44.12,42.73,44.14,42.70,12035744,43.50,42.99,43.79,43.00,11608713,,-0.68,-1.5660,"Sep 4, 15",0.004958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,59.51,57.72,60.00,58.06,4529986,59.30,57.61,61.00,59.73,4527292,,0.53,0.9084,"Aug 24, 20",0.372510
1255,2020-08-25,59.99,59.43,60.53,58.62,4965373,59.67,60.65,61.08,59.16,4969126,,-0.09,-0.1612,"Aug 25, 20",0.380990
1256,2020-08-26,60.69,57.99,60.80,58.97,5001553,59.17,58.17,59.80,59.08,4971577,,0.48,0.8166,"Aug 26, 20",0.387619
1257,2020-08-27,59.85,60.14,60.20,58.43,4608834,60.85,61.03,60.95,59.78,4649250,,-0.24,-0.4040,"Aug 27, 20",0.388028
1258,2020-08-28,59.56,59.00,58.57,60.38,4015141,60.14,61.00,58.60,57.86,3943444,,0.19,0.3149,"Aug 28, 20",0.376960

In [30]:
symbol_GILD = "GILD"
historical_stock_GILD = f"{base_url_sandbox}{version}{symbol_GILD}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_GILD = requests.get(historical_stock_GILD).json()
results_stock_GILD = pd.DataFrame(results_stock_GILD)
results_stock_GILD

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,105.07,111.20,111.98,107.41,12211754,105.08,108.94,112.93,106.02,12260750,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,104.68,106.83,107.09,103.00,13887263,102.49,103.07,106.48,102.00,13550559,,-3.70,-3.4951,"Sep 1, 15",-0.035058
2,2015-09-02,105.58,105.65,106.20,102.18,11608727,106.73,108.40,105.20,102.95,12041810,,2.84,2.8274,"Sep 2, 15",-0.007820
3,2015-09-03,104.19,109.36,106.00,104.02,10192962,104.11,108.79,106.00,105.36,10053472,,-2.44,-2.3095,"Sep 3, 15",-0.031468
4,2015-09-04,103.50,103.60,105.22,101.29,10534890,103.40,102.60,104.82,105.29,10482906,,0.16,0.1498,"Sep 4, 15",-0.029559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,68.36,68.48,68.03,67.08,8658766,69.18,66.39,67.15,68.34,8692917,,-0.43,-0.6625,"Aug 24, 20",-0.373852
1255,2020-08-25,67.73,68.01,67.06,66.67,7763315,68.91,66.81,68.13,67.83,7753941,,-0.03,-0.0466,"Aug 25, 20",-0.374206
1256,2020-08-26,66.10,68.35,66.08,67.74,7712029,68.30,66.26,66.98,65.64,7526836,,-0.47,-0.6979,"Aug 26, 20",-0.376525
1257,2020-08-27,66.35,66.87,66.05,65.51,8151136,67.36,67.37,65.91,67.72,7967010,,-0.05,-0.0797,"Aug 27, 20",-0.394900
1258,2020-08-28,67.90,65.56,65.86,65.57,6982510,66.41,67.51,66.33,67.89,6959992,,-0.29,-0.4528,"Aug 28, 20",-0.383320

In [31]:
symbol_ISRG = "ISRG"
historical_stock_ISRG = f"{base_url_sandbox}{version}{symbol_ISRG}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ISRG = requests.get(historical_stock_ISRG).json()
results_stock_ISRG = pd.DataFrame(results_stock_ISRG)
results_stock_ISRG

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,523.68,529.95,529.00,517.87,230198,175.18,178.36,175.97,174.79,702135,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,504.21,518.91,512.05,499.00,417004,171.59,174.33,170.03,170.00,1241811,,-2.53,-1.4872,"Sep 1, 15",-0.014854
2,2015-09-02,536.16,515.94,516.60,504.50,235161,178.16,173.69,177.00,175.10,716954,,2.68,1.5425,"Sep 2, 15",0.000367
3,2015-09-03,529.13,526.05,541.55,531.86,266618,173.15,174.91,180.93,175.48,771983,,0.90,0.5307,"Sep 3, 15",0.005479
4,2015-09-04,515.80,517.57,515.07,508.34,211549,172.42,173.60,170.74,174.95,643444,,-1.83,-1.0612,"Sep 4, 15",-0.005146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,726.29,721.00,713.93,707.98,553403,696.08,732.00,702.48,700.93,537940,,1.90,0.2812,"Aug 24, 20",3.154042
1255,2020-08-25,706.70,700.86,735.67,723.48,499044,705.70,697.39,731.54,699.46,505221,,3.79,0.5590,"Aug 25, 20",3.236035
1256,2020-08-26,730.45,726.00,705.09,708.81,524274,730.81,729.00,716.52,708.22,535776,,0.51,0.0735,"Aug 26, 20",3.200671
1257,2020-08-27,731.16,725.47,721.89,713.88,877795,744.70,721.66,747.03,719.24,891701,,9.80,1.3535,"Aug 27, 20",3.207517
1258,2020-08-28,738.37,720.96,757.21,735.24,647297,750.90,748.95,737.49,741.12,679046,,17.79,2.5186,"Aug 28, 20",3.396880

In [32]:
symbol_BKNG = "BKNG"
historical_stock_BKNG = f"{base_url_sandbox}{version}{symbol_BKNG}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_BKNG = requests.get(historical_stock_BKNG).json()
results_stock_BKNG = pd.DataFrame(results_stock_BKNG)
results_stock_BKNG

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,1252.63,1277.93,1269.06,1251.88,481976,1290.96,1309.38,1265.91,1302.10,491072,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,1257.17,1250.28,1280.00,1212.60,584189,1256.79,1231.94,1283.00,1234.94,594927,,-33.35,-2.7396,"Sep 1, 15",-0.026726
2,2015-09-02,1255.01,1264.27,1272.61,1236.39,430756,1277.86,1291.43,1298.21,1226.55,426401,,27.88,2.3416,"Sep 2, 15",-0.004686
3,2015-09-03,1278.61,1288.74,1277.02,1246.60,550172,1264.41,1291.85,1320.63,1273.20,558455,,-2.50,-0.2083,"Sep 3, 15",-0.006781
4,2015-09-04,1283.37,1272.81,1306.30,1240.59,619234,1299.93,1245.57,1258.80,1239.74,616051,,4.95,0.4067,"Sep 4, 15",-0.002782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,1843.03,1848.68,1873.16,1864.25,370554,1897.51,1806.28,1852.60,1823.43,364727,,56.13,3.1911,"Aug 24, 20",0.482390
1255,2020-08-25,1890.20,1860.47,1882.36,1849.82,314359,1857.60,1916.33,1881.97,1819.71,313891,,20.13,1.0839,"Aug 25, 20",0.500475
1256,2020-08-26,1935.03,1916.20,1951.15,1845.04,402618,1914.49,1892.10,1938.23,1882.68,402142,,13.55,0.7156,"Aug 26, 20",0.500105
1257,2020-08-27,1939.00,1927.76,1930.75,1909.70,417734,1961.40,1899.02,1948.84,1959.54,401996,,27.59,1.4440,"Aug 27, 20",0.521370
1258,2020-08-28,2002.53,1925.73,1994.87,1949.29,326775,1989.20,1922.21,1959.90,1927.15,331907,,52.25,2.8370,"Aug 28, 20",0.569810

In [33]:
symbol_JD = "JD"
historical_stock_JD = f"{base_url_sandbox}{version}{symbol_JD}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_JD = requests.get(historical_stock_JD).json()
results_stock_JD = pd.DataFrame(results_stock_JD)
results_stock_JD

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,26.12,27.29,27.50,26.22,10727659,26.17,27.52,27.60,26.04,10503390,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,25.29,25.25,26.88,25.33,11012869,25.40,26.38,26.14,25.25,10793508,,-1.00,-4.0240,"Sep 1, 15",-0.039150
2,2015-09-02,26.07,26.10,26.66,24.39,7383331,25.75,25.64,26.90,24.78,7397979,,-0.01,-0.0409,"Sep 2, 15",-0.039490
3,2015-09-03,24.63,25.21,25.65,24.49,9758455,24.45,25.03,25.49,24.98,9843012,,-0.47,-1.9240,"Sep 3, 15",-0.058271
4,2015-09-04,23.47,24.00,25.29,23.37,15031108,23.78,25.00,25.35,22.97,14754131,,-1.70,-6.8551,"Sep 4, 15",-0.121756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,76.29,79.21,80.70,78.28,12578632,77.70,78.32,77.40,77.32,12624510,,1.20,1.6480,"Aug 24, 20",2.011029
1255,2020-08-25,81.31,77.40,82.54,79.44,19292995,81.46,80.14,82.49,78.32,19614457,,2.90,3.8187,"Aug 25, 20",2.118940
1256,2020-08-26,81.65,83.98,83.47,81.83,19657363,84.37,83.44,85.17,80.25,19891835,,1.46,1.8111,"Aug 26, 20",2.112352
1257,2020-08-27,81.20,81.59,81.49,79.23,12761445,80.60,83.35,82.23,81.07,12866930,,-1.09,-1.4045,"Aug 27, 20",2.115357
1258,2020-08-28,82.43,82.92,82.60,81.46,8123516,81.61,80.40,82.65,80.27,8037666,,0.69,0.8347,"Aug 28, 20",2.180343

In [34]:
symbol_VRTX = "VRTX"
historical_stock_VRTX = f"{base_url_sandbox}{version}{symbol_VRTX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_VRTX = requests.get(historical_stock_VRTX).json()
results_stock_VRTX = pd.DataFrame(results_stock_VRTX)
results_stock_VRTX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,129.33,137.48,137.28,132.44,1774680,132.55,135.23,135.59,128.65,1780671,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,127.72,126.37,131.78,128.00,2073884,129.36,126.63,132.89,123.00,2039819,,-3.49,-2.7900,"Sep 1, 15",-0.028040
2,2015-09-02,130.00,131.38,133.80,127.00,1558684,131.00,127.07,130.90,128.00,1489791,,5.07,4.0654,"Sep 2, 15",0.012113
3,2015-09-03,131.93,132.66,134.06,127.38,1033815,131.91,135.63,134.72,126.97,1044414,,-2.55,-1.9339,"Sep 3, 15",-0.007774
4,2015-09-04,131.74,126.20,131.86,128.84,1241682,129.47,127.00,131.23,127.39,1271548,,0.47,0.3747,"Sep 4, 15",-0.004198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,273.41,272.00,281.86,272.65,1045136,267.48,275.80,277.52,269.93,1055680,,-3.95,-1.4623,"Aug 24, 20",1.151131
1255,2020-08-25,284.55,277.86,273.84,270.23,1327796,285.12,278.04,277.99,275.00,1354666,,5.06,1.9103,"Aug 25, 20",1.166819
1256,2020-08-26,281.49,285.66,275.25,277.05,886247,279.90,277.78,282.94,278.69,883242,,-1.08,-0.3984,"Aug 26, 20",1.174756
1257,2020-08-27,277.28,277.36,289.35,278.77,1001271,286.57,280.12,278.74,279.36,978218,,3.19,1.1377,"Aug 27, 20",1.188329
1258,2020-08-28,282.29,281.36,276.11,279.60,850821,274.16,284.53,277.85,280.50,838364,,-4.43,-1.6362,"Aug 28, 20",1.161135

In [35]:
symbol_FISV = "FISV"
historical_stock_FISV = f"{base_url_sandbox}{version}{symbol_FISV}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_FISV = requests.get(historical_stock_FISV).json()
results_stock_FISV = pd.DataFrame(results_stock_FISV)
results_stock_FISV

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,85.92,86.62,89.48,85.51,1276728,43.87,44.54,44.51,43.31,2497040,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,83.52,86.93,84.20,82.90,1513873,43.34,43.40,42.32,42.90,2972619,,-1.200,-2.9309,"Sep 1, 15",-0.028769
2,2015-09-02,88.85,84.01,87.82,85.79,1539538,44.29,42.89,43.10,42.24,3171075,,1.190,2.8421,"Sep 2, 15",-0.001072
3,2015-09-03,87.89,89.85,87.27,86.00,1149628,44.97,44.52,44.69,43.90,2294099,,0.276,0.6650,"Sep 3, 15",0.005593
4,2015-09-04,86.81,84.41,85.72,84.40,1156813,42.41,42.25,43.22,42.24,2398228,,-0.810,-1.9394,"Sep 4, 15",-0.013989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,98.72,98.34,101.75,98.78,7034621,97.91,98.50,99.63,96.13,6997978,,0.610,0.6420,"Aug 24, 20",1.304523
1255,2020-08-25,100.78,100.02,99.20,100.25,3748685,99.67,101.45,103.27,98.41,3804935,,2.030,2.1140,"Aug 25, 20",1.315930
1256,2020-08-26,100.27,103.36,103.70,98.03,3019379,100.96,99.52,103.50,99.86,3049220,,-0.300,-0.3065,"Aug 26, 20",1.353053
1257,2020-08-27,100.00,103.76,102.82,99.95,5059625,103.00,103.28,101.98,97.80,5108966,,1.070,1.0963,"Aug 27, 20",1.351826
1258,2020-08-28,100.60,103.95,102.75,101.43,3150490,100.26,101.88,102.43,101.92,3151926,,1.210,1.2216,"Aug 28, 20",1.399381

In [36]:
symbol_ATVI = "ATVI"
historical_stock_ATVI = f"{base_url_sandbox}{version}{symbol_ATVI}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ATVI = requests.get(historical_stock_ATVI).json()
results_stock_ATVI = pd.DataFrame(results_stock_ATVI)
results_stock_ATVI

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,28.87,29.93,29.71,29.71,14641741,29.68,30.11,30.30,29.46,14287366,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,28.73,28.83,29.38,27.57,12489473,28.43,28.59,29.13,28.12,12470479,,-0.79,-2.7972,"Sep 1, 15",-0.027021
2,2015-09-02,28.85,28.77,29.91,28.67,14974290,28.90,29.86,29.62,28.25,15011845,,0.52,1.8745,"Sep 2, 15",-0.009445
3,2015-09-03,28.80,29.75,29.74,28.54,10564464,29.90,29.02,30.43,29.23,10450295,,0.23,0.8181,"Sep 3, 15",-0.001089
4,2015-09-04,28.50,28.85,29.56,28.38,10518448,28.60,28.30,29.98,28.12,10503940,,-0.50,-1.7579,"Sep 4, 15",-0.018806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,84.60,87.16,84.66,82.98,4480749,83.60,86.47,86.92,83.15,4302548,,-0.11,-0.1332,"Aug 24, 20",1.989310
1255,2020-08-25,87.47,85.27,85.93,85.20,3672080,86.20,82.95,87.46,86.22,3828488,,0.54,0.6404,"Aug 25, 20",2.013773
1256,2020-08-26,88.46,87.65,87.97,84.99,7169404,88.05,86.64,86.86,85.46,7256337,,0.87,1.0693,"Aug 26, 20",2.017324
1257,2020-08-27,84.00,87.00,88.00,86.56,4356771,85.50,88.00,86.00,85.27,4267049,,-0.61,-0.7196,"Aug 27, 20",1.940038
1258,2020-08-28,85.82,84.75,85.52,84.77,4801221,85.55,85.07,84.57,83.99,4667044,,-0.70,-0.8487,"Aug 28, 20",1.938203

In [37]:
symbol_REGN = "REGN"
historical_stock_REGN = f"{base_url_sandbox}{version}{symbol_REGN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_REGN = requests.get(historical_stock_REGN).json()
results_stock_REGN = pd.DataFrame(results_stock_REGN)
results_stock_REGN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,520.30,537.09,541.65,526.35,868599,524.20,526.88,537.43,515.10,855261,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,499.06,501.48,520.90,502.60,913798,500.99,509.45,527.34,518.96,904197,,-17.68,-3.3662,"Sep 1, 15",-0.034363
2,2015-09-02,524.33,523.33,527.67,518.21,782962,541.00,524.68,533.73,502.68,762579,,23.06,4.5222,"Sep 2, 15",0.010698
3,2015-09-03,533.86,544.13,542.01,522.35,620541,527.56,523.63,540.73,509.98,620889,,-10.60,-2.0523,"Sep 3, 15",-0.010082
4,2015-09-04,508.89,515.38,521.64,500.10,840223,511.27,520.83,531.93,501.33,827034,,-8.58,-1.6912,"Sep 4, 15",-0.027340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,604.16,630.55,634.30,604.57,1024895,604.95,632.08,635.70,618.28,1020888,,-10.74,-1.8185,"Aug 24, 20",0.161108
1255,2020-08-25,630.60,626.27,643.00,622.24,767647,628.90,620.75,623.00,623.84,764495,,15.86,2.6750,"Aug 25, 20",0.193800
1256,2020-08-26,639.00,616.80,620.99,606.62,508795,631.00,626.10,631.54,608.54,508943,,1.50,0.2540,"Aug 26, 20",0.198096
1257,2020-08-27,640.39,616.85,640.76,613.20,560706,618.10,623.51,627.80,630.36,543326,,3.00,0.5087,"Aug 27, 20",0.202361
1258,2020-08-28,609.01,615.00,616.98,602.70,595610,629.42,623.00,627.67,601.20,589715,,-12.77,-2.0712,"Aug 28, 20",0.177719

In [38]:
symbol_MELI = "MELI"
historical_stock_MELI = f"{base_url_sandbox}{version}{symbol_MELI}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MELI = requests.get(historical_stock_MELI).json()
results_stock_MELI = pd.DataFrame(results_stock_MELI)
results_stock_MELI

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,113.98,114.31,115.18,110.49,392585,110.21,116.19,114.50,109.84,380352,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,110.74,111.00,113.32,109.30,978325,112.63,110.00,114.57,112.20,945990,,-1.42,-1.3514,"Sep 1, 15",-0.013105
2,2015-09-02,110.89,111.60,117.00,111.97,710405,112.10,113.90,113.00,113.16,729744,,1.36,1.2272,"Sep 2, 15",-0.001000
3,2015-09-03,114.78,114.09,113.03,113.85,526747,114.99,111.87,116.60,115.10,532677,,2.36,2.1290,"Sep 3, 15",0.019937
4,2015-09-04,111.54,110.90,116.39,111.94,385892,111.50,114.50,112.95,109.03,376522,,-4.18,-3.7679,"Sep 4, 15",-0.017381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,1228.76,1266.00,1235.17,1226.51,287950,1233.05,1268.00,1255.44,1218.16,283828,,10.30,0.8242,"Aug 24, 20",10.295881
1255,2020-08-25,1241.00,1244.78,1251.20,1211.60,286929,1274.00,1224.70,1270.39,1257.30,284086,,12.03,1.0029,"Aug 25, 20",10.150158
1256,2020-08-26,1224.96,1291.24,1294.71,1220.26,470148,1233.28,1239.84,1305.47,1244.90,468705,,-8.33,-0.6691,"Aug 26, 20",10.102190
1257,2020-08-27,1218.10,1258.58,1284.28,1211.00,256684,1204.90,1237.00,1262.08,1255.00,257577,,-14.93,-1.2510,"Aug 27, 20",10.154938
1258,2020-08-28,1210.70,1235.37,1273.88,1183.62,592727,1226.10,1222.80,1253.86,1181.50,592118,,-23.10,-1.8876,"Aug 28, 20",9.947752

In [39]:
symbol_ADP = "ADP"
historical_stock_ADP = f"{base_url_sandbox}{version}{symbol_ADP}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ADP = requests.get(historical_stock_ADP).json()
results_stock_ADP = pd.DataFrame(results_stock_ADP)
results_stock_ADP

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,79.20,80.49,79.70,77.55,2403997,80.15,81.63,81.10,78.93,2367434,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,76.70,75.98,79.53,77.47,2734693,76.30,76.37,78.67,77.45,2760283,,-2.26,-3.0024,"Sep 1, 15",-0.029050
2,2015-09-02,78.94,77.24,79.27,78.77,2750612,79.11,80.19,77.59,76.54,2693074,,2.01,2.7629,"Sep 2, 15",-0.003026
3,2015-09-03,80.75,79.00,79.15,77.62,2036017,78.09,78.00,78.58,79.65,1983901,,0.48,0.6042,"Sep 3, 15",0.003049
4,2015-09-04,79.05,77.18,79.90,78.59,1878802,76.21,79.89,79.30,78.31,1947342,,-1.40,-1.8814,"Sep 4, 15",-0.015725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,145.19,145.20,144.15,141.63,1433277,144.19,145.24,142.21,140.82,1397018,,2.62,1.9517,"Aug 24, 20",0.858533
1255,2020-08-25,144.71,147.59,143.90,144.09,2012266,145.49,146.90,148.07,147.00,1921902,,0.40,0.2916,"Aug 25, 20",0.845743
1256,2020-08-26,143.96,142.09,142.53,142.43,1813841,143.33,142.69,148.07,143.68,1843450,,-1.49,-1.0477,"Aug 26, 20",0.825314
1257,2020-08-27,142.66,146.70,148.58,145.95,1820469,146.44,144.14,146.77,144.00,1819904,,1.40,1.0286,"Aug 27, 20",0.825750
1258,2020-08-28,146.61,147.87,144.43,142.14,1099899,144.49,145.11,144.78,145.68,1132210,,0.34,0.2380,"Aug 28, 20",0.841932

In [40]:
symbol_AMAT = "AMAT"
historical_stock_AMAT = f"{base_url_sandbox}{version}{symbol_AMAT}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_AMAT = requests.get(historical_stock_AMAT).json()
results_stock_AMAT = pd.DataFrame(results_stock_AMAT)
results_stock_AMAT

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,16.53,16.18,16.49,15.90,16173895,16.84,16.75,16.76,15.86,16656299,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,16.11,15.70,16.66,16.00,18122240,16.00,16.28,16.20,15.80,18475519,,-0.617,-3.8203,"Sep 1, 15",-0.038014
2,2015-09-02,16.42,15.79,16.01,15.95,13155256,15.71,16.37,16.27,16.02,13618917,,0.200,1.2819,"Sep 2, 15",-0.026147
3,2015-09-03,15.98,16.31,16.34,16.12,13923466,16.11,16.25,16.46,15.96,13367766,,0.080,0.5146,"Sep 3, 15",-0.021181
4,2015-09-04,15.90,16.30,15.73,15.75,15974804,15.41,16.06,16.02,15.44,15447960,,-0.380,-2.3579,"Sep 4, 15",-0.043892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,66.40,66.05,65.60,65.32,8368784,66.01,66.44,64.50,63.24,8459314,,1.500,2.4173,"Aug 24, 20",2.979534
1255,2020-08-25,64.34,65.94,66.07,63.85,5219786,65.87,64.62,66.87,64.63,5249771,,0.320,0.5005,"Aug 25, 20",3.109509
1256,2020-08-26,64.62,64.75,67.16,64.35,6231977,66.71,64.14,65.76,65.94,5991521,,-0.300,-0.4735,"Aug 26, 20",2.993034
1257,2020-08-27,63.15,65.92,65.75,63.47,9188980,62.46,65.40,66.33,63.94,9157192,,-1.800,-2.7699,"Aug 27, 20",2.884473
1258,2020-08-28,65.82,65.09,65.60,64.19,5365381,64.46,62.53,64.50,62.46,5455359,,1.070,1.7507,"Aug 28, 20",3.052175

In [41]:
symbol_CSX = "CSX"
historical_stock_CSX = f"{base_url_sandbox}{version}{symbol_CSX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CSX = requests.get(historical_stock_CSX).json()
results_stock_CSX = pd.DataFrame(results_stock_CSX)
results_stock_CSX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,28.32,27.92,28.11,27.80,6356284,28.19,27.84,28.43,27.50,6144833,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,27.45,26.97,27.29,26.68,8069735,27.38,27.62,27.70,27.83,8155876,,-0.67,-2.4850,"Sep 1, 15",-0.024070
2,2015-09-02,28.04,27.38,27.89,26.77,6245371,27.37,27.19,28.23,26.72,6238990,,0.27,0.9986,"Sep 2, 15",-0.014739
3,2015-09-03,28.05,28.12,27.60,27.73,8361957,28.55,27.42,27.70,28.09,8071696,,0.30,1.1225,"Sep 3, 15",-0.003800
4,2015-09-04,27.99,27.40,27.20,26.92,5513578,27.83,27.68,28.00,27.57,5536313,,-0.43,-1.6262,"Sep 4, 15",-0.020081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,77.76,76.21,77.02,76.84,2677438,78.15,76.42,76.58,77.36,2636199,,1.00,1.3650,"Aug 24, 20",1.770609
1255,2020-08-25,77.32,76.78,77.93,76.45,2537783,75.90,78.37,78.47,78.44,2540940,,0.73,0.9890,"Aug 25, 20",1.812670
1256,2020-08-26,79.06,78.72,78.65,75.14,2866501,78.01,76.74,77.12,76.90,2933853,,-0.43,-0.5627,"Aug 26, 20",1.831500
1257,2020-08-27,78.99,76.23,78.57,78.21,2561042,78.18,78.74,80.16,75.51,2557462,,0.79,1.0651,"Aug 27, 20",1.856620
1258,2020-08-28,78.09,77.83,79.69,79.52,2763044,77.75,76.86,79.61,79.04,2727324,,0.89,1.1600,"Aug 28, 20",1.834773

In [42]:
symbol_ADSK = "ADSK"
historical_stock_ADSK = f"{base_url_sandbox}{version}{symbol_ADSK}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ADSK = requests.get(historical_stock_ADSK).json()
results_stock_ADSK = pd.DataFrame(results_stock_ADSK)
results_stock_ADSK

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,48.67,47.91,48.75,48.52,5062074,47.16,49.40,49.14,47.70,5237402,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,47.03,45.94,47.74,45.84,4701734,45.64,47.93,46.87,47.18,4683717,,-1.27,-2.8098,"Sep 1, 15",-0.027188
2,2015-09-02,46.67,47.90,48.11,44.83,6936585,46.24,46.17,46.67,46.00,7024857,,0.50,1.1479,"Sep 2, 15",-0.016965
3,2015-09-03,46.22,46.20,46.92,45.79,4807693,47.30,46.80,48.40,46.62,4955116,,-0.05,-0.1117,"Sep 3, 15",-0.017672
4,2015-09-04,46.44,47.40,46.01,45.46,2571764,47.17,47.00,46.79,47.10,2655668,,-0.57,-1.2804,"Sep 4, 15",-0.030534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,252.10,257.70,254.28,251.60,1272778,252.90,252.80,253.52,255.85,1230294,,3.55,1.4354,"Aug 24, 20",4.480414
1255,2020-08-25,253.61,250.65,255.14,246.50,1597160,259.58,254.43,255.35,258.60,1569184,,0.45,0.1794,"Aug 25, 20",4.591985
1256,2020-08-26,250.25,257.75,260.79,243.40,3198907,254.33,255.19,258.33,247.56,3162871,,-4.06,-1.6212,"Aug 26, 20",4.358908
1257,2020-08-27,243.71,251.45,255.65,250.75,1162977,255.13,255.49,255.22,247.14,1191969,,-5.20,-2.1078,"Aug 27, 20",4.359345
1258,2020-08-28,255.38,246.33,256.20,252.04,1027093,257.09,255.72,259.80,251.02,1033074,,4.38,1.7758,"Aug 28, 20",4.449896

In [43]:
symbol_ILMN = "ILMN"
historical_stock_ILMN = f"{base_url_sandbox}{version}{symbol_ILMN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ILMN = requests.get(historical_stock_ILMN).json()
results_stock_ILMN = pd.DataFrame(results_stock_ILMN)
results_stock_ILMN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,199.15,203.16,204.94,204.57,1352403,204.94,204.25,206.00,201.30,1321604,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,199.84,203.00,200.99,193.22,1392818,201.09,198.54,200.57,194.43,1414590,,-4.58,-2.3005,"Sep 1, 15",-0.022909
2,2015-09-02,200.64,204.87,207.86,198.35,658486,200.22,202.22,204.31,200.89,669388,,4.99,2.6926,"Sep 2, 15",0.002630
3,2015-09-03,203.82,205.13,204.00,196.88,1132807,202.80,206.51,208.00,198.82,1160894,,-2.66,-1.4015,"Sep 3, 15",-0.011291
4,2015-09-04,196.18,199.53,195.43,191.90,772491,199.02,195.28,197.73,198.20,769873,,-2.40,-1.1974,"Sep 4, 15",-0.023625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,362.05,356.00,368.78,356.83,611150,359.77,360.00,371.42,357.71,601937,,-4.20,-1.2038,"Aug 24, 20",0.787849
1255,2020-08-25,360.37,362.26,368.77,360.33,464108,350.96,350.69,363.93,360.10,463405,,2.17,0.6175,"Aug 25, 20",0.779030
1256,2020-08-26,362.88,353.31,356.93,354.04,600237,364.63,358.34,369.91,363.19,604975,,2.67,0.7607,"Aug 26, 20",0.801803
1257,2020-08-27,352.53,361.51,356.62,356.00,870507,356.16,353.57,370.34,348.00,856291,,-2.57,-0.7190,"Aug 27, 20",0.776996
1258,2020-08-28,362.00,363.60,356.51,359.13,518849,364.00,364.49,364.00,353.09,516083,,3.03,0.8272,"Aug 28, 20",0.797613

In [44]:
symbol_LRCX = "LRCX"
historical_stock_LRCX = f"{base_url_sandbox}{version}{symbol_LRCX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_LRCX = requests.get(historical_stock_LRCX).json()
results_stock_LRCX = pd.DataFrame(results_stock_LRCX)
results_stock_LRCX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,74.00,75.70,74.29,74.34,1204211,72.87,74.80,76.54,72.01,1216377,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,71.71,73.32,72.51,70.88,2012624,70.77,72.73,74.29,71.90,2020975,,-3.36,-4.6055,"Sep 1, 15",-0.044189
2,2015-09-02,73.80,71.63,73.51,71.57,1236499,73.40,72.34,71.91,69.69,1211105,,1.55,2.2331,"Sep 2, 15",-0.023001
3,2015-09-03,72.13,72.06,74.59,74.28,1623235,73.09,72.16,74.11,73.07,1617834,,0.66,0.9538,"Sep 3, 15",-0.014417
4,2015-09-04,70.15,73.61,74.04,72.60,1884226,73.21,72.10,72.19,71.80,1890497,,-2.00,-2.8817,"Sep 4, 15",-0.042990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,360.17,373.20,367.03,348.76,1688950,364.85,370.20,362.59,363.01,1689325,,-2.53,-0.7109,"Aug 24, 20",3.824046
1255,2020-08-25,360.90,360.37,362.70,363.30,1313660,361.60,366.54,362.70,368.00,1356638,,1.53,0.4264,"Aug 25, 20",3.978868
1256,2020-08-26,354.60,368.39,357.00,363.45,1246291,357.90,355.11,367.00,363.70,1252282,,-0.70,-0.2062,"Aug 26, 20",3.848800
1257,2020-08-27,351.38,355.19,361.04,345.34,1956457,345.71,369.49,355.91,345.36,1968897,,-10.61,-3.0140,"Aug 27, 20",3.803540
1258,2020-08-28,352.91,346.55,358.35,349.44,1602646,351.05,343.47,366.63,349.49,1607198,,9.68,2.8258,"Aug 28, 20",3.971079

In [45]:
symbol_MU = "MU"
historical_stock_MU = f"{base_url_sandbox}{version}{symbol_MU}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MU = requests.get(historical_stock_MU).json()
results_stock_MU = pd.DataFrame(results_stock_MU)
results_stock_MU

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,16.55,16.35,17.08,16.07,33143352,16.81,16.24,17.05,15.47,34326757,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,16.18,15.80,16.73,16.20,28908597,15.99,16.60,16.70,15.73,28157994,,-0.60,-3.7626,"Sep 1, 15",-0.037565
2,2015-09-02,17.07,16.46,16.46,16.04,24142375,16.53,16.39,16.42,15.87,23862898,,0.48,3.0036,"Sep 2, 15",-0.007347
3,2015-09-03,17.30,16.45,17.74,16.69,26386546,16.94,17.14,17.78,16.39,27363807,,0.30,1.9071,"Sep 3, 15",0.011436
4,2015-09-04,17.06,16.90,17.30,16.77,33314105,17.58,16.70,17.50,16.75,33305051,,0.24,1.4276,"Sep 4, 15",0.026023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,43.90,44.93,45.98,43.20,15282759,45.53,44.51,44.02,44.25,15015164,,1.20,2.6897,"Aug 24, 20",1.688670
1255,2020-08-25,45.30,46.67,46.82,46.60,22475791,46.00,45.96,45.71,46.40,22521565,,1.36,3.1321,"Aug 25, 20",1.835252
1256,2020-08-26,45.46,47.00,45.84,46.54,16049600,45.62,45.70,47.92,45.61,15966967,,-0.14,-0.3130,"Aug 26, 20",1.790690
1257,2020-08-27,46.25,45.19,45.32,44.90,14120805,45.80,44.76,45.67,44.87,13972664,,-0.34,-0.7688,"Aug 27, 20",1.752566
1258,2020-08-28,47.51,45.04,45.85,44.85,13673091,45.85,45.91,46.93,45.90,13534266,,1.08,2.4270,"Aug 28, 20",1.844320

In [46]:
symbol_ZM = "ZM"
historical_stock_ZM = f"{base_url_sandbox}{version}{symbol_ZM}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ZM = requests.get(historical_stock_ZM).json()
results_stock_ZM = pd.DataFrame(results_stock_ZM)
results_stock_ZM

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2019-04-18,63.00,68.00,69.00,61.09,26173877,62.00,68.00,67.00,61.01,26652851,,0.00,0.0000,"Apr 18, 19",0.000000
1,2019-04-22,68.20,61.00,69.20,62.07,10054407,68.70,62.00,70.30,60.04,10144117,,3.70,6.0964,"Apr 22, 19",0.060717
2,2019-04-23,70.00,68.92,74.90,68.30,6900287,70.00,69.72,75.28,67.36,6849020,,3.40,5.1531,"Apr 23, 19",0.113075
3,2019-04-24,65.60,74.60,74.30,64.54,5030457,65.20,74.90,72.10,66.18,5019369,,-6.00,-8.4985,"Apr 24, 19",0.019855
4,2019-04-25,66.00,64.92,70.13,63.40,3892107,65.00,65.45,67.60,64.10,3888495,,1.80,2.9458,"Apr 25, 19",0.050611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2020-08-24,290.69,295.00,308.46,284.70,6716919,292.73,296.00,298.93,286.92,6607879,,-7.60,-2.6776,"Aug 24, 20",3.623235
341,2020-08-25,302.70,288.00,299.77,281.99,4792851,290.47,291.00,295.63,286.02,4793949,,8.47,3.0149,"Aug 25, 20",3.868534
342,2020-08-26,295.49,304.00,312.00,295.05,5943890,309.30,305.00,309.00,299.05,5917175,,4.85,1.7180,"Aug 26, 20",3.822658
343,2020-08-27,300.32,306.13,303.05,291.22,5674595,308.61,302.05,308.72,302.09,5575262,,-0.61,-0.2062,"Aug 27, 20",3.825776
344,2020-08-28,307.38,308.20,308.11,311.63,5432990,301.50,305.75,312.87,299.66,5436460,,4.65,1.5797,"Aug 28, 20",4.016790

In [47]:
symbol_LULU = "LULU"
historical_stock_LULU = f"{base_url_sandbox}{version}{symbol_LULU}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_LULU = requests.get(historical_stock_LULU).json()
results_stock_LULU = pd.DataFrame(results_stock_LULU)
results_stock_LULU

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,65.91,63.67,67.33,66.09,2155600,64.57,65.94,66.89,65.86,2183398,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,64.01,65.13,66.80,64.83,1894015,64.12,65.17,66.44,63.77,1948676,,-0.94,-1.4712,"Sep 1, 15",-0.014969
2,2015-09-02,67.62,66.55,65.68,65.65,3256532,67.30,65.50,66.18,65.92,3235647,,2.38,3.6835,"Sep 2, 15",0.021300
3,2015-09-03,67.17,66.34,69.84,65.60,3085403,67.01,68.88,67.27,65.40,3016009,,-0.41,-0.6571,"Sep 3, 15",0.015086
4,2015-09-04,67.05,65.89,68.56,66.77,2266598,66.73,67.71,67.98,65.52,2310455,,0.73,1.1512,"Sep 4, 15",0.026120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,383.03,390.30,384.12,384.10,1641063,394.13,373.10,378.57,384.50,1576084,,7.89,2.0637,"Aug 24, 20",5.008532
1255,2020-08-25,390.50,378.51,382.93,373.93,1092048,380.30,385.86,388.47,384.26,1082053,,2.23,0.5850,"Aug 25, 20",5.075126
1256,2020-08-26,396.20,386.54,384.50,379.31,1059647,390.90,386.67,399.80,390.39,1026836,,3.00,0.8196,"Aug 26, 20",5.057127
1257,2020-08-27,378.73,395.00,401.50,380.75,1726179,385.78,387.00,394.41,384.08,1727059,,-6.88,-1.7947,"Aug 27, 20",4.943910
1258,2020-08-28,380.50,390.00,384.69,379.65,1311273,378.72,379.00,393.12,387.03,1303979,,2.69,0.7175,"Aug 28, 20",4.978511

In [48]:
symbol_BIIB = "BIIB"
historical_stock_BIIB = f"{base_url_sandbox}{version}{symbol_BIIB}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_BIIB = requests.get(historical_stock_BIIB).json()
results_stock_BIIB = pd.DataFrame(results_stock_BIIB)
results_stock_BIIB

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,306.80,307.95,311.27,304.01,1671550,287.27,278.67,284.37,284.19,1839595,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,294.70,299.45,313.31,299.54,2617070,282.01,281.26,284.95,279.12,2813740,,-4.44,-1.6619,"Sep 1, 15",-0.016148
2,2015-09-02,317.77,303.79,317.56,307.77,2349851,283.13,275.08,286.47,274.83,2518681,,11.24,4.1829,"Sep 2, 15",0.023618
3,2015-09-03,302.89,310.53,311.97,307.96,1839138,288.12,286.19,286.29,289.40,1954619,,-2.39,-0.8690,"Sep 3, 15",0.014658
4,2015-09-04,316.80,299.90,310.27,298.01,1741654,287.38,285.63,290.65,282.14,1852212,,0.59,0.2090,"Sep 4, 15",0.017435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,288.48,284.36,281.80,279.63,1007312,278.77,283.43,285.42,282.73,1027372,,-0.53,-0.1929,"Aug 24, 20",0.010296
1255,2020-08-25,282.48,289.94,293.51,277.92,1301165,292.81,286.75,293.40,277.57,1321149,,2.55,0.9169,"Aug 25, 20",0.019015
1256,2020-08-26,281.26,286.65,292.00,282.00,963120,292.49,284.98,293.80,278.00,931903,,0.15,0.0518,"Aug 26, 20",0.020139
1257,2020-08-27,280.62,282.49,286.54,292.27,1541586,292.15,282.14,294.32,281.68,1534159,,0.09,0.0332,"Aug 27, 20",0.019991
1258,2020-08-28,284.48,290.35,293.92,279.90,835698,286.55,288.81,291.43,280.72,844080,,2.30,0.8081,"Aug 28, 20",0.028670

In [49]:
symbol_ADI = "ADI"
historical_stock_ADI = f"{base_url_sandbox}{version}{symbol_ADI}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ADI = requests.get(historical_stock_ADI).json()
results_stock_ADI = pd.DataFrame(results_stock_ADI)
results_stock_ADI

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,57.55,56.60,57.09,55.70,2658683,57.46,58.62,57.92,56.18,2761862,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,55.35,54.39,55.49,55.27,3706898,55.68,56.66,56.97,55.21,3689111,,-2.38,-4.2143,"Sep 1, 15",-0.042041
2,2015-09-02,55.02,57.05,55.29,54.63,2119481,56.82,55.05,55.25,54.57,2100432,,1.05,1.9640,"Sep 2, 15",-0.023773
3,2015-09-03,56.20,56.49,57.46,57.40,2406412,57.15,57.25,56.19,55.80,2321137,,0.59,1.1034,"Sep 3, 15",-0.012867
4,2015-09-04,54.16,54.37,56.86,53.90,1731197,54.49,54.30,55.39,56.10,1704845,,-1.22,-2.2548,"Sep 4, 15",-0.034544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,122.81,119.59,122.49,120.47,2358538,121.32,119.13,122.03,118.04,2343307,,1.21,1.0535,"Aug 24, 20",1.114355
1255,2020-08-25,120.20,118.20,122.00,121.20,3028882,125.20,121.90,121.00,119.50,3082074,,2.68,2.3593,"Aug 25, 20",1.166429
1256,2020-08-26,126.12,125.15,122.69,121.61,3571081,124.38,121.20,125.92,119.85,3477048,,0.61,0.5207,"Aug 26, 20",1.207535
1257,2020-08-27,120.59,121.85,122.78,120.70,3136945,123.04,125.26,123.82,120.46,3168515,,-1.48,-1.2550,"Aug 27, 20",1.141639
1258,2020-08-28,122.08,122.98,124.26,123.38,2126963,125.12,120.72,124.63,120.55,2217306,,0.56,0.4696,"Aug 28, 20",1.143811

In [50]:
symbol_MNST = "MNST"
historical_stock_MNST = f"{base_url_sandbox}{version}{symbol_MNST}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MNST = requests.get(historical_stock_MNST).json()
results_stock_MNST = pd.DataFrame(results_stock_MNST)
results_stock_MNST

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,140.46,145.88,144.41,138.30,1683903,46.89,47.65,48.35,46.50,5063472,,0.0000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,140.29,137.56,138.07,135.51,1235236,45.59,46.19,48.04,46.68,3747058,,-1.1700,-2.5270,"Sep 1, 15",-0.025375
2,2015-09-02,140.80,140.47,138.10,136.88,1479496,47.18,47.70,46.73,45.02,4465700,,0.4700,1.0406,"Sep 2, 15",-0.015143
3,2015-09-03,141.70,139.73,140.56,138.66,1068493,45.80,46.20,47.07,47.00,3233157,,-0.2660,-0.5736,"Sep 3, 15",-0.020776
4,2015-09-04,140.75,138.37,141.30,139.00,1184557,45.67,45.92,46.30,44.81,3502870,,-0.4734,-1.0420,"Sep 4, 15",-0.031862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,86.52,83.81,86.00,83.49,1451830,85.53,84.48,85.90,85.91,1511538,,1.0100,1.1855,"Aug 24, 20",0.842243
1255,2020-08-25,86.39,87.28,84.70,86.10,1326654,88.14,86.42,86.09,85.91,1320658,,0.2800,0.3402,"Aug 25, 20",0.859729
1256,2020-08-26,85.86,83.80,87.10,86.63,1511935,84.76,84.50,88.27,84.72,1526139,,0.0000,0.0000,"Aug 26, 20",0.848862
1257,2020-08-27,86.43,88.00,86.17,86.38,1382948,83.64,87.00,86.43,82.93,1390753,,-0.6400,-0.7511,"Aug 27, 20",0.813243
1258,2020-08-28,88.70,84.45,87.63,84.22,1707809,86.15,85.79,87.02,84.43,1693469,,1.2000,1.4733,"Aug 28, 20",0.864430

In [51]:
symbol_KHC = "KHC"
historical_stock_KHC = f"{base_url_sandbox}{version}{symbol_KHC}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_KHC = requests.get(historical_stock_KHC).json()
results_stock_KHC = pd.DataFrame(results_stock_KHC)
results_stock_KHC

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,74.94,76.82,75.92,74.69,2794391,74.31,75.60,74.55,74.48,2728646,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,70.65,72.73,75.44,70.14,4798897,73.59,72.07,75.86,71.52,4684307,,-2.64,-3.5467,"Sep 1, 15",-0.036191
2,2015-09-02,73.03,73.43,73.97,72.18,3059216,75.00,71.67,74.55,70.87,3023973,,1.99,2.8645,"Sep 2, 15",-0.008320
3,2015-09-03,73.49,74.41,77.06,74.57,2641564,74.02,76.03,76.09,72.62,2604164,,0.09,0.1298,"Sep 3, 15",-0.006988
4,2015-09-04,70.96,72.16,72.19,72.48,3018064,74.08,73.52,72.75,73.52,3008598,,-1.64,-2.2174,"Sep 4, 15",-0.028905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,35.92,36.10,36.19,35.36,4297050,35.90,35.82,36.33,35.71,4349412,,0.53,1.6068,"Aug 24, 20",-0.538973
1255,2020-08-25,35.65,35.97,35.60,35.99,4744165,36.33,36.34,35.46,35.85,4718584,,0.28,0.8136,"Aug 25, 20",-0.533922
1256,2020-08-26,36.03,35.51,35.50,36.48,4584948,36.60,35.95,36.10,35.96,4598974,,-0.06,-0.1763,"Aug 26, 20",-0.514092
1257,2020-08-27,35.76,36.68,35.69,35.10,4584405,36.14,36.63,36.34,35.70,4644010,,-0.56,-1.6224,"Aug 27, 20",-0.521760
1258,2020-08-28,36.38,34.87,36.08,35.32,4347063,35.95,35.98,35.11,35.56,4409737,,0.12,0.3593,"Aug 28, 20",-0.532945

In [52]:
symbol_EA = "EA"
historical_stock_EA = f"{base_url_sandbox}{version}{symbol_EA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_EA = requests.get(historical_stock_EA).json()
results_stock_EA = pd.DataFrame(results_stock_EA)
results_stock_EA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,67.92,69.60,69.10,68.51,3173790,66.44,69.00,68.00,66.41,3057447,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,64.26,66.27,66.24,63.79,5270118,65.58,65.05,66.59,63.72,5285308,,-2.77,-4.2072,"Sep 1, 15",-0.041895
2,2015-09-02,65.72,66.01,65.71,66.79,3944588,67.81,65.26,67.23,66.95,3810115,,1.25,2.0413,"Sep 2, 15",-0.023008
3,2015-09-03,69.04,67.51,67.80,65.97,3652678,66.58,67.14,69.00,65.96,3529052,,1.17,1.7453,"Sep 3, 15",-0.005650
4,2015-09-04,68.92,65.43,67.45,66.20,3780235,67.98,67.41,68.28,66.69,3763570,,0.61,0.8837,"Sep 4, 15",0.003446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,144.68,143.39,147.31,147.27,1926966,149.30,146.89,149.40,144.91,1862263,,1.15,0.8281,"Aug 24, 20",1.163045
1255,2020-08-25,142.98,146.97,143.10,147.00,882357,146.37,147.32,142.40,142.00,862568,,-0.12,-0.0850,"Aug 25, 20",1.150441
1256,2020-08-26,146.06,146.53,145.50,142.98,1615807,146.66,146.76,145.70,148.60,1642236,,1.44,1.0463,"Aug 26, 20",1.224659
1257,2020-08-27,144.95,144.18,144.91,143.11,1954832,141.82,150.25,148.15,146.59,1943174,,-1.86,-1.3550,"Aug 27, 20",1.146805
1258,2020-08-28,143.93,146.91,142.97,145.97,1563240,145.43,142.79,146.49,143.53,1626168,,-0.90,-0.6595,"Aug 28, 20",1.134110

In [53]:
symbol_EBAY = "EBAY"
historical_stock_EBAY = f"{base_url_sandbox}{version}{symbol_EBAY}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_EBAY = requests.get(historical_stock_EBAY).json()
results_stock_EBAY = pd.DataFrame(results_stock_EBAY)
results_stock_EBAY

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,28.34,28.42,27.44,28.00,11899497,27.20,27.28,27.50,28.00,11982079,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,27.02,27.26,28.18,27.40,16251798,27.77,27.42,27.88,26.80,15997229,,-0.640,-2.3348,"Sep 1, 15",-0.023727
2,2015-09-02,28.12,27.66,28.11,26.84,11310489,27.63,27.88,28.02,27.01,11155398,,0.390,1.5005,"Sep 2, 15",-0.008905
3,2015-09-03,28.27,27.50,27.90,27.40,12552141,27.65,27.85,28.10,27.65,12386103,,0.170,0.6459,"Sep 3, 15",-0.002660
4,2015-09-04,26.92,27.70,27.80,27.52,9072129,26.97,26.88,27.63,27.51,9224096,,-0.580,-2.1270,"Sep 4, 15",-0.023260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,59.98,58.77,59.17,58.08,6202256,59.28,60.18,61.89,59.32,6272944,,0.603,1.0112,"Aug 24, 20",1.183277
1255,2020-08-25,60.61,58.58,59.35,60.18,5102608,59.78,59.22,59.89,59.45,5171521,,-0.750,-1.2527,"Aug 25, 20",1.182731
1256,2020-08-26,61.08,58.85,60.23,58.88,6768774,59.87,57.97,59.23,58.60,6561876,,0.560,0.9560,"Aug 26, 20",1.198065
1257,2020-08-27,57.01,59.53,60.67,57.40,8434588,56.64,61.30,60.74,56.30,8269397,,-2.330,-3.9910,"Aug 27, 20",1.103984
1258,2020-08-28,54.62,56.90,58.63,56.02,12537786,56.85,56.42,57.77,56.13,12889344,,-2.070,-3.6548,"Aug 28, 20",1.029627

In [54]:
symbol_DXCM = "DXCM"
historical_stock_DXCM = f"{base_url_sandbox}{version}{symbol_DXCM}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_DXCM = requests.get(historical_stock_DXCM).json()
results_stock_DXCM = pd.DataFrame(results_stock_DXCM)
results_stock_DXCM

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,97.37,95.10,97.90,94.00,1283324,97.02,93.50,100.24,93.20,1279230,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,88.75,92.36,96.38,91.16,1397658,90.04,94.10,95.17,88.25,1370768,,-6.48,-6.9517,"Sep 1, 15",-0.070168
2,2015-09-02,89.77,90.98,90.30,90.42,613081,93.03,92.97,91.16,91.05,633527,,1.55,1.7660,"Sep 2, 15",-0.053064
3,2015-09-03,90.17,90.31,94.62,87.98,734312,92.37,93.07,91.26,91.02,737958,,-1.40,-1.5637,"Sep 3, 15",-0.065439
4,2015-09-04,91.02,91.00,89.51,88.77,542384,92.41,90.00,92.90,89.04,532780,,0.30,0.3514,"Sep 4, 15",-0.062125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,426.53,448.09,441.88,418.40,537713,434.59,430.50,442.43,432.70,533485,,-4.18,-1.0084,"Aug 24, 20",3.566474
1255,2020-08-25,436.72,422.85,436.50,415.79,528331,441.70,418.12,451.00,417.27,526245,,7.59,1.8060,"Aug 25, 20",3.579500
1256,2020-08-26,433.26,435.18,439.83,437.25,574053,428.69,427.50,442.25,427.84,567695,,-4.53,-1.0672,"Aug 26, 20",3.540156
1257,2020-08-27,443.52,439.85,447.49,431.28,669636,434.67,431.45,447.20,427.21,677407,,2.11,0.4864,"Aug 27, 20",3.620974
1258,2020-08-28,420.80,443.19,440.11,418.00,526484,434.41,435.00,450.19,437.80,507152,,-8.80,-2.1292,"Aug 28, 20",3.495753

In [55]:
symbol_DOCU = "DOCU"
historical_stock_DOCU = f"{base_url_sandbox}{version}{symbol_DOCU}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_DOCU = requests.get(historical_stock_DOCU).json()
results_stock_DOCU = pd.DataFrame(results_stock_DOCU)
results_stock_DOCU

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2018-04-27,41.53,39.00,42.45,37.00,16400707,40.00,38.00,41.13,39.00,16913816,,0.00,0.0000,"Apr 27, 18",0.000000
1,2018-04-30,39.45,40.90,41.67,38.50,3378139,39.28,41.10,41.12,38.25,3467543,,-1.20,-2.7707,"Apr 30, 18",-0.027882
2,2018-05-01,39.76,39.10,41.44,37.88,1306857,40.40,40.40,41.70,38.61,1310348,,0.84,2.1310,"May 1, 18",-0.007066
3,2018-05-02,40.04,41.52,40.70,39.88,1289927,40.08,41.02,40.60,38.78,1269538,,-0.13,-0.3402,"May 2, 18",-0.010460
4,2018-05-03,43.70,40.12,44.57,39.66,2805236,42.28,41.03,44.38,39.59,2849056,,2.68,6.8012,"May 3, 18",0.056522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2020-08-24,206.63,216.35,220.80,204.16,3048950,211.79,218.59,215.15,208.08,3057017,,-5.85,-2.7668,"Aug 24, 20",4.328351
586,2020-08-25,206.65,212.00,213.30,200.67,2325349,209.41,206.80,214.10,199.52,2387233,,0.60,0.3003,"Aug 25, 20",4.260454
587,2020-08-26,220.42,212.25,221.35,216.00,3750849,222.39,219.17,222.26,216.24,3696883,,9.62,4.6386,"Aug 26, 20",4.498404
588,2020-08-27,225.20,217.74,223.20,216.69,2456472,219.73,223.66,221.40,216.68,2503876,,0.37,0.1749,"Aug 27, 20",4.513815
589,2020-08-28,223.65,224.14,230.06,218.10,3605728,224.44,221.17,234.05,225.60,3537584,,0.47,0.2227,"Aug 28, 20",4.475027

In [56]:
symbol_NTES = "NTES"
historical_stock_NTES = f"{base_url_sandbox}{version}{symbol_NTES}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_NTES = requests.get(historical_stock_NTES).json()
results_stock_NTES = pd.DataFrame(results_stock_NTES)
results_stock_NTES

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,116.37,119.76,118.84,113.84,663590,115.56,118.32,118.62,114.79,650057,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,111.27,109.61,113.58,111.20,1094082,112.04,108.29,117.47,110.10,1108357,,-0.97,-0.8821,"Sep 1, 15",-0.008949
2,2015-09-02,114.47,113.94,116.60,108.37,776400,113.52,111.16,114.50,107.06,783618,,-0.74,-0.6555,"Sep 2, 15",-0.015545
3,2015-09-03,109.51,114.00,117.50,112.50,600415,109.68,114.00,115.07,112.80,615656,,-0.28,-0.2541,"Sep 3, 15",-0.017615
4,2015-09-04,109.81,112.42,112.40,110.99,770132,111.05,112.15,111.60,110.16,747078,,-1.59,-1.4767,"Sep 4, 15",-0.031630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,494.67,501.00,519.80,508.20,369822,498.61,492.00,520.07,488.72,379156,,8.20,1.6910,"Aug 24, 20",3.563608
1255,2020-08-25,521.54,520.60,521.27,502.65,627562,517.37,511.79,535.86,516.77,641152,,22.24,4.5017,"Aug 25, 20",3.790869
1256,2020-08-26,523.28,535.00,518.44,516.46,541979,539.64,523.00,526.46,522.69,535740,,-0.15,-0.0298,"Aug 26, 20",3.709587
1257,2020-08-27,513.87,539.30,531.60,531.51,492588,519.69,541.10,529.08,511.24,491543,,-2.23,-0.4345,"Aug 27, 20",3.627314
1258,2020-08-28,510.32,509.75,528.73,508.97,629443,524.77,519.98,533.48,506.67,609586,,-7.82,-1.5674,"Aug 28, 20",3.666558

In [57]:
symbol_WDAY = "WDAY"
historical_stock_WDAY = f"{base_url_sandbox}{version}{symbol_WDAY}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_WDAY = requests.get(historical_stock_WDAY).json()
results_stock_WDAY = pd.DataFrame(results_stock_WDAY)
results_stock_WDAY

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,73.37,74.86,75.18,71.36,2107220,72.82,75.28,75.38,72.99,2123655,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,70.72,70.75,71.76,70.21,2441409,70.23,71.95,71.63,71.36,2433098,,-0.70,-0.9943,"Sep 1, 15",-0.009843
2,2015-09-02,74.55,71.30,71.65,71.93,1607741,72.48,71.80,73.32,70.50,1662018,,1.55,2.2517,"Sep 2, 15",0.012471
3,2015-09-03,72.21,72.86,74.94,73.87,1055916,74.77,72.40,74.39,72.06,1028938,,0.61,0.8297,"Sep 3, 15",0.020657
4,2015-09-04,73.12,71.89,71.37,70.69,1098113,70.53,73.93,70.83,71.87,1102261,,-1.60,-2.3331,"Sep 4, 15",-0.002500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,198.00,199.73,198.11,194.40,1382977,195.80,203.76,197.43,197.83,1353684,,-1.05,-0.5710,"Aug 24, 20",1.735204
1255,2020-08-25,197.02,200.40,203.76,191.53,1888278,196.12,195.10,196.21,192.03,1928533,,2.46,1.2838,"Aug 25, 20",1.829200
1256,2020-08-26,220.30,204.23,219.48,205.80,6433617,223.81,209.24,216.17,204.51,6359376,,19.63,10.4579,"Aug 26, 20",2.063557
1257,2020-08-27,224.90,218.40,229.75,210.00,5716124,227.20,214.60,221.99,211.00,5640020,,3.14,1.4580,"Aug 27, 20",2.148941
1258,2020-08-28,251.50,241.00,256.07,248.32,11338513,249.08,246.00,260.52,239.19,11289344,,28.15,12.5981,"Aug 28, 20",2.546441

In [58]:
symbol_CTSH = "CTSH"
historical_stock_CTSH = f"{base_url_sandbox}{version}{symbol_CTSH}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CTSH = requests.get(historical_stock_CTSH).json()
results_stock_CTSH = pd.DataFrame(results_stock_CTSH)
results_stock_CTSH

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,63.87,63.17,64.70,63.92,4512216,63.54,63.33,65.07,65.53,4391207,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,62.82,64.15,64.50,62.12,5098428,63.76,62.52,64.70,63.43,5138627,,-1.76,-2.8270,"Sep 1, 15",-0.027656
2,2015-09-02,62.93,64.74,64.33,61.82,3878414,65.63,62.21,63.74,62.98,3825834,,1.37,2.1642,"Sep 2, 15",-0.006589
3,2015-09-03,62.94,63.21,65.90,62.83,3037670,62.95,63.50,65.20,64.01,3033234,,0.32,0.5301,"Sep 3, 15",-0.001333
4,2015-09-04,62.71,61.85,64.20,63.46,3536311,62.24,63.85,64.48,63.38,3602282,,-1.12,-1.8032,"Sep 4, 15",-0.019535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,70.27,66.31,69.27,67.01,2509300,69.21,66.26,68.57,67.57,2447613,,2.00,3.0345,"Aug 24, 20",0.075061
1255,2020-08-25,69.75,70.65,68.74,69.78,1916837,68.57,70.11,71.03,69.12,1937185,,-0.71,-1.0491,"Aug 25, 20",0.065446
1256,2020-08-26,69.94,68.76,69.49,69.23,2154501,69.72,68.68,71.11,66.94,2167146,,0.84,1.2600,"Aug 26, 20",0.078822
1257,2020-08-27,69.26,70.00,68.60,70.45,1640400,68.41,68.00,69.00,67.71,1622426,,-0.34,-0.5099,"Aug 27, 20",0.071110
1258,2020-08-28,67.94,67.44,68.44,68.27,1548180,69.14,69.68,68.23,69.98,1549685,,0.28,0.4301,"Aug 28, 20",0.079156

In [59]:
symbol_EXC = "EXC"
historical_stock_EXC = f"{base_url_sandbox}{version}{symbol_EXC}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_EXC = requests.get(historical_stock_EXC).json()
results_stock_EXC = pd.DataFrame(results_stock_EXC)
results_stock_EXC

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,32.28,31.72,31.80,30.45,10534784,31.48,31.18,31.40,31.00,10477341,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,30.25,30.71,31.32,30.27,9550639,30.87,30.51,31.92,30.68,9436946,,-0.800,-2.6519,"Sep 1, 15",-0.026713
2,2015-09-02,30.67,31.10,30.49,30.54,8261294,30.20,30.80,30.97,30.27,8147558,,0.000,0.0000,"Sep 2, 15",-0.027259
3,2015-09-03,31.70,31.20,30.95,31.31,6859066,30.88,30.50,31.26,30.43,7028869,,0.300,1.0134,"Sep 3, 15",-0.016892
4,2015-09-04,29.99,30.00,31.60,30.36,6007581,30.83,31.00,30.30,29.74,6007609,,-0.540,-1.8293,"Sep 4, 15",-0.035230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,39.12,38.11,38.76,36.73,6006136,38.55,37.06,37.92,38.30,5794834,,1.190,3.2102,"Aug 24, 20",0.231204
1255,2020-08-25,37.41,38.78,38.00,38.32,3963347,37.64,38.27,39.50,38.47,3924733,,-0.580,-1.5424,"Aug 25, 20",0.207728
1256,2020-08-26,38.05,37.99,38.80,36.82,6678205,38.25,37.43,37.90,37.58,6818597,,0.150,0.3974,"Aug 26, 20",0.218528
1257,2020-08-27,37.21,38.56,37.74,36.84,5490484,38.56,37.38,38.44,36.76,5589231,,-0.391,-1.0813,"Aug 27, 20",0.206881
1258,2020-08-28,37.68,37.70,38.20,36.82,3938976,38.07,38.50,37.37,37.10,4031119,,0.150,0.4119,"Aug 28, 20",0.208408

In [60]:
symbol_XEL = "XEL"
historical_stock_XEL = f"{base_url_sandbox}{version}{symbol_XEL}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_XEL = requests.get(historical_stock_XEL).json()
results_stock_XEL = pd.DataFrame(results_stock_XEL)
results_stock_XEL

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,35.14,34.25,34.03,34.25,5713495,34.19,34.75,34.01,34.12,5888718,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,33.10,33.75,34.80,34.35,5587480,33.61,34.24,34.32,32.90,5730740,,-0.77,-2.2455,"Sep 1, 15",-0.022971
2,2015-09-02,34.20,34.55,34.01,32.80,4688023,33.70,34.11,34.32,34.10,4667118,,0.12,0.3751,"Sep 2, 15",-0.019396
3,2015-09-03,34.56,33.36,34.58,34.53,4339456,34.90,33.52,34.90,34.66,4508906,,0.19,0.5820,"Sep 3, 15",-0.013117
4,2015-09-04,33.34,34.01,33.80,33.85,4156808,33.94,33.76,33.90,33.12,4026981,,-0.67,-1.9882,"Sep 4, 15",-0.033780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,72.00,71.28,71.18,71.00,1288702,72.69,69.87,73.35,69.66,1253460,,0.80,1.1805,"Aug 24, 20",1.124609
1255,2020-08-25,71.95,72.15,72.60,70.42,1727715,70.88,71.74,71.90,69.34,1771099,,-1.49,-2.0918,"Aug 25, 20",1.054480
1256,2020-08-26,68.65,70.04,69.84,69.85,1917497,71.27,68.83,70.52,69.63,1919071,,-0.87,-1.2768,"Aug 26, 20",1.033458
1257,2020-08-27,71.84,70.88,70.40,68.70,1967169,71.82,69.98,69.60,68.50,1988459,,0.50,0.7490,"Aug 27, 20",1.072415
1258,2020-08-28,70.89,71.30,72.12,70.24,2150386,70.19,71.99,69.59,69.62,2170378,,0.02,0.0295,"Aug 28, 20",1.045940

In [61]:
symbol_NXPI = "NXPI"
historical_stock_NXPI = f"{base_url_sandbox}{version}{symbol_NXPI}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_NXPI = requests.get(historical_stock_NXPI).json()
results_stock_NXPI = pd.DataFrame(results_stock_NXPI)
results_stock_NXPI

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,84.77,87.00,89.91,86.79,3106159,85.83,86.87,88.43,87.97,3090166,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,82.21,84.59,88.94,81.87,3878885,85.46,84.98,87.30,83.47,3906498,,-2.81,-3.3526,"Sep 1, 15",-0.034088
2,2015-09-02,89.08,86.51,87.03,84.95,3719464,87.30,86.84,87.14,84.68,3700616,,3.18,3.8048,"Sep 2, 15",0.002884
3,2015-09-03,88.38,87.27,90.16,85.84,2830346,87.22,85.35,88.65,87.76,2753299,,0.85,1.0030,"Sep 3, 15",0.012558
4,2015-09-04,87.81,86.82,90.59,86.46,2404739,86.04,86.48,90.52,84.13,2440697,,-1.31,-1.5200,"Sep 4, 15",-0.002726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,125.63,126.90,130.02,124.97,1045396,125.12,127.80,126.71,127.24,1050484,,2.39,1.9161,"Aug 24, 20",0.469717
1255,2020-08-25,133.31,130.35,130.10,126.16,2156366,129.79,128.58,133.90,129.68,2098776,,3.57,2.9244,"Aug 25, 20",0.518796
1256,2020-08-26,129.90,130.50,130.09,129.30,1454829,133.56,131.90,132.94,128.36,1474368,,0.22,0.1812,"Aug 26, 20",0.516598
1257,2020-08-27,130.13,131.98,131.76,131.65,1401604,132.34,133.56,130.38,131.54,1376569,,-1.50,-1.1944,"Aug 27, 20",0.508903
1258,2020-08-28,133.52,127.72,133.74,131.32,1788574,128.88,131.37,128.11,126.09,1766131,,1.24,0.9699,"Aug 28, 20",0.509702

In [62]:
symbol_BIDU = "BIDU"
historical_stock_BIDU = f"{base_url_sandbox}{version}{symbol_BIDU}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_BIDU = requests.get(historical_stock_BIDU).json()
results_stock_BIDU = pd.DataFrame(results_stock_BIDU)
results_stock_BIDU

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,152.88,155.22,157.62,149.90,3407358,150.35,152.81,159.43,149.20,3468663,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,147.25,146.71,149.24,149.80,4782593,145.90,148.69,151.44,145.10,4649033,,-3.81,-2.5694,"Sep 1, 15",-0.025685
2,2015-09-02,155.14,149.98,154.63,149.27,2040413,148.47,147.76,148.97,150.03,2026834,,4.75,3.2614,"Sep 2, 15",0.006315
3,2015-09-03,151.53,155.00,151.57,153.48,3043250,149.67,151.00,151.88,147.46,3087794,,0.95,0.6426,"Sep 3, 15",0.012568
4,2015-09-04,148.00,152.49,152.90,149.51,3519116,146.00,151.61,154.69,144.78,3409499,,-3.21,-2.1480,"Sep 4, 15",-0.008580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,127.07,124.34,127.05,124.04,2462561,124.18,126.61,130.37,126.23,2461267,,0.43,0.3636,"Aug 24, 20",-0.167598
1255,2020-08-25,125.90,126.79,128.47,122.23,4497499,129.40,125.06,128.11,122.57,4470235,,2.89,2.3131,"Aug 25, 20",-0.150280
1256,2020-08-26,133.69,129.58,132.00,126.85,5669424,128.29,128.24,129.00,129.39,5662281,,1.79,1.4567,"Aug 26, 20",-0.139948
1257,2020-08-27,127.81,130.24,134.03,127.27,2739922,128.70,133.62,128.60,126.82,2682302,,-0.23,-0.1806,"Aug 27, 20",-0.141021
1258,2020-08-28,134.00,127.50,133.44,129.46,1909993,130.00,128.03,133.70,129.79,1898626,,1.79,1.4300,"Aug 28, 20",-0.128879

In [63]:
symbol_SPLK = "SPLK"
historical_stock_SPLK = f"{base_url_sandbox}{version}{symbol_SPLK}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_SPLK = requests.get(historical_stock_SPLK).json()
results_stock_SPLK = pd.DataFrame(results_stock_SPLK)
results_stock_SPLK

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,63.95,64.60,64.34,64.69,2099234,63.65,64.24,65.14,62.31,2122452,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,59.92,63.03,61.91,61.44,2563002,61.57,60.31,64.06,60.83,2519313,,-2.41,-3.8624,"Sep 1, 15",-0.038809
2,2015-09-02,59.90,63.00,61.20,57.58,2596014,61.90,62.60,61.70,57.30,2562960,,-0.50,-0.8360,"Sep 2, 15",-0.046647
3,2015-09-03,60.66,62.10,63.74,59.70,2395229,60.66,61.70,62.93,60.70,2411089,,0.82,1.3923,"Sep 3, 15",-0.033979
4,2015-09-04,60.42,61.31,61.43,60.53,1253792,59.90,59.88,62.44,60.39,1276907,,-1.65,-2.8238,"Sep 4, 15",-0.062001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,203.00,211.54,209.95,206.79,1266149,202.44,204.72,212.38,203.24,1230942,,-0.12,-0.0600,"Aug 24, 20",2.373311
1255,2020-08-25,211.89,212.38,212.00,202.76,1239466,205.33,212.26,206.46,204.92,1279635,,1.42,0.7104,"Aug 25, 20",2.287094
1256,2020-08-26,221.35,217.00,226.47,209.34,4977629,225.36,215.00,223.70,212.57,4953924,,13.71,6.5701,"Aug 26, 20",2.516985
1257,2020-08-27,218.06,214.55,228.08,212.98,5203099,221.29,218.44,226.15,208.01,5207665,,-1.38,-0.6513,"Aug 27, 20",2.479576
1258,2020-08-28,224.23,219.18,228.04,218.50,2071429,221.92,225.02,230.11,219.85,2079127,,5.14,2.3762,"Aug 28, 20",2.653953

In [64]:
symbol_ORLY = "ORLY"
historical_stock_ORLY = f"{base_url_sandbox}{version}{symbol_ORLY}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ORLY = requests.get(historical_stock_ORLY).json()
results_stock_ORLY = pd.DataFrame(results_stock_ORLY)
results_stock_ORLY

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,250.80,246.70,244.93,251.26,620102,245.30,245.29,244.98,243.68,599368,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,240.83,241.73,250.00,232.95,1139558,234.63,244.65,239.00,233.62,1166598,,-8.58,-3.5834,"Sep 1, 15",-0.036778
2,2015-09-02,244.16,236.80,240.06,234.88,905909,240.17,246.00,245.15,245.68,944535,,8.16,3.5690,"Sep 2, 15",-0.001777
3,2015-09-03,242.62,242.97,248.87,240.39,544840,244.26,244.49,242.95,243.88,553192,,-1.74,-0.7515,"Sep 3, 15",-0.009093
4,2015-09-04,243.96,237.90,247.99,240.95,484046,246.34,239.06,246.60,235.56,480152,,-3.32,-1.3930,"Sep 4, 15",-0.023456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,478.82,484.13,476.20,481.25,461414,482.56,467.13,467.48,467.25,442493,,3.58,0.8073,"Aug 24, 20",0.960629
1255,2020-08-25,467.01,476.66,484.54,484.68,401820,469.30,479.29,488.32,484.64,407095,,2.03,0.4578,"Aug 25, 20",0.970995
1256,2020-08-26,468.60,467.42,476.93,481.40,336855,481.10,465.86,484.76,462.80,342821,,-3.30,-0.7295,"Aug 26, 20",0.967465
1257,2020-08-27,477.41,486.82,483.00,461.45,336948,463.55,489.51,475.87,475.93,340252,,-0.13,-0.0267,"Aug 27, 20",0.947023
1258,2020-08-28,463.70,464.56,482.10,459.16,388095,472.09,471.30,488.61,474.37,381511,,0.38,0.0800,"Aug 28, 20",0.942951

In [65]:
symbol_WBA = "WBA"
historical_stock_WBA = f"{base_url_sandbox}{version}{symbol_WBA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_WBA = requests.get(historical_stock_WBA).json()
results_stock_WBA = pd.DataFrame(results_stock_WBA)
results_stock_WBA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,86.67,90.95,88.22,86.81,3687893,87.14,89.77,87.61,87.77,3565613,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,86.48,85.28,90.11,87.60,7115819,87.62,88.33,87.61,85.90,7245569,,-0.53,-0.6167,"Sep 1, 15",-0.005933
2,2015-09-02,91.30,87.40,90.58,86.42,5191125,91.56,90.28,91.11,87.46,5080938,,1.83,2.1428,"Sep 2, 15",0.014834
3,2015-09-03,91.36,90.22,93.26,91.10,4160809,92.51,89.62,90.27,91.86,4198816,,0.44,0.4967,"Sep 3, 15",0.020177
4,2015-09-04,90.97,89.61,90.00,89.19,5739765,88.40,90.53,92.00,89.86,5492260,,-0.87,-0.9833,"Sep 4, 15",0.010213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,40.12,41.26,42.01,40.33,5540929,39.89,40.98,40.27,40.87,5720709,,0.29,0.7410,"Aug 24, 20",-0.550576
1255,2020-08-25,40.00,41.48,40.20,39.42,5744874,39.70,41.08,42.10,39.89,5741291,,-0.24,-0.6042,"Aug 25, 20",-0.557115
1256,2020-08-26,38.95,39.28,40.67,38.59,8121352,39.35,39.55,40.04,39.04,7963341,,-0.84,-2.1024,"Aug 26, 20",-0.563291
1257,2020-08-27,39.37,38.80,39.89,40.23,6145603,40.61,39.17,41.12,40.25,6072569,,0.68,1.8190,"Aug 27, 20",-0.556434
1258,2020-08-28,38.77,40.66,39.90,39.22,6270151,40.30,40.82,41.30,40.37,6206485,,-0.60,-1.5270,"Aug 28, 20",-0.565263

In [66]:
symbol_CTAS = "CTAS"
historical_stock_CTAS = f"{base_url_sandbox}{version}{symbol_CTAS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CTAS = requests.get(historical_stock_CTAS).json()
results_stock_CTAS = pd.DataFrame(results_stock_CTAS)
results_stock_CTAS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,89.04,85.10,87.53,85.07,658412,87.85,85.71,89.74,85.29,660446,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,83.35,84.40,87.26,85.05,791809,83.44,83.80,87.54,85.43,769087,,-1.93,-2.3062,"Sep 1, 15",-0.023050
2,2015-09-02,84.71,86.80,85.99,84.87,592125,88.16,85.58,88.68,85.31,575943,,1.58,1.9592,"Sep 2, 15",-0.004526
3,2015-09-03,86.51,88.53,87.95,87.20,519251,87.34,89.12,85.80,84.80,514769,,0.48,0.5622,"Sep 3, 15",0.001180
4,2015-09-04,87.94,84.90,87.27,85.93,463283,87.26,88.18,85.90,87.01,463313,,-1.35,-1.6530,"Sep 4, 15",-0.014740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,330.06,334.26,333.36,334.68,261714,340.29,334.51,327.85,331.37,265968,,5.04,1.6018,"Aug 24, 20",2.844833
1255,2020-08-25,331.54,333.26,340.00,327.06,306603,330.91,336.73,334.25,338.26,296567,,-0.66,-0.2016,"Aug 25, 20",2.908424
1256,2020-08-26,336.16,333.00,339.12,328.62,242439,326.31,336.00,330.81,330.20,239274,,1.24,0.3845,"Aug 26, 20",2.933122
1257,2020-08-27,331.26,335.60,347.18,334.63,281135,333.63,342.70,337.03,339.19,280248,,2.88,0.8746,"Aug 27, 20",2.926938
1258,2020-08-28,337.84,342.00,348.60,338.10,359950,338.80,342.20,338.20,343.10,350355,,5.20,1.6271,"Aug 28, 20",3.015686

In [67]:
symbol_SNPS = "SNPS"
historical_stock_SNPS = f"{base_url_sandbox}{version}{symbol_SNPS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_SNPS = requests.get(historical_stock_SNPS).json()
results_stock_SNPS = pd.DataFrame(results_stock_SNPS)
results_stock_SNPS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,48.29,48.41,49.55,49.15,1090292,49.09,48.29,49.33,47.80,1045382,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,47.31,46.87,48.32,46.93,1227794,45.65,46.40,47.07,45.52,1233333,,-1.30,-2.7489,"Sep 1, 15",-0.028743
2,2015-09-02,47.06,47.23,48.69,47.11,894073,46.88,48.24,48.26,45.41,912875,,0.69,1.5230,"Sep 2, 15",-0.013271
3,2015-09-03,48.46,47.23,47.67,46.56,1149514,48.86,48.95,47.97,46.39,1168000,,0.83,1.8734,"Sep 3, 15",0.004684
4,2015-09-04,46.60,48.81,47.20,47.34,800778,46.70,47.36,46.98,47.23,814953,,-0.55,-1.2016,"Sep 4, 15",-0.007265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,221.38,224.80,226.21,215.81,758134,217.47,216.00,217.56,218.70,753931,,0.70,0.3273,"Aug 24, 20",3.701809
1255,2020-08-25,226.72,217.41,219.24,222.30,622895,219.83,219.65,222.22,218.36,631274,,2.50,1.1688,"Aug 25, 20",3.637594
1256,2020-08-26,229.70,218.19,228.48,221.57,716549,227.30,218.36,223.75,222.73,722869,,3.70,1.7212,"Aug 26, 20",3.741195
1257,2020-08-27,219.53,228.20,223.00,219.12,736285,226.91,226.36,231.00,218.69,741976,,-2.70,-1.2358,"Aug 27, 20",3.637800
1258,2020-08-28,229.50,227.68,226.99,225.81,639044,228.62,217.43,220.22,222.68,633536,,2.40,1.0808,"Aug 28, 20",3.857598

In [68]:
symbol_KLAC = "KLAC"
historical_stock_KLAC = f"{base_url_sandbox}{version}{symbol_KLAC}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_KLAC = requests.get(historical_stock_KLAC).json()
results_stock_KLAC = pd.DataFrame(results_stock_KLAC)
results_stock_KLAC

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,51.60,50.76,50.40,51.68,1734850,51.52,51.84,51.43,51.03,1794387,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,48.56,50.25,51.60,48.69,1493450,48.82,49.06,51.60,49.35,1516054,,-2.14,-4.1781,"Sep 1, 15",-0.042728
2,2015-09-02,50.09,49.61,50.14,47.83,1110319,50.32,50.23,50.78,49.08,1082793,,0.65,1.3157,"Sep 2, 15",-0.029787
3,2015-09-03,50.33,50.03,51.77,50.46,1093587,49.55,49.86,50.05,50.54,1092085,,0.18,0.3620,"Sep 3, 15",-0.026249
4,2015-09-04,47.94,48.95,49.25,48.05,1069476,48.60,49.23,49.75,47.79,1050317,,-1.34,-2.6532,"Sep 4, 15",-0.051296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,211.69,215.70,211.55,211.40,949380,212.05,209.90,211.44,212.40,952426,,4.43,2.2088,"Aug 24, 20",3.267840
1255,2020-08-25,218.49,209.89,212.94,212.92,905522,218.30,208.58,215.22,213.81,901372,,1.94,0.9303,"Aug 25, 20",3.299016
1256,2020-08-26,219.31,217.90,217.24,215.80,630655,217.47,210.39,216.99,213.50,628941,,1.99,0.9338,"Aug 26, 20",3.387224
1257,2020-08-27,208.48,223.82,218.35,205.30,1196092,209.20,216.21,215.34,208.20,1174194,,-8.02,-3.8190,"Aug 27, 20",3.136830
1258,2020-08-28,218.21,208.15,213.38,212.76,868001,218.58,213.89,218.22,207.14,837287,,4.35,2.1150,"Aug 28, 20",3.180937

In [69]:
symbol_IDXX = "IDXX"
historical_stock_IDXX = f"{base_url_sandbox}{version}{symbol_IDXX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_IDXX = requests.get(historical_stock_IDXX).json()
results_stock_IDXX = pd.DataFrame(results_stock_IDXX)
results_stock_IDXX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,75.01,74.28,77.52,72.47,533143,74.18,73.64,76.53,74.36,543242,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,71.07,71.37,74.75,72.13,1045979,73.92,69.96,72.70,70.95,1064655,,-0.97,-1.3180,"Sep 1, 15",-0.013157
2,2015-09-02,73.42,74.39,74.62,71.50,617763,73.77,72.74,73.23,71.24,640286,,2.45,3.4410,"Sep 2, 15",0.020410
3,2015-09-03,75.23,75.86,74.24,75.30,567675,73.94,74.70,76.01,73.30,575907,,0.06,0.0839,"Sep 3, 15",0.021673
4,2015-09-04,73.72,73.17,75.08,74.14,330396,73.63,72.28,76.29,73.81,325131,,-0.43,-0.5644,"Sep 4, 15",0.015880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,382.44,396.38,394.91,381.90,402312,391.44,392.35,394.53,386.20,391364,,-2.98,-0.7729,"Aug 24, 20",4.332922
1255,2020-08-25,384.04,391.00,405.04,394.48,363150,400.90,390.00,386.51,390.34,360179,,3.37,0.8889,"Aug 25, 20",4.408034
1256,2020-08-26,391.13,385.76,390.91,387.23,297167,392.15,396.94,389.90,383.66,299399,,2.19,0.5566,"Aug 26, 20",4.456707
1257,2020-08-27,392.11,400.50,397.02,380.54,293961,394.18,404.00,408.15,383.22,301020,,0.27,0.0703,"Aug 27, 20",4.607969
1258,2020-08-28,391.67,402.18,406.79,395.09,375331,392.28,400.94,406.94,395.63,373959,,-2.40,-0.6138,"Aug 28, 20",4.380354

In [70]:
symbol_ROST = "ROST"
historical_stock_ROST = f"{base_url_sandbox}{version}{symbol_ROST}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ROST = requests.get(historical_stock_ROST).json()
results_stock_ROST = pd.DataFrame(results_stock_ROST)
results_stock_ROST

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,49.22,51.11,50.86,48.91,3340416,50.94,50.20,50.12,50.39,3392322,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,48.73,48.37,49.35,49.02,4117104,48.58,48.71,50.20,47.79,4166121,,-1.18,-2.4324,"Sep 1, 15",-0.024746
2,2015-09-02,50.49,48.43,50.05,48.25,3033119,49.05,49.80,51.07,49.77,3057189,,1.00,2.1374,"Sep 2, 15",-0.003652
3,2015-09-03,49.56,50.53,49.20,49.63,2665057,49.94,49.81,49.80,50.22,2760553,,0.03,0.0633,"Sep 3, 15",-0.002913
4,2015-09-04,49.76,49.07,50.76,49.70,3233613,50.03,49.77,49.80,47.96,3170704,,-0.04,-0.0860,"Sep 4, 15",-0.003748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,93.51,89.98,93.49,87.89,3099299,91.52,89.03,92.33,90.78,3086108,,2.18,2.4561,"Aug 24, 20",0.848790
1255,2020-08-25,92.71,90.04,93.37,90.30,2543189,95.69,89.88,95.70,90.90,2597506,,1.97,2.2406,"Aug 25, 20",0.906100
1256,2020-08-26,91.86,94.08,94.26,94.17,1698979,90.50,92.25,94.34,93.88,1694726,,-1.45,-1.5763,"Aug 26, 20",0.884580
1257,2020-08-27,95.31,94.50,95.14,92.41,1999949,92.01,91.40,93.59,92.32,2053432,,1.00,1.1450,"Aug 27, 20",0.881108
1258,2020-08-28,93.95,94.80,95.61,91.58,1843102,96.52,93.70,98.12,91.66,1840242,,3.09,3.4070,"Aug 28, 20",0.964377

In [71]:
symbol_MAR = "MAR"
historical_stock_MAR = f"{base_url_sandbox}{version}{symbol_MAR}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MAR = requests.get(historical_stock_MAR).json()
results_stock_MAR = pd.DataFrame(results_stock_MAR)
results_stock_MAR

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,71.74,73.96,74.66,73.34,2097325,72.69,72.73,74.72,73.12,2081797,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,72.11,71.16,71.93,71.09,3245678,69.71,70.96,72.47,71.20,3240036,,-1.59,-2.2945,"Sep 1, 15",-0.023290
2,2015-09-02,72.07,71.60,71.73,71.88,2432387,73.69,73.03,74.20,71.25,2473330,,1.88,2.7069,"Sep 2, 15",0.003750
3,2015-09-03,71.35,71.81,73.07,72.55,1648208,72.20,72.39,74.15,73.55,1638961,,0.15,0.2177,"Sep 3, 15",0.006005
4,2015-09-04,71.26,71.73,71.61,70.50,1537653,70.94,70.08,72.71,71.60,1570675,,-1.07,-1.5480,"Sep 4, 15",-0.009239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,99.49,97.88,101.61,96.00,2854123,99.89,97.85,99.40,95.00,2824618,,2.75,2.8524,"Aug 24, 20",0.385976
1255,2020-08-25,100.18,103.65,102.51,98.94,2327760,100.61,100.86,102.40,98.40,2373899,,0.92,0.9430,"Aug 25, 20",0.403430
1256,2020-08-26,101.19,102.66,99.03,100.22,2188438,99.01,102.78,100.13,99.85,2219599,,-1.44,-1.4376,"Aug 26, 20",0.386853
1257,2020-08-27,102.81,103.41,106.58,103.00,4047506,106.55,103.26,105.16,104.00,3871991,,4.56,4.6234,"Aug 27, 20",0.444800
1258,2020-08-28,108.32,104.16,111.63,104.89,3751325,107.49,103.84,109.96,104.56,3803933,,4.65,4.4756,"Aug 28, 20",0.504112

In [72]:
symbol_CDNS = "CDNS"
historical_stock_CDNS = f"{base_url_sandbox}{version}{symbol_CDNS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CDNS = requests.get(historical_stock_CDNS).json()
results_stock_CDNS = pd.DataFrame(results_stock_CDNS)
results_stock_CDNS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,20.84,20.00,20.88,19.97,1364588,20.84,21.00,21.00,20.07,1387178,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,19.78,19.90,20.32,20.07,2521195,19.87,19.90,20.63,19.74,2490995,,-0.30,-1.5519,"Sep 1, 15",-0.015116
2,2015-09-02,20.57,20.71,20.00,19.57,2511495,19.97,20.22,21.00,19.94,2525811,,0.22,1.0847,"Sep 2, 15",-0.004688
3,2015-09-03,21.42,20.24,21.27,20.59,3776205,21.33,20.89,21.27,20.16,3801906,,0.60,3.0250,"Sep 3, 15",0.026110
4,2015-09-04,20.37,20.65,20.57,20.77,1872123,21.23,20.74,20.59,20.76,1924622,,-0.24,-1.1297,"Sep 4, 15",0.013828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,111.70,117.00,113.64,114.96,1111960,113.69,113.00,114.40,111.41,1111575,,0.73,0.6565,"Aug 24, 20",4.685422
1255,2020-08-25,111.31,114.75,115.23,111.10,1358621,116.66,111.69,116.68,112.76,1343921,,-0.02,-0.0190,"Aug 25, 20",4.712346
1256,2020-08-26,113.72,112.21,117.25,115.44,1241025,112.71,116.30,117.35,113.55,1230720,,1.42,1.2943,"Aug 26, 20",4.691023
1257,2020-08-27,111.86,114.64,115.15,114.06,2055025,110.27,116.34,118.69,114.02,2003771,,-3.36,-2.9492,"Aug 27, 20",4.517008
1258,2020-08-28,116.31,112.60,115.78,112.76,1081368,114.43,111.10,112.10,113.75,1064964,,1.50,1.4148,"Aug 28, 20",4.550004

In [73]:
symbol_VRSK = "VRSK"
historical_stock_VRSK = f"{base_url_sandbox}{version}{symbol_VRSK}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_VRSK = requests.get(historical_stock_VRSK).json()
results_stock_VRSK = pd.DataFrame(results_stock_VRSK)
results_stock_VRSK

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,75.83,75.06,75.19,73.97,606554,73.97,76.46,75.12,75.54,612553,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,72.37,74.28,73.37,71.52,1175510,74.61,71.80,74.98,71.24,1179552,,-1.50,-2.1135,"Sep 1, 15",-0.021320
2,2015-09-02,77.32,73.89,74.67,75.22,1154314,74.73,72.79,76.39,73.26,1157409,,2.13,3.0115,"Sep 2, 15",0.008071
3,2015-09-03,76.53,76.00,75.69,76.95,706922,76.52,75.09,76.44,74.35,700232,,0.16,0.2205,"Sep 3, 15",0.010219
4,2015-09-04,76.27,74.93,76.90,72.94,507362,75.34,73.14,75.00,73.87,498505,,-1.03,-1.4058,"Sep 4, 15",-0.003808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,192.41,195.16,192.47,192.25,615999,190.47,194.40,192.36,186.96,594619,,-0.56,-0.3014,"Aug 24, 20",1.539720
1255,2020-08-25,190.49,192.38,187.54,185.16,944009,190.06,193.88,190.06,185.20,946136,,0.88,0.4732,"Aug 25, 20",1.605255
1256,2020-08-26,192.74,191.18,190.63,190.90,779774,193.95,185.61,188.95,190.55,787952,,0.44,0.2434,"Aug 26, 20",1.590069
1257,2020-08-27,187.40,191.26,190.61,187.87,877873,193.72,188.52,193.37,189.07,865355,,0.20,0.1074,"Aug 27, 20",1.569892
1258,2020-08-28,191.22,193.93,190.92,188.30,981255,195.43,188.87,190.54,187.20,991110,,0.76,0.4102,"Aug 28, 20",1.630181

In [74]:
symbol_PCAR = "PCAR"
historical_stock_PCAR = f"{base_url_sandbox}{version}{symbol_PCAR}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_PCAR = requests.get(historical_stock_PCAR).json()
results_stock_PCAR = pd.DataFrame(results_stock_PCAR)
results_stock_PCAR

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,59.74,61.74,60.44,60.17,1846602,61.39,59.34,60.86,59.32,1812185,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,57.67,58.58,59.16,58.98,2950107,59.16,59.68,59.98,58.59,2831428,,-1.99,-3.3269,"Sep 1, 15",-0.033011
2,2015-09-02,59.56,58.30,60.10,58.91,2818818,59.99,58.80,58.52,58.66,2785693,,1.17,1.9826,"Sep 2, 15",-0.014008
3,2015-09-03,58.08,59.52,61.63,59.86,2583860,60.84,58.81,60.37,58.70,2614233,,-0.08,-0.1409,"Sep 3, 15",-0.015487
4,2015-09-04,59.12,58.00,58.65,58.35,2375074,59.09,58.10,59.03,59.02,2393917,,-1.27,-2.1453,"Sep 4, 15",-0.036180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,88.20,88.92,90.96,88.00,1742216,86.90,87.35,88.18,86.90,1754249,,-0.12,-0.1405,"Aug 24, 20",0.482995
1255,2020-08-25,87.47,91.26,90.17,87.52,1366858,90.26,90.78,88.11,88.21,1386089,,-0.50,-0.5787,"Aug 25, 20",0.480591
1256,2020-08-26,90.03,88.88,89.18,85.62,1128347,88.31,88.30,88.15,88.85,1122619,,0.47,0.5557,"Aug 26, 20",0.495887
1257,2020-08-27,88.14,87.51,88.55,86.75,1107617,86.90,91.79,90.95,90.04,1124572,,-0.54,-0.6328,"Aug 27, 20",0.472766
1258,2020-08-28,90.43,86.63,88.70,89.31,1159181,90.47,88.94,88.40,88.13,1191235,,0.17,0.1898,"Aug 28, 20",0.480185

In [75]:
symbol_ASML = "ASML"
historical_stock_ASML = f"{base_url_sandbox}{version}{symbol_ASML}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ASML = requests.get(historical_stock_ASML).json()
results_stock_ASML = pd.DataFrame(results_stock_ASML)
results_stock_ASML

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,94.56,94.77,94.74,92.25,1209220,92.01,94.28,95.49,92.43,1212047,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,91.46,94.01,93.99,90.38,1148540,90.31,92.85,93.20,89.75,1133159,,-1.93,-2.1455,"Sep 1, 15",-0.021308
2,2015-09-02,93.50,93.17,94.25,91.42,1421887,92.99,93.30,92.20,91.20,1457425,,1.48,1.6855,"Sep 2, 15",-0.004363
3,2015-09-03,93.89,94.43,96.15,92.51,1245252,96.32,93.73,94.27,96.41,1255765,,2.07,2.2962,"Sep 3, 15",0.018987
4,2015-09-04,92.74,94.36,93.21,91.19,808072,91.66,92.81,94.63,93.52,808573,,-1.32,-1.4583,"Sep 4, 15",0.004019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,389.38,394.14,397.40,383.92,596375,393.27,390.92,394.50,388.88,598642,,5.99,1.6452,"Aug 24, 20",3.216939
1255,2020-08-25,386.17,381.90,384.39,383.70,394907,390.45,380.50,395.33,383.18,384111,,2.94,0.7831,"Aug 25, 20",3.336476
1256,2020-08-26,394.81,398.56,394.62,381.04,418270,400.77,386.38,400.39,394.73,428579,,5.21,1.3675,"Aug 26, 20",3.261692
1257,2020-08-27,383.21,395.23,396.40,382.89,665739,380.95,387.56,391.50,380.94,658477,,-10.10,-2.5596,"Aug 27, 20",3.245506
1258,2020-08-28,390.39,392.04,390.49,385.20,493974,384.86,385.20,381.33,385.90,498324,,3.41,0.8902,"Aug 28, 20",3.290529

In [76]:
symbol_ANSS = "ANSS"
historical_stock_ANSS = f"{base_url_sandbox}{version}{symbol_ANSS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ANSS = requests.get(historical_stock_ANSS).json()
results_stock_ANSS = pd.DataFrame(results_stock_ANSS)
results_stock_ANSS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,90.30,91.04,91.50,92.74,401965,92.10,91.51,92.50,90.82,400491,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,89.38,89.70,91.00,89.02,544216,88.04,90.60,89.00,90.47,532784,,-2.10,-2.3721,"Sep 1, 15",-0.023357
2,2015-09-02,93.22,88.38,92.16,86.86,610640,93.15,89.53,91.16,87.91,612292,,2.40,2.7444,"Sep 2, 15",0.003053
3,2015-09-03,92.85,89.27,93.71,92.98,436705,93.05,92.02,92.88,89.74,434493,,1.28,1.4367,"Sep 3, 15",0.016942
4,2015-09-04,93.74,92.00,92.38,93.00,454063,90.75,92.00,92.65,92.00,458252,,-0.37,-0.4180,"Sep 4, 15",0.012921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,332.80,340.14,339.25,330.32,378852,333.87,329.60,336.76,328.11,386273,,0.78,0.2352,"Aug 24, 20",2.728871
1255,2020-08-25,341.15,330.04,330.71,339.08,308825,334.06,341.32,342.95,337.92,306191,,1.24,0.3848,"Aug 25, 20",2.718328
1256,2020-08-26,339.29,335.86,345.07,339.30,343822,342.63,335.66,341.45,340.50,349548,,5.14,1.5852,"Aug 26, 20",2.774154
1257,2020-08-27,337.63,348.30,349.13,343.65,235596,332.75,345.07,343.03,331.50,243274,,0.87,0.2674,"Aug 27, 20",2.773325
1258,2020-08-28,337.93,345.74,340.66,339.11,649521,348.00,335.66,349.12,347.76,649592,,4.58,1.3726,"Aug 28, 20",2.926862

In [77]:
symbol_FAST = "FAST"
historical_stock_FAST = f"{base_url_sandbox}{version}{symbol_FAST}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_FAST = requests.get(historical_stock_FAST).json()
results_stock_FAST = pd.DataFrame(results_stock_FAST)
results_stock_FAST

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,39.03,39.05,40.63,39.28,1987198,19.58,19.43,19.66,19.64,4046988,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,39.23,39.04,38.28,37.74,2727344,18.79,19.09,19.83,19.45,5393731,,-0.562,-2.9118,"Sep 1, 15",-0.028883
2,2015-09-02,39.63,38.28,39.84,39.45,2275787,19.28,19.36,19.62,19.85,4645501,,0.460,2.3919,"Sep 2, 15",-0.005496
3,2015-09-03,38.39,39.04,39.70,38.52,2829628,19.14,19.11,19.30,19.44,5760484,,-0.352,-1.8317,"Sep 3, 15",-0.024261
4,2015-09-04,39.30,39.09,37.75,37.80,2042753,19.09,19.24,19.27,19.39,4083519,,-0.070,-0.3823,"Sep 4, 15",-0.027036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,49.65,51.11,49.19,47.35,2815447,48.57,50.09,50.87,47.66,2867621,,-0.670,-1.4172,"Aug 24, 20",1.522534
1255,2020-08-25,50.23,49.78,48.32,48.20,2762076,49.03,50.43,50.42,48.30,2731829,,0.010,0.0218,"Aug 25, 20",1.518070
1256,2020-08-26,48.17,48.42,49.31,49.12,2726198,49.83,48.40,49.24,47.79,2694317,,0.200,0.4342,"Aug 26, 20",1.526449
1257,2020-08-27,49.29,48.44,50.78,50.37,2607601,50.27,49.39,49.11,48.33,2538019,,0.270,0.5602,"Aug 27, 20",1.576049
1258,2020-08-28,49.77,49.87,49.04,49.44,2411900,49.06,49.84,51.32,49.17,2377928,,0.510,1.0600,"Aug 28, 20",1.594690

In [78]:
symbol_MRNA = "MRNA"
historical_stock_MRNA = f"{base_url_sandbox}{version}{symbol_MRNA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MRNA = requests.get(historical_stock_MRNA).json()
results_stock_MRNA = pd.DataFrame(results_stock_MRNA)
results_stock_MRNA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2018-12-07,19.30,23.00,23.78,19.08,13089705,19.00,22.00,23.62,18.75,13508648,,0.00,0.0000,"Dec 7, 18",0.000000
1,2018-12-10,19.00,19.50,19.48,18.00,4268489,19.70,19.10,19.78,18.00,4243112,,0.20,1.0836,"Dec 10, 18",0.010944
2,2018-12-11,18.17,20.65,21.37,18.48,3570684,18.74,21.12,21.54,18.69,3518039,,-0.81,-4.2556,"Dec 11, 18",-0.032420
3,2018-12-12,18.69,19.21,20.36,18.17,2629642,19.51,18.99,20.19,18.09,2592363,,0.69,3.7457,"Dec 12, 18",0.004437
4,2018-12-13,19.12,19.92,19.63,19.41,1639784,19.39,19.75,20.19,18.78,1634150,,0.08,0.4472,"Dec 13, 18",0.008890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,2020-08-24,65.77,67.90,67.87,65.02,13662020,67.30,68.41,68.29,64.12,13701506,,-1.63,-2.3647,"Aug 24, 20",2.489005
431,2020-08-25,66.97,65.81,66.80,63.62,8120321,67.92,67.33,67.20,64.46,8158783,,1.41,2.1427,"Aug 25, 20",2.676045
432,2020-08-26,73.50,70.56,72.81,66.87,28980177,73.30,70.82,74.56,68.11,29713346,,4.39,6.6369,"Aug 26, 20",2.843484
433,2020-08-27,68.70,72.79,72.74,67.90,9368956,69.79,73.22,70.62,68.56,9443861,,-2.49,-3.5364,"Aug 27, 20",2.764919
434,2020-08-28,67.90,68.51,69.79,68.60,6444929,69.71,69.25,71.54,70.17,6678830,,-0.56,-0.8041,"Aug 28, 20",2.689646

In [79]:
symbol_PAYX = "PAYX"
historical_stock_PAYX = f"{base_url_sandbox}{version}{symbol_PAYX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_PAYX = requests.get(historical_stock_PAYX).json()
results_stock_PAYX = pd.DataFrame(results_stock_PAYX)
results_stock_PAYX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,44.88,46.50,45.32,44.99,2242083,46.63,46.90,46.86,45.07,2231491,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,45.32,44.23,45.53,43.49,2986221,44.36,45.58,44.35,44.23,2883693,,-1.20,-2.6890,"Sep 1, 15",-0.028150
2,2015-09-02,45.52,44.96,45.67,45.76,2041765,45.30,45.18,46.17,45.73,2017298,,1.05,2.4500,"Sep 2, 15",-0.003935
3,2015-09-03,45.70,45.39,46.44,46.31,1531115,46.30,44.68,45.79,44.82,1543760,,0.21,0.4800,"Sep 3, 15",0.000938
4,2015-09-04,44.52,44.46,46.44,45.77,1683677,45.87,45.48,46.37,45.85,1692438,,-0.41,-0.8781,"Sep 4, 15",-0.007912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,79.07,74.96,76.28,74.08,1115831,75.90,77.44,75.96,76.19,1146356,,1.69,2.2008,"Aug 24, 20",0.709528
1255,2020-08-25,79.57,76.69,77.83,77.18,1423840,79.18,78.74,76.88,76.25,1436329,,0.33,0.4470,"Aug 25, 20",0.712478
1256,2020-08-26,78.00,76.99,79.29,76.19,1480956,77.53,75.55,79.59,77.57,1486128,,-0.01,-0.0136,"Aug 26, 20",0.727322
1257,2020-08-27,79.62,80.04,77.00,79.35,1355345,78.23,76.69,78.00,76.41,1345509,,0.70,0.9650,"Aug 27, 20",0.745861
1258,2020-08-28,78.60,79.12,79.14,79.41,1133364,77.97,80.16,77.85,78.49,1148576,,0.78,1.0560,"Aug 28, 20",0.763846

In [80]:
symbol_SGEN = "SGEN"
historical_stock_SGEN = f"{base_url_sandbox}{version}{symbol_SGEN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_SGEN = requests.get(historical_stock_SGEN).json()
results_stock_SGEN = pd.DataFrame(results_stock_SGEN)
results_stock_SGEN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,40.66,42.40,44.05,40.23,736896,41.89,43.82,44.53,41.56,748704,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,41.02,41.12,41.42,39.79,813772,40.45,40.48,40.88,40.31,828701,,-0.98,-2.3691,"Sep 1, 15",-0.023927
2,2015-09-02,41.60,41.58,40.50,39.30,689153,41.95,40.62,41.60,40.02,679011,,0.94,2.3905,"Sep 2, 15",-0.000993
3,2015-09-03,39.65,41.96,42.29,39.82,697255,40.02,41.36,41.41,39.43,698178,,-0.96,-2.4426,"Sep 3, 15",-0.025071
4,2015-09-04,41.20,38.72,41.90,39.07,557947,41.00,39.10,40.50,38.90,542105,,0.94,2.3551,"Sep 4, 15",-0.001794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,160.68,161.96,161.79,161.33,655648,160.68,160.27,166.39,159.29,636177,,-2.73,-1.7395,"Aug 24, 20",2.878916
1255,2020-08-25,159.95,156.01,158.09,157.33,668927,158.44,160.82,159.01,153.28,645968,,0.03,0.0198,"Aug 25, 20",2.879182
1256,2020-08-26,155.30,155.00,162.06,154.40,657543,155.00,156.00,160.39,157.24,658605,,-0.42,-0.2681,"Aug 26, 20",2.942069
1257,2020-08-27,159.82,158.26,158.57,156.42,677120,160.07,159.82,156.67,158.96,660630,,-0.38,-0.2501,"Aug 27, 20",2.910679
1258,2020-08-28,154.00,158.79,155.27,155.61,589031,157.45,160.56,159.89,152.76,593576,,-0.46,-0.2950,"Aug 28, 20",2.831826

In [81]:
symbol_MCHP = "MCHP"
historical_stock_MCHP = f"{base_url_sandbox}{version}{symbol_MCHP}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MCHP = requests.get(historical_stock_MCHP).json()
results_stock_MCHP = pd.DataFrame(results_stock_MCHP)
results_stock_MCHP

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,42.50,44.85,45.24,42.63,2107871,42.80,44.55,43.57,42.51,2109285,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,41.66,42.19,42.92,41.68,3526237,40.61,41.46,43.48,41.40,3486579,,-2.20,-5.3335,"Sep 1, 15",-0.052013
2,2015-09-02,42.11,42.06,41.23,40.92,3902334,41.81,40.90,41.80,41.47,3915752,,0.75,1.8830,"Sep 2, 15",-0.033340
3,2015-09-03,42.00,41.47,41.97,42.61,2623036,42.76,42.71,42.76,41.91,2568666,,0.68,1.6601,"Sep 3, 15",-0.017973
4,2015-09-04,41.00,41.80,42.61,41.03,1937920,43.00,41.50,43.38,41.36,1909354,,-0.75,-1.8067,"Sep 4, 15",-0.035632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,109.50,113.77,109.71,106.41,3063196,110.37,113.62,114.55,110.30,3092767,,-0.51,-0.4816,"Aug 24, 20",1.533995
1255,2020-08-25,113.00,111.80,110.41,108.68,1687547,112.00,112.40,113.06,111.26,1713435,,1.59,1.5108,"Aug 25, 20",1.612800
1256,2020-08-26,111.53,109.31,112.95,112.29,1722949,112.95,107.90,109.17,112.14,1727105,,-1.42,-1.2631,"Aug 26, 20",1.599558
1257,2020-08-27,110.08,110.95,109.37,110.75,1338365,109.57,114.51,114.28,107.64,1328518,,-0.23,-0.2054,"Aug 27, 20",1.533551
1258,2020-08-28,113.89,112.40,114.24,107.63,1684214,112.04,108.60,112.00,109.09,1729004,,3.26,2.9174,"Aug 28, 20",1.604003

In [82]:
symbol_SIRI = "SIRI"
historical_stock_SIRI = f"{base_url_sandbox}{version}{symbol_SIRI}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_SIRI = requests.get(historical_stock_SIRI).json()
results_stock_SIRI = pd.DataFrame(results_stock_SIRI)
results_stock_SIRI

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,3.91,3.92,3.94,3.94,22392354,3.83,3.90,3.97,3.82,22810335,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,3.93,3.95,3.80,3.76,44394308,3.78,3.89,3.90,3.87,44406715,,-0.057,-1.5054,"Sep 1, 15",-0.014580
2,2015-09-02,3.95,3.81,3.90,3.77,28965734,3.88,3.89,4.01,3.86,28496701,,0.060,1.6675,"Sep 2, 15",0.001334
3,2015-09-03,4.00,3.91,3.92,3.80,31702719,3.90,3.88,4.00,3.84,31764700,,-0.020,-0.5308,"Sep 3, 15",-0.004017
4,2015-09-04,3.94,3.85,3.82,3.84,21245125,3.95,3.88,3.99,3.86,21126089,,-0.020,-0.5510,"Sep 4, 15",-0.009310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,5.97,5.90,6.13,6.01,20906653,6.00,5.85,6.05,5.80,20586033,,0.030,0.5283,"Aug 24, 20",0.537961
1255,2020-08-25,6.07,6.07,6.09,5.85,17962957,5.88,5.94,6.09,5.91,17963209,,0.010,0.1722,"Aug 25, 20",0.557673
1256,2020-08-26,5.83,5.85,5.98,6.00,15776374,6.10,5.86,6.12,6.00,15957647,,-0.030,-0.5270,"Aug 26, 20",0.540535
1257,2020-08-27,5.90,5.91,6.22,5.90,23689328,6.20,6.12,6.18,6.10,23649631,,0.070,1.2220,"Aug 27, 20",0.557068
1258,2020-08-28,6.11,6.08,6.15,6.10,17874131,6.22,5.93,6.00,6.00,17942243,,0.060,1.0452,"Aug 28, 20",0.579816

In [83]:
symbol_XLNX = "XLNX"
historical_stock_XLNX = f"{base_url_sandbox}{version}{symbol_XLNX}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_XLNX = requests.get(historical_stock_XLNX).json()
results_stock_XLNX = pd.DataFrame(results_stock_XLNX)
results_stock_XLNX

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,43.05,43.97,43.43,42.52,2483346,42.72,42.59,42.88,43.03,2572726,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,42.25,41.38,41.47,41.58,4353019,40.91,41.47,41.81,42.00,4489614,,-1.63,-3.8465,"Sep 1, 15",-0.038664
2,2015-09-02,41.51,42.92,42.97,40.67,2873884,40.84,42.30,42.30,40.35,2925051,,0.55,1.3704,"Sep 2, 15",-0.025850
3,2015-09-03,41.24,42.50,42.94,41.55,2509849,42.79,42.10,43.17,40.97,2441039,,0.37,0.8610,"Sep 3, 15",-0.017490
4,2015-09-04,41.45,41.20,42.61,41.71,3335476,41.67,41.97,41.82,40.76,3223577,,-1.14,-2.8262,"Sep 4, 15",-0.044931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,104.58,105.00,103.45,102.64,1782983,107.49,107.00,105.53,106.20,1745970,,0.48,0.4829,"Aug 24, 20",1.453089
1255,2020-08-25,108.43,104.20,107.70,102.84,1404558,103.67,105.10,103.60,105.01,1367977,,0.93,0.9306,"Aug 25, 20",1.525396
1256,2020-08-26,107.16,106.00,107.20,103.93,1860285,105.20,107.00,110.15,104.19,1841436,,1.63,1.5429,"Aug 26, 20",1.519712
1257,2020-08-27,107.61,105.24,110.10,108.11,1850401,107.54,106.58,110.40,104.81,1820530,,-1.29,-1.2374,"Aug 27, 20",1.547029
1258,2020-08-28,109.74,107.05,105.82,104.65,1929463,108.08,105.97,109.75,104.79,1933227,,1.22,1.1505,"Aug 28, 20",1.517716

In [84]:
symbol_DLTR = "DLTR"
historical_stock_DLTR = f"{base_url_sandbox}{version}{symbol_DLTR}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_DLTR = requests.get(historical_stock_DLTR).json()
results_stock_DLTR = pd.DataFrame(results_stock_DLTR)
results_stock_DLTR

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,77.54,78.36,79.07,78.71,4889055,78.70,77.12,79.81,75.99,4766919,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,71.68,73.75,75.62,70.00,12537835,71.65,75.48,74.42,69.00,12497116,,-6.80,-9.0010,"Sep 1, 15",-0.088689
2,2015-09-02,68.97,72.48,73.32,66.43,10430729,70.81,70.47,70.91,66.33,10515616,,-2.14,-3.0270,"Sep 2, 15",-0.118870
3,2015-09-03,69.00,69.57,70.71,69.32,7004193,68.00,69.55,70.20,68.64,6889052,,-0.59,-0.9045,"Sep 3, 15",-0.126253
4,2015-09-04,69.19,69.70,69.45,69.61,6527542,70.73,69.40,70.28,69.30,6516232,,1.12,1.6892,"Sep 4, 15",-0.109504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,102.76,105.79,107.23,103.52,1927222,106.44,102.33,105.92,103.27,1996966,,2.06,1.9920,"Aug 24, 20",0.344850
1255,2020-08-25,103.71,105.90,105.89,105.49,1845077,105.22,107.00,104.34,102.62,1816671,,0.35,0.3552,"Aug 25, 20",0.351076
1256,2020-08-26,107.94,103.02,107.74,103.70,3246826,108.50,104.41,105.66,105.01,3173315,,1.60,1.5854,"Aug 26, 20",0.379327
1257,2020-08-27,99.18,101.04,106.65,97.44,8862043,98.83,100.87,102.74,97.47,9214616,,-7.86,-7.5105,"Aug 27, 20",0.280365
1258,2020-08-28,95.25,98.17,99.24,94.44,4882770,95.48,99.64,98.73,94.94,4710904,,-2.00,-2.1600,"Aug 28, 20",0.245066

In [85]:
symbol_PDD = "PDD"
historical_stock_PDD = f"{base_url_sandbox}{version}{symbol_PDD}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_PDD = requests.get(historical_stock_PDD).json()
results_stock_PDD = pd.DataFrame(results_stock_PDD)
results_stock_PDD

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2018-07-26,27.70,27.70,28.44,26.00,43456384,27.90,27.60,28.71,26.00,44535952,,0.00,0.0000,"Jul 26, 18",0.000000
1,2018-07-27,24.70,28.90,27.57,23.66,20706635,24.80,28.01,28.19,23.93,20459716,,-2.10,-8.1091,"Jul 27, 18",-0.081008
2,2018-07-30,22.70,23.80,24.50,22.01,14534224,23.20,24.11,24.50,22.07,14421969,,-2.10,-8.9410,"Jul 30, 18",-0.160684
3,2018-07-31,22.71,23.00,22.96,20.56,13810721,23.53,23.10,23.51,20.30,13852958,,0.09,0.4000,"Jul 31, 18",-0.156837
4,2018-08-01,21.28,19.52,22.30,19.32,19440142,20.97,19.75,22.00,19.51,20156191,,-2.34,-10.2040,"Aug 1, 18",-0.241922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2020-08-24,83.63,89.12,89.89,83.00,16183578,84.01,86.32,86.17,86.30,15925430,,-0.84,-1.0000,"Aug 24, 20",2.187578
524,2020-08-25,89.79,85.11,89.08,83.81,16719101,88.81,86.75,92.75,85.29,17087763,,4.21,5.0841,"Aug 25, 20",2.362236
525,2020-08-26,92.49,89.80,92.70,88.95,11327045,92.26,89.00,93.50,86.05,11552117,,2.09,2.3200,"Aug 26, 20",2.439892
526,2020-08-27,91.15,90.00,90.65,88.40,7762688,89.21,93.00,93.74,86.50,7930271,,-0.43,-0.4871,"Aug 27, 20",2.357326
527,2020-08-28,89.60,91.93,95.00,89.23,6687592,90.70,89.48,93.00,89.34,6595790,,0.39,0.4440,"Aug 28, 20",2.367614

In [86]:
symbol_VRSN = "VRSN"
historical_stock_VRSN = f"{base_url_sandbox}{version}{symbol_VRSN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_VRSN = requests.get(historical_stock_VRSN).json()
results_stock_VRSN = pd.DataFrame(results_stock_VRSN)
results_stock_VRSN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,70.51,70.10,71.78,71.50,972301,71.37,70.20,70.89,69.32,989377,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,68.92,70.21,68.92,68.31,781222,69.03,68.23,70.49,67.83,765113,,-2.47,-3.4695,"Sep 1, 15",-0.035465
2,2015-09-02,70.97,69.70,70.28,68.71,1132345,70.33,71.00,69.10,66.78,1150117,,1.53,2.3081,"Sep 2, 15",-0.013597
3,2015-09-03,68.79,68.89,69.56,69.75,617098,70.98,69.71,69.31,68.94,616414,,0.19,0.2825,"Sep 3, 15",-0.010672
4,2015-09-04,68.45,68.17,70.24,68.59,652842,68.36,69.87,67.79,69.07,658240,,-1.20,-1.6755,"Sep 4, 15",-0.027042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,213.20,213.23,209.00,206.34,486017,212.50,208.45,217.00,210.07,488413,,0.59,0.2878,"Aug 24, 20",2.016417
1255,2020-08-25,214.30,215.50,213.89,206.30,524456,213.40,211.77,212.79,215.52,540542,,-1.60,-0.7895,"Aug 25, 20",2.057340
1256,2020-08-26,209.61,212.15,211.58,211.06,653857,210.80,213.67,217.70,210.83,659479,,2.83,1.4143,"Aug 26, 20",2.123818
1257,2020-08-27,210.67,211.76,210.76,212.52,406272,213.42,213.21,216.41,212.85,408426,,-0.66,-0.3137,"Aug 27, 20",2.107660
1258,2020-08-28,213.06,209.37,212.65,215.44,397660,217.35,213.94,212.64,208.62,388580,,0.28,0.1342,"Aug 28, 20",2.069031

In [87]:
symbol_CPRT = "CPRT"
historical_stock_CPRT = f"{base_url_sandbox}{version}{symbol_CPRT}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CPRT = requests.get(historical_stock_CPRT).json()
results_stock_CPRT = pd.DataFrame(results_stock_CPRT)
results_stock_CPRT

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,35.33,35.30,35.14,35.55,522809,18.13,18.04,17.79,18.14,1047411,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,35.41,35.85,34.93,34.00,1059709,17.20,17.87,17.51,17.40,2060312,,-0.602,-3.3569,"Sep 1, 15",-0.033807
2,2015-09-02,35.95,34.35,35.53,35.44,581494,17.53,17.59,17.86,17.15,1135271,,0.607,3.4617,"Sep 2, 15",0.000000
3,2015-09-03,35.49,35.29,36.68,35.47,296457,17.45,18.31,18.23,17.83,590942,,-0.077,-0.4406,"Sep 3, 15",-0.004291
4,2015-09-04,35.38,35.35,36.00,35.53,386216,17.56,17.84,17.70,17.39,773571,,0.005,0.0287,"Sep 4, 15",-0.004086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,102.68,103.00,105.40,101.98,1004480,104.41,102.00,102.30,105.21,1017055,,0.150,0.1400,"Aug 24, 20",4.982060
1255,2020-08-25,102.14,104.37,104.00,105.29,820931,104.14,102.73,103.00,104.53,799820,,1.100,1.0882,"Aug 25, 20",4.952381
1256,2020-08-26,104.49,104.76,103.44,104.07,1064364,104.88,101.95,105.03,103.30,1050427,,0.560,0.5509,"Aug 26, 20",4.925200
1257,2020-08-27,108.10,107.18,105.96,104.19,1116739,108.13,103.32,107.50,107.10,1148282,,0.660,0.6425,"Aug 27, 20",5.082188
1258,2020-08-28,109.04,104.75,108.04,106.25,878549,107.43,105.53,105.08,106.96,875256,,1.000,0.9833,"Aug 28, 20",5.019404

In [88]:
symbol_SWKS = "SWKS"
historical_stock_SWKS = f"{base_url_sandbox}{version}{symbol_SWKS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_SWKS = requests.get(historical_stock_SWKS).json()
results_stock_SWKS = pd.DataFrame(results_stock_SWKS)
results_stock_SWKS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,91.57,90.23,94.14,89.81,3165278,91.56,90.11,94.06,88.78,3108610,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,84.93,88.63,87.24,83.20,4803316,86.39,86.99,87.98,83.00,4907339,,-4.40,-5.1147,"Sep 1, 15",-0.050855
2,2015-09-02,87.28,86.45,86.10,84.31,3057235,89.14,88.23,85.89,86.51,3015615,,2.69,3.3420,"Sep 2, 15",-0.018615
3,2015-09-03,85.74,90.01,87.60,85.86,2360532,87.29,87.18,91.12,86.64,2305757,,-0.40,-0.4788,"Sep 3, 15",-0.023803
4,2015-09-04,86.19,87.68,86.49,83.98,2976485,85.88,85.68,88.62,85.07,3005047,,-2.02,-2.4204,"Sep 4, 15",-0.045605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,148.25,145.73,146.42,142.66,1548950,148.01,148.52,145.93,143.53,1615176,,0.20,0.1425,"Aug 24, 20",0.655823
1255,2020-08-25,146.28,145.20,148.24,143.10,1217479,147.30,145.92,147.16,147.86,1221344,,0.29,0.2030,"Aug 25, 20",0.657343
1256,2020-08-26,148.32,147.84,146.30,143.99,1369425,147.90,146.93,147.40,143.93,1340648,,0.19,0.1278,"Aug 26, 20",0.653436
1257,2020-08-27,143.00,148.11,145.17,144.50,1794132,145.00,149.97,147.72,144.60,1776951,,-2.70,-1.8616,"Aug 27, 20",0.609769
1258,2020-08-28,149.71,143.43,145.18,141.39,1071492,150.19,143.27,146.78,142.18,1068386,,3.65,2.6297,"Aug 28, 20",0.665960

In [89]:
symbol_ALGN = "ALGN"
historical_stock_ALGN = f"{base_url_sandbox}{version}{symbol_ALGN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ALGN = requests.get(historical_stock_ALGN).json()
results_stock_ALGN = pd.DataFrame(results_stock_ALGN)
results_stock_ALGN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,56.70,57.48,59.58,57.54,620510,59.10,58.88,59.23,58.10,605207,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,56.16,56.99,57.72,56.28,936604,56.42,57.16,57.46,55.22,973283,,-2.68,-4.9195,"Sep 1, 15",-0.047982
2,2015-09-02,56.50,56.33,56.91,55.75,833244,55.60,54.72,55.62,54.09,831326,,1.17,2.2171,"Sep 2, 15",-0.027726
3,2015-09-03,56.49,55.73,57.54,55.20,657518,56.03,56.66,58.48,55.90,638720,,0.03,0.0565,"Sep 3, 15",-0.026333
4,2015-09-04,54.96,56.30,57.18,54.79,522920,56.15,55.09,55.65,55.17,521752,,-0.88,-1.5696,"Sep 4, 15",-0.042659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,304.03,307.21,304.53,303.22,636502,309.25,312.09,308.56,294.67,642668,,0.81,0.2721,"Aug 24, 20",4.351095
1255,2020-08-25,311.03,300.25,306.40,295.40,595802,300.04,297.77,308.02,294.11,588681,,1.70,0.5625,"Aug 25, 20",4.412879
1256,2020-08-26,313.00,297.92,310.56,294.23,695804,305.00,305.82,309.40,294.12,698655,,4.07,1.3940,"Aug 26, 20",4.355283
1257,2020-08-27,317.45,305.59,325.41,300.00,759394,317.04,313.64,313.49,302.42,751086,,5.13,1.7185,"Aug 27, 20",4.600000
1258,2020-08-28,304.19,308.00,319.91,310.90,426939,311.57,321.00,312.47,302.20,438011,,-5.10,-1.6810,"Aug 28, 20",4.472806

In [90]:
symbol_ALXN = "ALXN"
historical_stock_ALXN = f"{base_url_sandbox}{version}{symbol_ALXN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ALXN = requests.get(historical_stock_ALXN).json()
results_stock_ALXN = pd.DataFrame(results_stock_ALXN)
results_stock_ALXN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,176.01,185.31,180.49,172.89,1678662,177.96,178.09,184.04,176.43,1653292,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,178.98,172.58,180.50,176.22,2636812,175.35,174.75,180.35,171.22,2648063,,-1.39,-0.7865,"Sep 1, 15",-0.007838
2,2015-09-02,177.71,177.13,179.84,174.36,1906764,178.11,182.62,177.61,178.52,1920312,,5.65,3.2748,"Sep 2, 15",0.023701
3,2015-09-03,181.56,184.12,183.00,177.95,1584050,176.94,181.86,182.00,175.76,1567879,,-0.96,-0.5465,"Sep 3, 15",0.017967
4,2015-09-04,179.93,178.07,176.04,173.73,2236330,176.37,176.62,179.96,176.13,2261378,,-3.40,-1.9710,"Sep 4, 15",-0.001240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,102.95,102.00,105.49,101.63,1738531,105.87,102.00,107.46,103.51,1749096,,1.96,1.9684,"Aug 24, 20",-0.420449
1255,2020-08-25,105.96,106.10,106.29,106.47,1214266,104.73,103.89,106.26,104.02,1213661,,0.92,0.9139,"Aug 25, 20",-0.410645
1256,2020-08-26,106.30,106.15,108.70,106.70,1618878,104.90,103.42,107.44,103.70,1650390,,0.96,0.9730,"Aug 26, 20",-0.400656
1257,2020-08-27,111.03,108.88,109.80,107.55,1329025,111.03,105.07,109.00,107.32,1326172,,1.85,1.8051,"Aug 27, 20",-0.388820
1258,2020-08-28,110.74,107.34,111.29,106.25,1088052,110.25,107.66,110.88,106.98,1091963,,0.92,0.8457,"Aug 28, 20",-0.379902

In [91]:
symbol_CERN = "CERN"
historical_stock_CERN = f"{base_url_sandbox}{version}{symbol_CERN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CERN = requests.get(historical_stock_CERN).json()
results_stock_CERN = pd.DataFrame(results_stock_CERN)
results_stock_CERN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,63.36,65.86,64.27,63.17,2272533,64.36,63.65,64.90,63.66,2220858,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,60.91,61.53,63.78,60.52,2678979,60.33,63.62,61.40,61.08,2701496,,-1.94,-3.1862,"Sep 1, 15",-0.031025
2,2015-09-02,61.95,62.46,64.20,61.30,1839630,61.75,63.55,63.10,63.08,1814391,,1.12,1.8456,"Sep 2, 15",-0.013486
3,2015-09-03,62.84,62.88,64.62,63.41,1552126,61.26,64.15,62.24,62.63,1514440,,-0.15,-0.2529,"Sep 3, 15",-0.015525
4,2015-09-04,60.37,61.94,61.68,60.21,1559863,60.63,62.14,60.65,61.83,1501115,,-0.99,-1.6642,"Sep 4, 15",-0.032600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,73.62,75.51,75.40,73.87,965566,72.79,73.49,74.90,74.70,968793,,0.54,0.7614,"Aug 24, 20",0.172857
1255,2020-08-25,74.34,76.03,75.00,74.20,1189115,72.20,73.01,74.10,73.10,1153714,,-0.57,-0.7756,"Aug 25, 20",0.164739
1256,2020-08-26,74.93,75.12,74.41,74.04,1082804,72.69,75.19,73.13,71.08,1074145,,-0.42,-0.5977,"Aug 26, 20",0.158747
1257,2020-08-27,75.00,72.72,77.10,74.79,1665727,76.80,74.78,75.51,72.27,1638325,,1.88,2.6775,"Aug 27, 20",0.191932
1258,2020-08-28,75.90,74.34,75.49,73.23,970783,75.90,73.58,75.86,75.77,962554,,-0.45,-0.6192,"Aug 28, 20",0.179127

In [92]:
symbol_INCY = "INCY"
historical_stock_INCY = f"{base_url_sandbox}{version}{symbol_INCY}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_INCY = requests.get(historical_stock_INCY).json()
results_stock_INCY = pd.DataFrame(results_stock_INCY)
results_stock_INCY

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,119.53,120.47,125.35,118.73,1924931,121.89,121.04,127.41,119.40,1963379,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,117.29,118.76,119.52,118.00,1742592,117.38,119.20,122.07,116.00,1798752,,-1.09,-0.9370,"Sep 1, 15",-0.009596
2,2015-09-02,127.86,121.65,124.41,115.29,2320157,124.61,122.38,128.85,115.19,2225172,,8.20,7.3162,"Sep 2, 15",0.061112
3,2015-09-03,118.64,127.14,130.40,118.80,1581601,117.83,127.08,127.50,116.20,1568250,,-7.25,-6.0725,"Sep 3, 15",-0.001056
4,2015-09-04,116.10,116.70,119.10,114.27,1102713,120.23,119.62,120.80,115.63,1066634,,-0.20,-0.1703,"Sep 4, 15",-0.002767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,97.31,97.10,98.53,95.30,874154,98.47,97.57,98.39,93.84,881007,,-0.07,-0.0779,"Aug 24, 20",-0.193751
1255,2020-08-25,97.94,96.38,100.05,98.20,609694,99.46,95.65,97.96,97.60,606663,,1.27,1.3584,"Aug 25, 20",-0.181264
1256,2020-08-26,96.22,94.07,95.78,94.88,700383,96.58,95.57,97.54,95.92,706739,,-1.58,-1.6385,"Aug 26, 20",-0.196517
1257,2020-08-27,96.70,96.50,96.99,97.50,747690,99.00,97.49,97.18,96.20,776464,,0.57,0.5886,"Aug 27, 20",-0.189417
1258,2020-08-28,97.70,97.87,95.49,98.20,682205,95.10,96.34,95.32,95.78,695273,,-0.40,-0.4327,"Aug 28, 20",-0.197612

In [93]:
symbol_TTWO = "TTWO"
historical_stock_TTWO = f"{base_url_sandbox}{version}{symbol_TTWO}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_TTWO = requests.get(historical_stock_TTWO).json()
results_stock_TTWO = pd.DataFrame(results_stock_TTWO)
results_stock_TTWO

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,30.48,30.30,30.19,29.82,2039559,29.25,30.10,30.45,30.17,2029562,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,29.53,29.50,30.01,28.26,1768003,29.41,28.80,30.43,29.44,1774030,,-0.80,-2.7485,"Sep 1, 15",-0.027427
2,2015-09-02,29.21,29.37,29.39,28.85,1788774,30.10,29.49,29.67,29.28,1724387,,0.37,1.3035,"Sep 2, 15",-0.015014
3,2015-09-03,29.40,29.94,30.00,28.83,1179457,30.10,30.05,29.00,28.48,1149533,,-0.01,-0.0360,"Sep 3, 15",-0.014830
4,2015-09-04,29.83,28.58,30.11,29.51,1031873,29.45,28.47,29.86,29.29,1049654,,-0.25,-0.8774,"Sep 4, 15",-0.023797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,180.65,177.92,180.35,177.83,934808,175.32,174.42,174.84,173.10,941259,,-0.61,-0.3519,"Aug 24, 20",5.084809
1255,2020-08-25,181.30,179.96,179.34,177.82,726158,180.03,180.35,176.05,175.77,726223,,0.49,0.2729,"Aug 25, 20",4.940970
1256,2020-08-26,177.43,178.60,179.43,181.10,927532,176.55,176.00,177.50,173.40,900941,,2.39,1.3808,"Aug 26, 20",5.120720
1257,2020-08-27,175.38,175.46,183.00,173.23,1597736,179.83,179.97,180.20,177.45,1662453,,-2.83,-1.6216,"Aug 27, 20",5.093404
1258,2020-08-28,179.54,174.63,180.41,175.56,863528,173.91,179.50,175.56,173.02,890169,,-1.65,-0.9446,"Aug 28, 20",4.992722

In [94]:
symbol_MXIM = "MXIM"
historical_stock_MXIM = f"{base_url_sandbox}{version}{symbol_MXIM}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_MXIM = requests.get(historical_stock_MXIM).json()
results_stock_MXIM = pd.DataFrame(results_stock_MXIM)
results_stock_MXIM

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,34.69,35.00,34.58,34.70,2792970,34.98,35.00,34.58,34.50,2787995,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,32.50,33.46,34.62,32.60,2914353,32.87,33.80,33.36,33.08,2884439,,-1.490,-4.4041,"Sep 1, 15",-0.042811
2,2015-09-02,33.00,33.33,33.13,32.33,2911044,33.68,32.88,33.42,33.64,2867068,,0.720,2.2540,"Sep 2, 15",-0.021869
3,2015-09-03,33.41,33.17,34.45,34.16,1918739,33.33,34.17,34.25,33.88,1948780,,0.350,1.0499,"Sep 3, 15",-0.011423
4,2015-09-04,34.32,33.60,34.40,33.00,1865247,33.56,34.40,34.60,33.00,1862391,,-0.300,-0.9065,"Sep 4, 15",-0.020723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,72.10,71.21,72.43,71.65,1367976,71.70,72.14,72.06,71.19,1421579,,0.610,0.8634,"Aug 24, 20",1.091156
1255,2020-08-25,73.20,70.10,72.54,70.77,1996744,73.94,69.95,73.31,70.05,2040575,,1.800,2.5548,"Aug 25, 20",1.107572
1256,2020-08-26,73.50,73.00,71.28,71.14,3525947,71.20,72.00,71.20,72.99,3477156,,-0.530,-0.7272,"Aug 26, 20",1.117655
1257,2020-08-27,72.23,71.67,72.53,70.86,1925579,72.00,72.18,71.78,71.75,1970230,,-0.274,-0.3892,"Aug 27, 20",1.098300
1258,2020-08-28,71.51,71.61,71.22,72.90,2153499,71.42,70.47,71.31,71.26,2098400,,0.190,0.2660,"Aug 28, 20",1.138165

In [95]:
symbol_CHKP = "CHKP"
historical_stock_CHKP = f"{base_url_sandbox}{version}{symbol_CHKP}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CHKP = requests.get(historical_stock_CHKP).json()
results_stock_CHKP = pd.DataFrame(results_stock_CHKP)
results_stock_CHKP

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,79.38,80.72,80.93,79.50,1421613,80.48,79.56,80.01,79.10,1369897,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,77.96,77.38,79.56,77.73,2100144,77.91,77.02,81.26,77.21,2122062,,-0.80,-1.0025,"Sep 1, 15",-0.010144
2,2015-09-02,79.22,80.41,78.40,77.60,1682754,80.22,78.73,81.92,80.60,1650201,,1.15,1.4569,"Sep 2, 15",0.004483
3,2015-09-03,81.19,82.03,79.05,81.35,1139052,81.45,80.46,81.11,78.17,1123389,,-0.27,-0.3423,"Sep 3, 15",0.001049
4,2015-09-04,80.22,80.13,78.58,77.60,1505590,80.73,79.05,80.70,79.30,1553238,,-0.48,-0.6179,"Sep 4, 15",-0.005129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,131.32,131.51,131.57,132.48,862498,129.74,130.34,134.51,129.03,875848,,1.32,1.0676,"Aug 24, 20",0.686858
1255,2020-08-25,131.78,133.23,135.13,128.17,1218331,129.31,131.01,136.09,130.07,1245458,,-1.89,-1.4869,"Aug 25, 20",0.648574
1256,2020-08-26,129.55,135.16,132.54,128.70,842070,134.28,131.49,131.40,129.40,821750,,1.12,0.8731,"Aug 26, 20",0.658988
1257,2020-08-27,132.07,131.77,132.05,132.42,808280,129.55,134.33,134.97,128.37,834827,,-1.36,-1.0416,"Aug 27, 20",0.649438
1258,2020-08-28,128.47,131.00,132.59,130.80,586275,133.14,129.00,132.81,128.20,594204,,-0.76,-0.5877,"Aug 28, 20",0.631773

In [96]:
symbol_CTXS = "CTXS"
historical_stock_CTXS = f"{base_url_sandbox}{version}{symbol_CTXS}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CTXS = requests.get(historical_stock_CTXS).json()
results_stock_CTXS = pd.DataFrame(results_stock_CTXS)
results_stock_CTXS

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,69.81,70.71,70.99,68.14,2234001,56.00,57.16,55.20,55.32,2777874,,0.0000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,68.00,68.40,68.50,68.16,2446680,52.09,55.20,55.62,53.35,3054836,,-2.2500,-4.0560,"Sep 1, 15",-0.041034
2,2015-09-02,70.19,68.98,69.50,68.59,2816799,54.44,55.21,55.43,52.30,3586057,,1.5900,3.1334,"Sep 2, 15",-0.011060
3,2015-09-03,68.63,68.28,71.40,67.96,2286137,54.55,54.37,56.90,55.49,2934536,,0.3972,0.7377,"Sep 3, 15",-0.003614
4,2015-09-04,71.19,68.40,68.68,67.60,1761463,54.48,54.01,55.77,55.04,2182909,,0.0160,0.0300,"Sep 4, 15",-0.003334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,149.30,144.87,150.99,148.05,1035244,144.30,146.65,150.61,142.95,1024014,,-0.4400,-0.3021,"Aug 24, 20",1.662303
1255,2020-08-25,145.37,144.13,150.80,147.35,935984,149.72,145.92,147.00,146.42,939418,,0.1100,0.0800,"Aug 25, 20",1.686660
1256,2020-08-26,144.94,143.08,150.74,148.90,949456,149.99,147.05,146.58,143.70,932470,,1.4400,0.9880,"Aug 26, 20",1.671970
1257,2020-08-27,148.91,144.63,150.85,144.55,989251,149.00,150.87,150.73,142.61,1023297,,-2.0600,-1.4463,"Aug 27, 20",1.676811
1258,2020-08-28,146.80,146.55,151.98,148.43,994782,148.32,146.18,148.88,143.52,959827,,1.8400,1.2831,"Aug 28, 20",1.687281

In [97]:
symbol_CDW = "CDW"
historical_stock_CDW = f"{base_url_sandbox}{version}{symbol_CDW}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_CDW = requests.get(historical_stock_CDW).json()
results_stock_CDW = pd.DataFrame(results_stock_CDW)
results_stock_CDW

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,40.85,41.35,41.49,40.44,1482279,39.81,40.16,40.13,40.90,1456477,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,40.23,40.80,39.42,39.70,897636,38.63,40.21,40.48,39.00,913959,,-1.36,-3.4788,"Sep 1, 15",-0.035346
2,2015-09-02,39.64,39.90,39.41,38.74,1061352,40.44,39.50,40.47,38.54,1061085,,0.40,1.0265,"Sep 2, 15",-0.024434
3,2015-09-03,39.45,39.40,41.18,39.30,629706,39.96,40.20,40.28,39.80,639778,,0.47,1.1890,"Sep 3, 15",-0.013161
4,2015-09-04,39.20,39.58,40.41,40.11,648268,40.50,39.16,38.94,38.53,624567,,-0.56,-1.4184,"Sep 4, 15",-0.026857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,115.38,112.97,118.14,113.21,555893,115.71,112.36,118.20,115.59,558429,,1.17,1.0455,"Aug 24, 20",1.889722
1255,2020-08-25,115.65,116.11,114.28,115.85,505287,115.20,116.26,115.12,112.60,492529,,-0.15,-0.1270,"Aug 25, 20",1.891220
1256,2020-08-26,116.15,114.42,115.00,114.46,1067623,111.22,116.53,114.58,111.91,1077416,,-1.01,-0.8954,"Aug 26, 20",1.809080
1257,2020-08-27,117.22,116.06,115.64,116.80,1199593,115.09,116.81,120.25,113.31,1205038,,3.78,3.3916,"Aug 27, 20",1.956056
1258,2020-08-28,116.46,115.32,119.74,116.27,580072,119.94,119.33,119.74,115.44,583956,,0.50,0.4560,"Aug 28, 20",1.911652

In [98]:
symbol_TCOM = "TCOM"
historical_stock_TCOM = f"{base_url_sandbox}{version}{symbol_TCOM}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_TCOM = requests.get(historical_stock_TCOM).json()
results_stock_TCOM = pd.DataFrame(results_stock_TCOM)
results_stock_TCOM

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,68.31,69.08,72.10,67.37,2162346,33.86,34.80,36.18,33.74,4443334,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,64.37,68.44,69.27,64.58,2190595,32.71,33.82,33.83,32.24,4256262,,-1.09,-3.3100,"Sep 1, 15",-0.032400
2,2015-09-02,65.67,66.23,66.65,65.00,1419554,34.15,34.52,33.77,33.00,2865410,,0.59,1.8156,"Sep 2, 15",-0.015169
3,2015-09-03,69.15,68.12,71.70,65.17,1587227,33.76,34.41,35.05,34.13,3175312,,0.22,0.6882,"Sep 3, 15",-0.008810
4,2015-09-04,64.38,67.00,67.63,65.05,1840734,33.46,32.60,33.86,32.94,3739841,,-1.01,-3.0985,"Sep 4, 15",-0.039034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2020-08-24,29.76,29.55,29.59,28.51,4357817,28.60,29.04,30.13,28.60,4469288,,0.47,1.6427,"Aug 24, 20",-0.144713
1254,2020-08-25,29.47,29.44,30.15,29.47,5693689,29.91,29.57,29.14,28.99,5652373,,0.18,0.6183,"Aug 25, 20",-0.140704
1255,2020-08-26,29.20,29.50,29.21,29.38,7829688,28.70,30.10,29.33,29.02,7978249,,-0.16,-0.5308,"Aug 26, 20",-0.141658
1256,2020-08-27,30.22,29.82,29.33,28.59,4234595,29.23,29.04,29.21,29.28,4220879,,0.45,1.5189,"Aug 27, 20",-0.130705
1257,2020-08-28,31.97,29.70,31.31,30.00,6704893,31.13,30.40,31.40,29.00,6912085,,1.70,5.5311,"Aug 28, 20",-0.080237

In [99]:
symbol_BMRN = "BMRN"
historical_stock_BMRN = f"{base_url_sandbox}{version}{symbol_BMRN}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_BMRN = requests.get(historical_stock_BMRN).json()
results_stock_BMRN = pd.DataFrame(results_stock_BMRN)
results_stock_BMRN

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,130.55,137.42,143.34,128.92,1164158,132.13,135.60,139.13,132.66,1190398,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,125.43,126.32,128.08,129.19,1368459,127.24,126.96,134.20,125.27,1370325,,-4.80,-3.6700,"Sep 1, 15",-0.035760
2,2015-09-02,132.63,132.56,135.64,128.52,1120928,132.16,127.81,134.05,127.65,1119610,,4.70,3.8670,"Sep 2, 15",0.000157
3,2015-09-03,131.54,135.50,135.23,129.39,884232,126.99,135.60,136.55,126.58,889960,,-2.90,-2.2500,"Sep 3, 15",-0.021725
4,2015-09-04,128.73,126.70,132.10,129.00,714733,131.66,126.90,133.93,125.70,717684,,0.06,0.0476,"Sep 4, 15",-0.021912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,74.00,76.75,75.89,74.48,4107029,74.00,76.17,79.03,74.53,4056858,,-2.04,-2.8111,"Aug 24, 20",-0.445076
1255,2020-08-25,77.80,76.00,76.00,74.54,3540986,74.90,77.06,77.00,76.80,3516887,,1.40,1.9828,"Aug 25, 20",-0.444557
1256,2020-08-26,78.49,75.01,78.97,75.80,2586230,75.48,76.58,78.97,76.60,2594497,,0.50,0.6634,"Aug 26, 20",-0.422159
1257,2020-08-27,76.03,78.22,78.54,76.71,4192124,78.92,75.85,79.11,77.70,4242634,,0.56,0.7455,"Aug 27, 20",-0.426156
1258,2020-08-28,76.51,78.52,78.92,77.50,1793922,77.98,77.02,76.45,78.50,1821076,,0.98,1.2860,"Aug 28, 20",-0.418615

In [100]:
symbol_EXPE = "EXPE"
historical_stock_EXPE = f"{base_url_sandbox}{version}{symbol_EXPE}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_EXPE = requests.get(historical_stock_EXPE).json()
results_stock_EXPE = pd.DataFrame(results_stock_EXPE)
results_stock_EXPE

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,117.80,119.91,117.70,118.56,1031568,120.32,118.18,119.40,114.49,1049307,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,112.47,115.22,118.25,110.70,1856379,114.60,112.56,114.33,112.75,1913468,,-4.68,-4.1896,"Sep 1, 15",-0.041298
2,2015-09-02,117.86,115.64,118.44,113.35,952804,116.94,117.24,118.38,112.99,951705,,3.11,2.7680,"Sep 2, 15",-0.014375
3,2015-09-03,117.45,116.18,117.38,114.03,830627,115.48,117.34,118.61,118.12,828085,,-0.50,-0.4490,"Sep 3, 15",-0.018922
4,2015-09-04,115.95,113.99,113.09,110.65,1337447,112.45,114.20,117.97,115.60,1354418,,-1.67,-1.4892,"Sep 4, 15",-0.033382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,96.43,92.37,98.11,94.40,4289463,97.55,93.67,96.27,96.00,4226277,,4.55,4.8736,"Aug 24, 20",-0.170885
1255,2020-08-25,97.34,98.35,97.60,94.61,2457110,101.19,96.45,97.33,95.52,2388533,,0.99,1.0161,"Aug 25, 20",-0.161704
1256,2020-08-26,97.43,101.00,99.23,95.90,2131525,98.53,100.00,101.06,95.70,2100768,,-1.36,-1.4158,"Aug 26, 20",-0.172892
1257,2020-08-27,98.52,99.10,100.28,98.34,2797555,99.24,97.20,98.82,97.45,2774200,,2.66,2.8100,"Aug 27, 20",-0.154925
1258,2020-08-28,104.36,101.49,102.51,102.10,3116905,105.78,99.64,103.19,98.20,3136788,,3.21,3.3222,"Aug 28, 20",-0.124822

In [101]:
symbol_ULTA = "ULTA"
historical_stock_ULTA = f"{base_url_sandbox}{version}{symbol_ULTA}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_ULTA = requests.get(historical_stock_ULTA).json()
results_stock_ULTA = pd.DataFrame(results_stock_ULTA)
results_stock_ULTA

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,161.34,157.69,163.29,159.66,1116431,159.76,160.50,166.77,162.33,1145581,,0.00,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,156.65,157.61,158.18,157.62,1302146,156.09,161.27,160.74,156.93,1286382,,-4.49,-2.8138,"Sep 1, 15",-0.028063
2,2015-09-02,161.06,156.91,162.15,153.84,1076776,162.08,159.99,159.30,160.70,1092479,,4.96,3.2012,"Sep 2, 15",0.002729
3,2015-09-03,163.29,164.90,167.25,164.52,952580,159.46,164.70,166.43,160.88,976502,,0.44,0.2680,"Sep 3, 15",0.005516
4,2015-09-04,162.60,164.57,161.36,162.34,608741,163.80,162.13,159.20,163.08,602383,,-1.24,-0.7841,"Sep 4, 15",-0.002497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,228.40,220.35,232.80,211.39,1252545,230.20,216.06,226.60,212.89,1248369,,8.80,4.1170,"Aug 24, 20",0.411471
1255,2020-08-25,228.32,232.13,230.00,218.30,873900,228.76,223.38,229.00,227.70,907277,,-2.74,-1.2385,"Aug 25, 20",0.394262
1256,2020-08-26,225.14,227.83,228.78,226.11,1033417,231.00,221.64,225.93,216.59,1044463,,1.01,0.4522,"Aug 26, 20",0.415050
1257,2020-08-27,224.38,227.37,233.70,229.90,2857163,224.83,230.79,230.78,224.06,2769028,,3.29,1.5060,"Aug 27, 20",0.435071
1258,2020-08-28,238.05,254.86,266.60,241.19,6711453,248.21,256.70,256.60,240.38,6734191,,13.21,5.9845,"Aug 28, 20",0.523938

In [102]:
symbol_WDC = "WDC"
historical_stock_WDC = f"{base_url_sandbox}{version}{symbol_WDC}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_WDC = requests.get(historical_stock_WDC).json()
results_stock_WDC = pd.DataFrame(results_stock_WDC)
results_stock_WDC

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,85.43,84.70,85.14,81.49,1968713,84.52,81.22,82.76,82.26,1983372,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,82.56,82.56,82.81,82.43,3097368,81.76,81.18,83.07,83.02,3082523,,-1.570,-1.9186,"Sep 1, 15",-0.018522
2,2015-09-02,81.45,86.29,83.09,81.86,2580433,84.22,85.38,86.22,82.61,2570443,,0.700,0.9067,"Sep 2, 15",-0.010344
3,2015-09-03,83.10,81.00,85.37,80.94,2040560,83.50,83.00,83.84,80.93,2066796,,0.650,0.8180,"Sep 3, 15",-0.001996
4,2015-09-04,81.98,80.41,83.43,82.05,1690074,81.38,84.05,84.27,80.20,1741236,,-1.860,-2.1810,"Sep 4, 15",-0.024530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,35.07,35.23,35.78,34.67,5907321,34.74,35.16,36.23,34.52,5668897,,0.860,2.4777,"Aug 24, 20",-0.582928
1255,2020-08-25,34.43,35.00,36.66,34.52,4897417,35.73,36.20,36.71,34.71,5003478,,-0.230,-0.6766,"Aug 25, 20",-0.600839
1256,2020-08-26,34.50,35.68,35.07,34.36,4365896,34.60,36.28,35.46,34.41,4219346,,-0.016,-0.0443,"Aug 26, 20",-0.604036
1257,2020-08-27,36.71,35.76,36.31,35.13,6965143,35.26,36.28,35.96,34.49,6735033,,0.990,2.8882,"Aug 27, 20",-0.579714
1258,2020-08-28,39.37,36.63,38.69,36.39,12031613,38.97,36.56,38.19,35.49,12157728,,2.700,7.5550,"Aug 28, 20",-0.559091

In [103]:
symbol_LBTYK = "LBTYK"
historical_stock_LBTYK = f"{base_url_sandbox}{version}{symbol_LBTYK}/{endpoint}{date_range}?token={token_sandbox}"
results_stock_LBTYK = requests.get(historical_stock_LBTYK).json()
results_stock_LBTYK = pd.DataFrame(results_stock_LBTYK)
results_stock_LBTYK

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,46.10,46.91,46.11,45.18,3424619,40.60,39.89,40.19,38.89,3883291,,0.0000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,44.10,45.10,46.15,43.95,3961003,39.45,39.00,41.00,39.18,4489551,,-1.2900,-3.2906,"Sep 1, 15",-0.033757
2,2015-09-02,44.83,45.18,45.84,43.91,3822496,38.80,38.07,38.30,38.80,4372428,,0.1485,0.4096,"Sep 2, 15",-0.029457
3,2015-09-03,45.98,43.89,45.96,43.57,3414493,38.71,38.93,40.35,38.03,3824185,,0.5858,1.5309,"Sep 3, 15",-0.014802
4,2015-09-04,43.83,43.92,46.08,44.66,2114711,38.66,39.65,38.40,38.12,2435354,,-0.3602,-0.9279,"Sep 4, 15",-0.023720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,22.06,22.41,22.37,21.50,3156655,22.54,22.14,22.71,21.55,3156724,,0.2600,1.1843,"Aug 24, 20",-0.445840
1255,2020-08-25,22.89,22.31,22.28,22.49,2921851,22.94,21.78,23.07,22.39,2949494,,0.5080,2.4449,"Aug 25, 20",-0.450434
1256,2020-08-26,23.41,22.87,23.88,23.00,3256199,23.67,22.15,23.78,22.00,3140750,,0.6000,2.6455,"Aug 26, 20",-0.430369
1257,2020-08-27,22.88,23.58,23.00,23.30,2338152,23.72,23.91,23.90,22.80,2308808,,0.0880,0.3790,"Aug 27, 20",-0.415945
1258,2020-08-28,23.29,23.59,23.30,22.75,1901997,23.59,23.71,23.18,23.16,1890635,,0.2300,0.9671,"Aug 28, 20",-0.423613

In [104]:
historical_stock_NASDAQ1 = pd.concat([results_stock_AAPL,results_stock_AMZN,results_stock_MSFT,
        results_stock_FB,results_stock_GOOGL,results_stock_GOOGL,results_stock_TSLA,
        results_stock_NVDA,results_stock_ADBE,results_stock_NFLX])
historical_stock_NASDAQ2 = pd.concat([results_stock_PYPL,
        results_stock_INTC,results_stock_CMCSA,results_stock_PEP,results_stock_CSCO,
        results_stock_COST,results_stock_AMGN,results_stock_TMUS,results_stock_AVGO,
        results_stock_TXN])
historical_stock_NASDAQ3 = pd.concat([results_stock_QCOM,results_stock_CHTR,results_stock_AMD,
        results_stock_SBUX,results_stock_INTU,results_stock_MDLZ,results_stock_GILD,
        results_stock_ISRG,results_stock_BKNG,results_stock_JD])
historical_stock_NASDAQ4 = pd.concat([results_stock_VRTX,
        results_stock_FISV,results_stock_ATVI,results_stock_REGN,results_stock_MELI,
        results_stock_ADP,results_stock_AMAT,results_stock_CSX,results_stock_ADSK,
        results_stock_ILMN])
historical_stock_NASDAQ5 = pd.concat([results_stock_LRCX,results_stock_MU,results_stock_ZM,
        results_stock_LULU,results_stock_BIIB,results_stock_ADI,results_stock_MNST,
        results_stock_KHC,results_stock_EA,results_stock_EBAY])
historical_stock_NASDAQ6 = pd.concat([results_stock_DXCM,
        results_stock_DOCU,results_stock_NTES,results_stock_WDAY,results_stock_CTSH,
        results_stock_EXC,results_stock_XEL,results_stock_NXPI,results_stock_BIDU,
        results_stock_SPLK])
historical_stock_NASDAQ7 = pd.concat([results_stock_ORLY,results_stock_WBA,results_stock_CTAS,
        results_stock_SNPS,results_stock_KLAC,results_stock_IDXX,results_stock_ROST,
        results_stock_MAR,results_stock_CDNS,results_stock_VRSK])
historical_stock_NASDAQ8 = pd.concat([results_stock_PCAR,
        results_stock_ASML,results_stock_ANSS,results_stock_FAST,results_stock_MRNA,
        results_stock_PAYX,results_stock_SGEN,results_stock_MCHP,results_stock_SIRI,
        results_stock_XLNX])
historical_stock_NASDAQ9 = pd.concat([results_stock_DLTR,results_stock_PDD,results_stock_VRSN,
        results_stock_CPRT,results_stock_SWKS,results_stock_ALGN,results_stock_ALXN,
        results_stock_CERN,results_stock_INCY,results_stock_TTWO])
historical_stock_NASDAQ10 = pd.concat([results_stock_MXIM,
        results_stock_CHKP,results_stock_CTXS,results_stock_CDW,results_stock_TCOM,
        results_stock_BMRN,results_stock_EXPE,results_stock_ULTA,results_stock_WDC,
        results_stock_LBTYK])
historical_stock_NASDAQ = pd.concat([historical_stock_NASDAQ1,historical_stock_NASDAQ2,
                                    historical_stock_NASDAQ3,historical_stock_NASDAQ4,
                                    historical_stock_NASDAQ5,historical_stock_NASDAQ6,
                                    historical_stock_NASDAQ7,historical_stock_NASDAQ8,
                                    historical_stock_NASDAQ9,historical_stock_NASDAQ10])
historical_stock_NASDAQ

,date,uClose,uOpen,uHigh,uLow,uVolume,close,open,high,low,volume,currency,change,changePercent,label,changeOverTime
0,2015-08-31,115.94,115.83,116.50,114.00,58635323,115.15,116.80,119.41,116.00,56938713,,0.000,0.0000,"Aug 31, 15",0.000000
1,2015-09-01,109.60,110.67,116.52,108.21,78386950,112.79,113.35,116.22,112.09,80534174,,-5.200,-4.6765,"Sep 1, 15",-0.045822
2,2015-09-02,112.98,115.09,114.26,110.68,61899409,115.88,113.36,115.59,113.76,61959735,,4.780,4.3872,"Sep 2, 15",-0.003898
3,2015-09-03,114.67,117.99,114.75,111.05,55434852,110.59,113.87,116.25,113.68,55207240,,-1.990,-1.7587,"Sep 3, 15",-0.021899
4,2015-09-04,111.64,111.00,112.70,110.29,52493830,112.93,109.59,114.78,110.89,50851532,,-1.100,-1.0015,"Sep 4, 15",-0.031319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2020-08-24,22.06,22.41,22.37,21.50,3156655,22.54,22.14,22.71,21.55,3156724,,0.260,1.1843,"Aug 24, 20",-0.445840
1255,2020-08-25,22.89,22.31,22.28,22.49,2921851,22.94,21.78,23.07,22.39,2949494,,0.508,2.4449,"Aug 25, 20",-0.450434
1256,2020-08-26,23.41,22.87,23.88,23.00,3256199,23.67,22.15,23.78,22.00,3140750,,0.600,2.6455,"Aug 26, 20",-0.430369
1257,2020-08-27,22.88,23.58,23.00,23.30,2338152,23.72,23.91,23.90,22.80,2308808,,0.088,0.3790,"Aug 27, 20",-0.415945
1258,2020-08-28,23.29,23.59,23.30,22.75,1901997,23.59,23.71,23.18,23.16,1890635,,0.230,0.9671,"Aug 28, 20",-0.423613

In [105]:
historical_stock_NASDAQ.to_csv("historical_stock_NASDAQ.csv")