# IEX Cloud API

**Data Coverage**

95,000+ securities, full U.S. market coverage, 20+ exchanges, 100+ currency pairs

**Performance**

800M+ API calls per day, 28ms avg latency

5 year limit

Filter by primary exchange index on paid subscription

Free account includes:

* 50,000 core messages/mo

* Unlimited Investors Exchange data

* Unlimited Sandbox Testing

* Limited access to Core Data:

Intraday U.S. Stock Prices, Historical U.S. Stock Prices (5Y), Historical Intl Stock Prices (5Y), Earnings (last), Dividends (last), Splits (last), Reference Data, Mutual Funds, OTC (EOD), News, Crypto

In [1]:
# Import dependencies
import os
import requests
import json
import pandas as pd
from api_keys import apiKeySandbox

In [2]:
tickers = ["AAPL","AMZN","MSFT","FB","GOOGL","GOOG","TSLA","NVDA","ADBE","NFLX","PYPL",
           "INTC","CMCSA","PEP","CSCO","COST","AMGN","TMUS","AVGO","TXN","QCOM","CHTR",
           "AMD","SBUX","INTU","MDLZ","GILD","ISRG","BKNG","JD","VRTX","FISV","ATVI",
           "REGN","MELI","ADP","AMAT","CSX","ADSK","ILMN","LRCX","MU","ZM","LULU","BIIB",
           "ADI","MNST","KHC","EA","EBAY","DXCM","DOCU","NTES","WDAY","CTSH","EXC","XEL",
           "NXPI","BIDU","SPLK","ORLY","WBA","CTAS","SNPS","KLAC","IDXX","ROST","MAR",
           "CDNS","VRSK","PCAR","ASML","ANSS","FAST","MRNA","PAYX","SGEN","MCHP","SIRI",
           "XLNX","DLTR","PDD","VRSN","CPRT","SWKS","ALGN","ALXN","CERN","INCY","TTWO",
           "MXIM","CHKP","CTXS","CDW","TCOM","BMRN","EXPE","ULTA","WDC","LBTYK"]

In [3]:
# URL for testing
base_url_sandbox = "https://sandbox.iexapis.com/" 
version = "stable/stock/"
endpoint = "chart/"
token_sandbox = apiKeySandbox

In [4]:
symbol_AAPL = "AAPL/"
# Extract financial data for companies
financials_APPL = f"{base_url_sandbox}{version}{symbol_AAPL}financials?period=annual&token={token_sandbox}"
results_AAPL = requests.get(financials_APPL).json()
c=pd.DataFrame(results_AAPL['financials']).columns
c

Index(['reportDate', 'fiscalDate', 'currency', 'grossProfit', 'costOfRevenue',
       'operatingRevenue', 'totalRevenue', 'operatingIncome', 'netIncome',
       'researchAndDevelopment', 'operatingExpense', 'currentAssets',
       'totalAssets', 'totalLiabilities', 'currentCash', 'currentDebt',
       'shortTermDebt', 'longTermDebt', 'totalCash', 'totalDebt',
       'shareholderEquity', 'cashChange', 'cashFlow'],
      dtype='object')

In [5]:
financials=[]
for x in tickers:
    symbol_quote = x+"/"
    # Extract data for quotes
    financials_APPL = f"{base_url_sandbox}{version}{symbol_AAPL}financials?period=annual&token={token_sandbox}"
    results_AAPL = requests.get(financials_APPL).json()
    c=results_AAPL['financials']
    financials.append(c)
financials

[[{'reportDate': '2019-09-18',
   'fiscalDate': '2019-09-25',
   'currency': 'USD',
   'grossProfit': 101170921167,
   'costOfRevenue': 165709801864,
   'operatingRevenue': 267006044925,
   'totalRevenue': 261404713363,
   'operatingIncome': 63248952341,
   'netIncome': 57513266576,
   'researchAndDevelopment': 17022027265,
   'operatingExpense': 205120046189,
   'currentAssets': 166472358549,
   'totalAssets': 339294323831,
   'totalLiabilities': 248300224836,
   'currentCash': 29044791686,
   'currentDebt': 16345192988,
   'shortTermDebt': 16930889063,
   'longTermDebt': 92338114959,
   'totalCash': 105011620013,
   'totalDebt': 112291679785,
   'shareholderEquity': 93529110869,
   'cashChange': 24590466450,
   'cashFlow': 72763420573}],
 [{'reportDate': '2019-09-18',
   'fiscalDate': '2019-09-25',
   'currency': 'USD',
   'grossProfit': 102522109679,
   'costOfRevenue': 165528413951,
   'operatingRevenue': 269098573404,
   'totalRevenue': 263598806972,
   'operatingIncome': 63613485863,
   'netIncome': 57659585138,
   'researchAndDevelopment': 16582123775,
   'operatingExpense': 197808946089,
   'currentAssets': 168257832598,
   'totalAssets': 343849812958,
   'totalLiabilities': 253563043136,
   'currentCash': 29045983359,
   'currentDebt': 16309004616,
   'shortTermDebt': 17049413007,
   'longTermDebt': 96311927452,
   'totalCash': 104360988809,
   'totalDebt': 112951769493,
   'shareholderEquity': 93748052143,
   'cashChange': 25302432984,
   'cashFlow': 72579088686}],
 [{'reportDate': '2019-09-29',
   'fiscalDate': '2019-09-19',
   'currency': 'USD',
   'grossProfit': 100146622757,
   'costOfRevenue': 169536210933,
   'operatingRevenue': 268038144507,
   'totalRevenue': 266656093862,
   'operatingIncome': 64956524672,
   'netIncome': 55522750635,
   'researchAndDevelopment': 16427879744,
   'operatingExpense': 199069666794,
   'currentAssets': 165285892220,
   'totalAssets': 354783001764,
   'totalLiabilities': 258193530234,
   'currentCash': 28461442100,
   'currentDebt': 16415819511,
   'shortTermDebt': 16444590709,
   'longTermDebt': 91871200298,
   'totalCash': 100638325252,
   'totalDebt': 109764558942,
   'shareholderEquity': 93521199919,
   'cashChange': 24621583514,
   'cashFlow': 69610684594}],
 [{'reportDate': '2019-09-16',
   'fiscalDate': '2019-09-19',
   'currency': 'USD',
   'grossProfit': 101812912327,
   'costOfRevenue': 164913680876,
   'operatingRevenue': 261909531122,
   'totalRevenue': 264814905398,
   'operatingIncome': 63391491299,
   'netIncome': 55804139364,
   'researchAndDevelopment': 16539862151,
   'operatingExpense': 204010265237,
   'currentAssets': 162866629886,
   'totalAssets': 346874823882,
   'totalLiabilities': 248077789006,
   'currentCash': 28459230052,
   'currentDebt': 17018842425,
   'shortTermDebt': 16877819846,
   'longTermDebt': 94660987520,
   'totalCash': 105284130677,
   'totalDebt': 110186250945,
   'shareholderEquity': 91304813792,
   'cashChange': 25385972103,
   'cashFlow': 70911945660}],
 [{'reportDate': '2019-09-26',
   'fiscalDate': '2019-09-17',
   'currency': 'USD',
   'grossProfit': 98289823287,
   'costOfRevenue': 162514906461,
   'operatingRevenue': 266533956223,
   'totalRevenue': 268205955758,
   'operatingIncome': 64562637554,
   'netIncome': 55571416842,
   'researchAndDevelopment': 16414008861,
   'operatingExpense': 203395510136,
   'currentAssets': 163851028102,
   'totalAssets': 343091154799,
   'totalLiabilities': 251457522307,
   'currentCash': 28692811832,
   'currentDebt': 16249775347,
   'shortTermDebt': 16377177235,
   'longTermDebt': 91984180321,
   'totalCash': 104543278136,
   'totalDebt': 112435902578,
   'shareholderEquity': 91024996835,
   'cashChange': 24545169991,
   'cashFlow': 70288670003}],
 [{'reportDate': '2019-09-20',
   'fiscalDate': '2019-09-15',
   'currency': 'USD',
   'grossProfit': 102341640423,
   'costOfRevenue': 166129706887,
   'operatingRevenue': 267135570961,
   'totalRevenue': 270784313279,
   'operatingIncome': 66262291404,
   'netIncome': 56095413176,
   'researchAndDevelopment': 16380754266,
   'operatingExpense': 197028252557,
   'currentAssets': 163912172399,
   'totalAssets': 346785755161,
   'totalLiabilities': 248425320662,
   'currentCash': 29260276899,
   'currentDebt': 16691475120,
   'shortTermDebt': 16407242787,
   'longTermDebt': 92410295395,
   'totalCash': 101300282010,
   'totalDebt': 108206701682,
   'shareholderEquity': 92355806030,
   'cashChange': 24915293671,
   'cashFlow': 72001173502}],
 [{'reportDate': '2019-09-19',
   'fiscalDate': '2019-09-19',
   'currency': 'USD',
   'grossProfit': 100144861277,
   'costOfRevenue': 162745378203,
   'operatingRevenue': 263482717166,
   'totalRevenue': 272319904653,
   'operatingIncome': 66141563082,
   'netIncome': 56536495100,
   'researchAndDevelopment': 16974371460,
   'operatingExpense': 197272370605,
   'currentAssets': 166067788277,
   'totalAssets': 351996219310,
   'totalLiabilities': 252107968124,
   'currentCash': 29418469927,
   'currentDebt': 16254498079,
   'shortTermDebt': 16511925240,
   'longTermDebt': 92728402405,
   'totalCash': 104724783092,
   'totalDebt': 112601893756,
   'shareholderEquity': 94754898940,
   'cashChange': 24379286290,
   'cashFlow': 69619691600}],
 [{'reportDate': '2019-09-22',
   'fiscalDate': '2019-09-17',
   'currency': 'USD',
   'grossProfit': 98879429740,
   'costOfRevenue': 165968039881,
   'operatingRevenue': 262052873094,
   'totalRevenue': 268496264601,
   'operatingIncome': 65002546859,
   'netIncome': 55890357218,
   'researchAndDevelopment': 17019180516,
   'operatingExpense': 199754616860,
   'currentAssets': 164585209197,
   'totalAssets': 350343035830,
   'totalLiabilities': 257498994044,
   'currentCash': 28573989124,
   'currentDebt': 16564040984,
   'shortTermDebt': 16957154455,
   'longTermDebt': 91832153448,
   'totalCash': 101738479907,
   'totalDebt': 111436500044,
   'shareholderEquity': 93784219674,
   'cashChange': 24982305430,
   'cashFlow': 69974081262}],
 [{'reportDate': '2019-09-16',
   'fiscalDate': '2019-09-21',
   'currency': 'USD',
   'grossProfit': 99300269469,
   'costOfRevenue': 166080163106,
   'operatingRevenue': 264050265502,
   'totalRevenue': 265161250367,
   'operatingIncome': 63772752175,
   'netIncome': 56980478406,
   'researchAndDevelopment': 16853917252,
   'operatingExpense': 198007703712,
   'currentAssets': 165786668477,
   'totalAssets': 341366380895,
   'totalLiabilities': 259621236511,
   'currentCash': 28145081376,
   'currentDebt': 16487094331,
   'shortTermDebt': 16726054691,
   'longTermDebt': 92315535821,
   'totalCash': 102557781816,
   'totalDebt': 108927257962,
   'shareholderEquity': 91793518414,
   'cashChange': 24870684715,
   'cashFlow': 72033286499}],
 [{'reportDate': '2019-09-18',
   'fiscalDate': '2019-09-15',
   'currency': 'USD',
   'grossProfit': 102455294133,
   'costOfRevenue': 164218537007,
   'operatingRevenue': 263714806299,
   'totalRevenue': 266323716675,
   'operatingIncome': 65051380441,
   'netIncome': 56436356812,
   'researchAndDevelopment': 16867888971,
   'operatingExpense': 198022685792,
   'currentAssets': 165420732737,
   'totalAssets': 339497273146,
   'totalLiabilities': 259907781619,
   'currentCash': 29411624773,
   'currentDebt': 16800195512,
   'shortTermDebt': 16847126563,
   'longTermDebt': 92055062313,
   'totalCash': 105456093805,
   'totalDebt': 111110637778,
   'shareholderEquity': 91807303739,
   'cashChange': 24900290597,
   'cashFlow': 72134753138}],
 [{'reportDate': '2019-09-18',
   'fiscalDate': '2019-09-16',
   'currency': 'USD',
   'grossProfit': 101473698650,
   'costOfRevenue': 163680973050,
   'operatingRevenue': 272390495650,
   'totalRevenue': 272849838381,
   'operatingIncome': 66101491070,
   'netIncome': 57749330589,
   'researchAndDevelopment': 16673388136,
   'operatingExpense': 202995472458,
   'currentAssets': 163454794456,
   'totalAssets': 343880026143,
   'totalLiabilities': 248464032986,
   'currentCash': 29268262356,
   'currentDebt': 16302701331,
   'shortTermDebt': 16434596970,
   'longTermDebt': 92695691001,
   'totalCash': 104173685901,
   'totalDebt': 110179035326,
   'shareholderEquity': 91569204109,
   'cashChange': 25407824056,
   'cashFlow': 70323829613}],
 [{'reportDate': '2019-09-18',
   'fiscalDate': '2019-09-23',
   'currency': 'USD',
   'grossProfit': 101152683865,
   'costOfRevenue': 169012588817,
   'operatingRevenue': 264742024921,
   'totalRevenue': 267274199919,
   'operatingIncome': 65813746940,
   'netIncome': 55866292068,
   'researchAndDevelopment': 16638479539,
   'operatingExpense': 204439965411,
   'currentAssets': 164472037986,
   'totalAssets': 354980262386,
   'totalLiabilities': 257891089270,
   'currentCash': 29298057683,
   'currentDebt': 16448164303,
   'shortTermDebt': 16530627094,
   'longTermDebt': 94978670030,
   'totalCash': 103027872134,
   'totalDebt': 112652431740,
   'shareholderEquity': 92619263963,
   'cashChange': 24618125237,
   'cashFlow': 69548965253}],
 [{'reportDate': '2019-09-26',
   'fiscalDate': '2019-09-24',
   'currency': 'USD',
   'grossProfit': 101955590916,
   'costOfRevenue': 168045246891,
   'operatingRevenue': 262757906146,
   'totalRevenue': 268084260287,
   'operatingIncome': 65921663442,
   'netIncome': 56042136183,
   'researchAndDevelopment': 16890622064,
   'operatingExpense': 206388717838,
   'currentAssets': 163737386714,
   'totalAssets': 345542862782,
   'totalLiabilities': 257022208275,
   'currentCash': 29084845336,
   'currentDebt': 16520930409,
   'shortTermDebt': 16637357835,
   'longTermDebt': 95582361986,
   'totalCash': 103896625531,
   'totalDebt': 113102642277,
   'shareholderEquity': 93235142373,
   'cashChange': 25114986728,
   'cashFlow': 71333013779}],
 [{'reportDate': '2019-09-23',
   'fiscalDate': '2019-09-22',
   'currency': 'USD',
   'grossProfit': 98463120222,
   'costOfRevenue': 164158320490,
   'operatingRevenue': 268884415249,
   'totalRevenue': 262449144118,
   'operatingIncome': 63542615406,
   'netIncome': 57395153952,
   'researchAndDevelopment': 16986219831,
   'operatingExpense': 205593564844,
   'currentAssets': 168577159387,
   'totalAssets': 349989030572,
   'totalLiabilities': 257411017561,
   'currentCash': 29048944789,
   'currentDebt': 16603595929,
   'shortTermDebt': 16937228615,
   'longTermDebt': 94810385478,
   'totalCash': 103705402411,
   'totalDebt': 108475010004,
   'shareholderEquity': 94948767139,
   'cashChange': 25114213282,
   'cashFlow': 71148444075}],
 [{'reportDate': '2019-09-19',
   'fiscalDate': '2019-09-16',
   'currency': 'USD',
   'grossProfit': 101182190138,
   'costOfRevenue': 164426203756,
   'operatingRevenue': 267155461726,
   'totalRevenue': 268404406073,
   'operatingIncome': 65163954817,
   'netIncome': 57644221338,
   'researchAndDevelopment': 17019371271,
   'operatingExpense': 203071493867,
   'currentAssets': 168348936300,
   'totalAssets': 346095770358,
   'totalLiabilities': 259074403140,
   'currentCash': 28933801358,
   'currentDebt': 16832074667,
   'shortTermDebt': 16798851754,
   'longTermDebt': 96032360383,
   'totalCash': 104989937521,
   'totalDebt': 110673326491,
   'shareholderEquity': 94742865745,
   'cashChange': 24953561300,
   'cashFlow': 71814753687}],
 [{'reportDate': '2019-09-24',
   'fiscalDate': '2019-09-27',
   'currency': 'USD',
   'grossProfit': 101300522993,
   'costOfRevenue': 166955688721,
   'operatingRevenue': 270544191656,
   'totalRevenue': 268478705192,
   'operatingIncome': 64276152703,
   'netIncome': 55875363075,
   'researchAndDevelopment': 16999995978,
   'operatingExpense': 202010850752,
   'currentAssets': 164357857321,
   'totalAssets': 349503163625,
   'totalLiabilities': 253349688055,
   'currentCash': 28531258591,
   'currentDebt': 16984219060,
   'shortTermDebt': 16434344194,
   'longTermDebt': 92038768434,
   'totalCash': 101601381342,
   'totalDebt': 111374953931,
   'shareholderEquity': 92366962212,
   'cashChange': 24617864094,
   'cashFlow': 70311149711}],
 [{'reportDate': '2019-09-29',
   'fiscalDate': '2019-09-16',
   'currency': 'USD',
   'grossProfit': 97845574797,
   'costOfRevenue': 169931464928,
   'operatingRevenue': 260915433626,
   'totalRevenue': 269010972519,
   'operatingIncome': 63820112553,
   'netIncome': 57235007229,
   'researchAndDevelopment': 16456795839,
   'operatingExpense': 197463270280,
   'currentAssets': 164284779593,
   'totalAssets': 350587719296,
   'totalLiabilities': 254383974008,
   'currentCash': 29102224602,
   'currentDebt': 16951280958,
   'shortTermDebt': 16667885450,
   'longTermDebt': 96048266566,
   'totalCash': 105457331348,
   'totalDebt': 110350746887,
   'shareholderEquity': 91464003631,
   'cashChange': 25416386188,
   'cashFlow': 70055599777}],
 [{'reportDate': '2019-09-23',
   'fiscalDate': '2019-09-21',
   'currency': 'USD',
   'grossProfit': 101621834410,
   'costOfRevenue': 163948533903,
   'operatingRevenue': 263046116253,
   'totalRevenue': 261459230638,
   'operatingIncome': 65912994130,
   'netIncome': 55755535843,
   'researchAndDevelopment': 16475867009,
   'operatingExpense': 204768923145,
   'currentAssets': 170342383576,
   'totalAssets': 350151455584,
   'totalLiabilities': 253597005038,
   'currentCash': 29072101433,
   'currentDebt': 16929089363,
   'shortTermDebt': 16569835223,
   'longTermDebt': 92412905606,
   'totalCash': 100627254226,
   'totalDebt': 111809302775,
   'shareholderEquity': 91635862723,
   'cashChange': 24520324543,
   'cashFlow': 72033960130}],
 [{'reportDate': '2019-09-26',
   'fiscalDate': '2019-09-14',
   'currency': 'USD',
   'grossProfit': 101389670082,
   'costOfRevenue': 165838897080,
   'operatingRevenue': 271765311782,
   'totalRevenue': 264723758328,
   'operatingIncome': 64264704590,
   'netIncome': 55894374030,
   'researchAndDevelopment': 16324411596,
   'operatingExpense': 204026518025,
   'currentAssets': 167788217141,
   'totalAssets': 339538548850,
   'totalLiabilities': 255950201185,
   'currentCash': 29521227043,
   'currentDebt': 16918473581,
   'shortTermDebt': 17020133136,
   'longTermDebt': 94751056418,
   'totalCash': 105584802050,
   'totalDebt': 110259771235,
   'shareholderEquity': 94961089115,
   'cashChange': 25304518710,
   'cashFlow': 70157272040}],
 [{'reportDate': '2019-09-22',
   'fiscalDate': '2019-09-15',
   'currency': 'USD',
   'grossProfit': 99251174906,
   'costOfRevenue': 167079565556,
   'operatingRevenue': 271308147352,
   'totalRevenue': 268532751227,
   'operatingIncome': 65340302311,
   'netIncome': 57496134375,
   'researchAndDevelopment': 16535119469,
   'operatingExpense': 200703661032,
   'currentAssets': 162966656142,
   'totalAssets': 352296185463,
   'totalLiabilities': 250847360577,
   'currentCash': 29300647320,
   'currentDebt': 16928625427,
   'shortTermDebt': 17038993837,
   'longTermDebt': 94299507255,
   'totalCash': 104289754800,
   'totalDebt': 108461462785,
   'shareholderEquity': 92168345941,
   'cashChange': 24923135303,
   'cashFlow': 72791559907}],
 [{'reportDate': '2019-09-26',
   'fiscalDate': '2019-09-14',
   'currency': 'USD',
   'grossProfit': 99241936506,
   'costOfRevenue': 165871885703,
   'operatingRevenue': 262395112648,
   'totalRevenue': 269900376875,
   'operatingIncome': 64720552163,
   'netIncome': 56223483950,
   'researchAndDevelopment': 16891828750,
   'operatingExpense': 198402695150,
   'currentAssets': 164450510200,
   'totalAssets': 353469524236,
   'totalLiabilities': 252306331876,
   'currentCash': 28694325294,
   'currentDebt': 16612729607,
   'shortTermDebt': 16815806790,
   'longTermDebt': 96018175154,
   'totalCash': 104156939480,
   'totalDebt': 111811725131,
   'shareholderEquity': 94202116922,
   'cashChange': 25040042679,
   'cashFlow': 72150661333}],
 [{'reportDate': '2019-09-17',
   'fiscalDate': '2019-09-26',
   'currency': 'USD',
   'grossProfit': 101374971747,
   'costOfRevenue': 165378113840,
   'operatingRevenue': 263337443559,
   'totalRevenue': 269625846644,
   'operatingIncome': 64873473875,
   'netIncome': 57749633221,
   'researchAndDevelopment': 16529741742,
   'operatingExpense': 198367330224,
   'currentAssets': 170572445123,
   'totalAssets': 338613481434,
   'totalLiabilities': 258677932936,
   'currentCash': 28511474500,
   'currentDebt': 16440681557,
   'shortTermDebt': 16386635172,
   'longTermDebt': 93099722637,
   'totalCash': 103133795592,
   'totalDebt': 112926103333,
   'shareholderEquity': 92378964538,
   'cashChange': 24803324365,
   'cashFlow': 72561707194}],
 [{'reportDate': '2019-09-22',
   'fiscalDate': '2019-09-18',
   'currency': 'USD',
   'grossProfit': 100114220910,
   'costOfRevenue': 169635164109,
   'operatingRevenue': 271538212826,
   'totalRevenue': 272852106610,
   'operatingIncome': 63985101135,
   'netIncome': 56448500387,
   'researchAndDevelopment': 16393318519,
   'operatingExpense': 198210607876,
   'currentAssets': 169936205413,
   'totalAssets': 354220426272,
   'totalLiabilities': 250372995689,
   'currentCash': 28613043279,
   'currentDebt': 16668514879,
   'shortTermDebt': 16609054222,
   'longTermDebt': 94005904224,
   'totalCash': 101047373600,
   'totalDebt': 110132242295,
   'shareholderEquity': 93650002113,
   'cashChange': 24444788447,
   'cashFlow': 70648748084}],
 [{'reportDate': '2019-09-18',
   'fiscalDate': '2019-09-14',
   'currency': 'USD',
   'grossProfit': 98919060060,
   'costOfRevenue': 164455800419,
   'operatingRevenue': 269833787537,
   'totalRevenue': 260839143593,
   'operatingIncome': 64443322319,
   'netIncome': 56968445257,
   'researchAndDevelopment': 16274560564,
   'operatingExpense': 199799746149,
   'currentAssets': 169387451956,
   'totalAssets': 355124441003,
   'totalLiabilities': 252008931060,
   'currentCash': 29008113342,
   'currentDebt': 16810374161,
   'shortTermDebt': 16303950822,
   'longTermDebt': 94020060237,
   'totalCash': 105394701235,
   'totalDebt': 108388976310,
   'shareholderEquity': 92817065657,
   'cashChange': 25276980134,
   'cashFlow': 70004829424}],
 [{'reportDate': '2019-09-23',
   'fiscalDate': '2019-09-19',
   'currency': 'USD',
   'grossProfit': 101955855509,
   'costOfRevenue': 169299396350,
   'operatingRevenue': 267164641230,
   'totalRevenue': 267623947062,
   'operatingIncome': 63442419578,
   'netIncome': 57833775773,
   'researchAndDevelopment': 16342886440,
   'operatingExpense': 205509048137,
   'currentAssets': 164439051916,
   'totalAssets': 348094972046,
   'totalLiabilities': 249786723880,
   'currentCash': 28735130299,
   'currentDebt': 16539322867,
   'shortTermDebt': 16361921955,
   'longTermDebt': 95716985347,
   'totalCash': 105047081829,
   'totalDebt': 112938334823,
   'shareholderEquity': 91259138108,
   'cashChange': 24735394082,
   'cashFlow': 71617969047}],
 [{'reportDate': '2019-09-17',
   'fiscalDate': '2019-09-24',
   'currency': 'USD',
   'grossProfit': 99562197920,
   'costOfRevenue': 165410070772,
   'operatingRevenue': 263751611875,
   'totalRevenue': 264059401517,
   'operatingIncome': 65120990926,
   'netIncome': 56683361420,
   'researchAndDevelopment': 16903039745,
   'operatingExpense': 203228256381,
   'currentAssets': 168844881850,
   'totalAssets': 350565724387,
   'totalLiabilities': 259094462596,
   'currentCash': 29281234394,
   'currentDebt': 16621715265,
   'shortTermDebt': 16339178273,
   'longTermDebt': 95428696939,
   'totalCash': 102016995916,
   'totalDebt': 112808167144,
   'shareholderEquity': 94764893318,
   'cashChange': 25078892933,
   'cashFlow': 71983496166}],
 [{'reportDate': '2019-09-29',
   'fiscalDate': '2019-09-22',
   'currency': 'USD',
   'grossProfit': 99230276309,
   'costOfRevenue': 166044844086,
   'operatingRevenue': 271939155842,
   'totalRevenue': 269509694703,
   'operatingIncome': 64627706894,
   'netIncome': 57288055302,
   'researchAndDevelopment': 16357405772,
   'operatingExpense': 199394423423,
   'currentAssets': 170411727163,
   'totalAssets': 340393834099,
   'totalLiabilities': 253691923765,
   'currentCash': 28945274764,

In [6]:
symbol_AAPL = "AAPL/"
# Extract financial data for companies
financials_APPL = f"{base_url_sandbox}{version}{symbol_AAPL}financials?period=annual&token={token_sandbox}"
results_AAPL = requests.get(financials_APPL).json()
results_AAPL = pd.DataFrame(results_AAPL['financials'])
results_AAPL

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-09-29,2019-09-28,USD,101643096436,165860403397,266240804006,261274587080,64132471165,56902648040,16382573167,...,259960256276,29447620949,16717674963,16406563351,92824178205,103996187241,113100267741,93248611039,24336644748,71397849837

In [7]:
symbol_AMZN = "AMZN/"
# Extract financial data for companies
financials_AMZN = f"{base_url_sandbox}{version}{symbol_AMZN}financials?period=annual&token={token_sandbox}"
results_AMZN = requests.get(financials_AMZN).json()
results_AMZN = pd.DataFrame(results_AMZN['financials'])
results_AMZN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-22,USD,116272320246,167422544044,282272681057,288752325749,15007120331,11722334662,36367535223,...,166739599030,36576663791,14948532956,14410470907,63716511970,57206944190,80039237864,64067305975,4438131944,38934628754

In [8]:
symbol_MSFT = "MSFT/"
# Extract financial data for companies
financials_MSFT = f"{base_url_sandbox}{version}{symbol_MSFT}financials?period=annual&token={token_sandbox}"
results_MSFT = requests.get(financials_MSFT).json()
results_MSFT = pd.DataFrame(results_MSFT['financials'])
results_MSFT

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-06-27,2020-06-27,USD,100243297036,46106231607,148779960752,146998710741,54380624677,45646845692,20200505229,...,187334260241,13809425107,5962624556,6037454871,79450617873,141191999273,84384937951,122662653070,2310366927,61081791870

In [9]:
symbol_FB = "FB/"
# Extract financial data for companies
financials_FB = f"{base_url_sandbox}{version}{symbol_FB}financials?period=annual&token={token_sandbox}"
results_FB = requests.get(financials_FB).json()
results_FB = pd.DataFrame(results_FB['financials'])
results_FB

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-29,2019-12-18,USD,59358513737,13025495431,73085489413,71540110589,30184351586,19233835826,13709795521,...,32878501211,19224883866,1148269043,1194751730,10203385065,55684049233,11082535507,102372930198,9211773822,37942398775

In [10]:
symbol_GOOGL = "GOOGL/"
# Extract financial data for companies
financials_GOOGL = f"{base_url_sandbox}{version}{symbol_GOOGL}financials?period=annual&token={token_sandbox}"
results_GOOGL = requests.get(financials_GOOGL).json()
results_GOOGL = pd.DataFrame(results_GOOGL['financials'])
results_GOOGL

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-21,2019-12-21,USD,92385539930,72207565360,168507986631,168846924331,35932031098,35552229997,26109372282,...,74607030370,18889220602,1204995026,1201904116,14921414819,125440146252,16027806755,203112277891,1874821822,54625189389

In [11]:
symbol_GOOG = "GOOG/"
# Extract financial data for companies
financials_GOOG = f"{base_url_sandbox}{version}{symbol_GOOG}financials?period=annual&token={token_sandbox}"
results_GOOG = requests.get(financials_GOOG).json()
results_GOOG = pd.DataFrame(results_GOOG['financials'])
results_GOOG

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-27,USD,90506536218,74133629046,169454486511,166939073453,36504266939,36045746018,26079799188,...,74818019461,19327297417,1257029874,1199145670,15019859652,124399512020,16757301256,205239531253,1818113141,56865853740

In [12]:
symbol_TSLA = "TSLA/"
# Extract financial data for companies
financials_TSLA = f"{base_url_sandbox}{version}{symbol_TSLA}financials?period=annual&token={token_sandbox}"
results_TSLA = requests.get(financials_TSLA).json()
results_TSLA = pd.DataFrame(results_TSLA['financials'])
results_TSLA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-27,2019-12-31,USD,4097532484,20768287092,24964130571,25438760908,80022282,-876663742,1392504182,...,26266320500,6838991278,2113611855,2146826155,12951571839,6833610837,15137311430,6629843587,2515689277,2517684933

In [13]:
symbol_NVDA = "NVDA/"
# Extract financial data for companies
financials_NVDA = f"{base_url_sandbox}{version}{symbol_NVDA}financials?period=annual&token={token_sandbox}"
results_NVDA = requests.get(financials_NVDA).json()
results_NVDA = pd.DataFrame(results_NVDA['financials'])
results_NVDA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-19,2020-01-14,USD,7041045284,4224656093,11409051523,10979581529,3025553822,2916554581,2964649314,...,5198639971,10963560370,93822207,91774811,2645790353,11330108531,2736423668,12790549592,10321356827,4987010743

In [14]:
symbol_ADBE = "ADBE/"
# Extract financial data for companies
financials_ADBE = f"{base_url_sandbox}{version}{symbol_ADBE}financials?period=annual&token={token_sandbox}"
results_ADBE = requests.get(financials_ADBE).json()
results_ADBE = pd.DataFrame(results_ADBE['financials'])
results_ADBE

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-11-18,2019-11-16,USD,9543887123,1873658808,11221376258,11631395938,3278071544,3032202676,1947455600,...,10937261388,2692876096,3262230797,3243703653,1015494836,4201360941,4338344426,10636955259,1010556503,4505589961

In [15]:
symbol_NFLX = "NFLX/"
# Extract financial data for companies
financials_NFLX = f"{base_url_sandbox}{version}{symbol_NFLX}financials?period=annual&token={token_sandbox}"
results_NFLX = requests.get(financials_NFLX).json()
results_NFLX = pd.DataFrame(results_NFLX['financials'])
results_NFLX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-16,2019-12-27,USD,7810214356,12870888101,20703339623,20251186865,2685634548,1934780046,1587804663,...,27156221902,5033505016,193241780,195990402,16524267373,5103235489,16706060102,7803045826,1260261094,-2939052874

In [16]:
symbol_PYPL = "PYPL/"
# Extract financial data for companies
financials_PYPL = f"{base_url_sandbox}{version}{symbol_PYPL}financials?period=annual&token={token_sandbox}"
results_PYPL = requests.get(financials_PYPL).json()
results_PYPL = pd.DataFrame(results_PYPL['financials'])
results_PYPL

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-29,USD,9214845011,8671631629,18159491303,18163867968,2583585894,2529043078,2106600849,...,35464632820,7657681651,106777474,108446955,5456628613,10845280671,5598444105,17086406400,2587256435,4611778704

In [17]:
symbol_INTC = "INTC/"
# Extract financial data for companies
financials_INTC = f"{base_url_sandbox}{version}{symbol_INTC}financials?period=annual&token={token_sandbox}"
results_INTC = requests.get(financials_INTC).json()
results_INTC = pd.DataFrame(results_INTC['financials'])
results_INTC

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-21,2019-12-25,USD,44004926186,30468262872,73344866535,72901195855,23546645213,22066070421,13395852886,...,59928906359,4265837172,3891093257,4047994549,26295362698,13556323368,30679550724,79565663716,1208076225,34652949659

In [18]:
symbol_CMCSA = "CMCSA/"
# Extract financial data for companies
financials_CMCSA = f"{base_url_sandbox}{version}{symbol_CMCSA}financials?period=annual&token={token_sandbox}"
results_CMCSA = requests.get(financials_CMCSA).json()
results_CMCSA = pd.DataFrame(results_CMCSA['financials'])
results_CMCSA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-18,2019-12-21,USD,63252818097,47456304796,111353560530,114385945828,21467326597,13188415812,None,...,183379949472,5575883030,5273671441,5397630653,106203028820,5659894762,110040379222,83271098667,1760301311,26659198569

In [19]:
symbol_PEP = "PEP/"
# Extract financial data for companies
financials_PEP = f"{base_url_sandbox}{version}{symbol_PEP}financials?period=annual&token={token_sandbox}"
results_PEP = requests.get(financials_PEP).json()
results_PEP = pd.DataFrame(results_PEP['financials'])
results_PEP

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-18,2019-12-16,USD,38245860522,30742533184,67297921089,67951530763,10840916683,7450613414,716410040,...,64536539272,5513527032,3451429167,3465757496,30323032577,6020005215,35308827959,14971286744,-5293171958,9897863905

In [20]:
symbol_CSCO = "CSCO/"
# Extract financial data for companies
financials_CSCO = f"{base_url_sandbox}{version}{symbol_CSCO}financials?period=annual&token={token_sandbox}"
results_CSCO = requests.get(financials_CSCO).json()
results_CSCO = pd.DataFrame(results_CSCO['financials'])
results_CSCO

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-07-22,2020-07-14,USD,32882640687,18399576980,49533924747,50597357687,14533793765,11291055385,6391237102,...,59771175352,12064350826,3048017406,3033451094,11695908463,29504570898,14664680364,39072903584,40834717,15588322128

In [21]:
symbol_COST = "COST/"
# Extract financial data for companies
financials_COST = f"{base_url_sandbox}{version}{symbol_COST}financials?period=annual&token={token_sandbox}"
results_COST = requests.get(financials_COST).json()
results_COST = pd.DataFrame(results_COST['financials'])
results_COST

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-08-18,2019-08-26,USD,20802176352,138502845894,158130004556,158267521285,4852021342,3792080113,None,...,30916741027,8536041861,1730401091,1761179007,5571765800,9877590354,7514046314,15806458041,2426600000,6535735417

In [22]:
symbol_AMGN = "AMGN/"
# Extract financial data for companies
financials_AMGN = f"{base_url_sandbox}{version}{symbol_AMGN}financials?period=annual&token={token_sandbox}"
results_AMGN = requests.get(financials_AMGN).json()
results_AMGN = pd.DataFrame(results_AMGN['financials'])
results_AMGN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-16,2019-12-18,USD,19055945643,4412396913,23522201200,23375607772,9878431229,8179628198,4197632477,...,51080190048,6328658441,3173521774,3175248442,27636868626,9354328268,30990360467,9957296990,-949560840,9169034529

In [23]:
symbol_TMUS = "TMUS/"
# Extract financial data for companies
financials_TMUS = f"{base_url_sandbox}{version}{symbol_TMUS}financials?period=annual&token={token_sandbox}"
results_TMUS = requests.get(financials_TMUS).json()
results_TMUS = pd.DataFrame(results_TMUS['financials'])
results_TMUS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-26,2019-12-19,USD,20481275071,26248688606,47066935268,45124848640,6498546197,3505415556,None,...,59880137217,1601540548,3365359125,3306404449,40410212771,1597015260,43792249096,29890939155,340763346,7014276869

In [24]:
symbol_AVGO = "AVGO/"
# Extract financial data for companies
financials_AVGO = f"{base_url_sandbox}{version}{symbol_AVGO}financials?period=annual&token={token_sandbox}"
results_AVGO = requests.get(financials_AVGO).json()
results_AVGO = pd.DataFrame(results_AVGO['financials'])
results_AVGO

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-10-30,2019-11-02,USD,10798812941,12027788569,22602764996,22923829930,4536605231,2794601807,4841514896,...,42588869503,5236732166,2874282346,2881877194,30205751332,5076050536,33971968644,25663289542,781100300,10141328335

In [25]:
symbol_TXN = "TXN/"
# Extract financial data for companies
financials_TXN = f"{base_url_sandbox}{version}{symbol_TXN}financials?period=annual&token={token_sandbox}"
results_TXN = requests.get(financials_TXN).json()
results_TXN = pd.DataFrame(results_TXN['financials'])
results_TXN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-27,USD,8889629455,5780464402,14515872608,14960992931,5785985668,5166461564,1593632775,...,9304307747,2550747098,573991620,573329847,5825131824,5467213691,6188021982,9037827486,-1039383,6807947773

In [26]:
symbol_QCOM = "QCOM/"
# Extract financial data for companies
financials_QCOM = f"{base_url_sandbox}{version}{symbol_QCOM}financials?period=annual&token={token_sandbox}"
results_QCOM = requests.get(financials_QCOM).json()
results_QCOM = pd.DataFrame(results_QCOM['financials'])
results_QCOM

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-09-28,2019-09-26,USD,15815440526,8725898472,25227255261,25297582208,8104168725,4433614189,5429212025,...,29360570416,12412108868,2600866814,2583464706,13555540757,12831056494,15948353562,4936083716,63245981,7346527754

In [27]:
symbol_CHTR = "CHTR/"
# Extract financial data for companies
financials_CHTR = f"{base_url_sandbox}{version}{symbol_CHTR}financials?period=annual&token={token_sandbox}"
results_CHTR = requests.get(financials_CHTR).json()
results_CHTR = pd.DataFrame(results_CHTR['financials'])
results_CHTR

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-26,2019-12-20,USD,15018793485,31852231725,45928110959,47819687756,6908758735,1675454782,None,...,113614182648,3486135035,3775278759,3884018379,77682269207,3603576164,82209087537,32159505788,2871532029,11806019878

In [28]:
symbol_AMD = "AMD/"
# Extract financial data for companies
financials_AMD = f"{base_url_sandbox}{version}{symbol_AMD}financials?period=annual&token={token_sandbox}"
results_AMD = requests.get(financials_AMD).json()
results_AMD = pd.DataFrame(results_AMD['financials'])
results_AMD

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-22,2019-12-17,USD,2939957549,3919513101,7039018335,6789022204,597539040,353755784,1617985101,...,3223074655,1521159946,43697149,43417442,713750288,1559886821,761792093,2856250866,402911961,496853654

In [29]:
symbol_SBUX = "SBUX/"
# Extract financial data for companies
financials_SBUX = f"{base_url_sandbox}{version}{symbol_SBUX}financials?period=annual&token={token_sandbox}"
results_SBUX = requests.get(financials_SBUX).json()
results_SBUX = pd.DataFrame(results_SBUX['financials'])
results_SBUX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-09-15,2019-09-28,USD,5851426883,21712714653,27594174909,26620559981,4077051121,3745201195,None,...,26528033986,2719483900,5231518,5340531,11744455772,2827188630,11514583003,-6471254494,-6124940020,5085427454

In [30]:
symbol_INTU = "INTU/"
# Extract financial data for companies
financials_INTU = f"{base_url_sandbox}{version}{symbol_INTU}financials?period=annual&token={token_sandbox}"
results_INTU = requests.get(financials_INTU).json()
results_INTU = pd.DataFrame(results_INTU['financials'])
results_INTU

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-07-21,2020-07-17,USD,6434773471,1429969930,7805092599,7838352306,2252813725,1867713747,1427618266,...,5921016838,6671005317,1401532969,1340808801,2282674816,7260437830,3731426420,5222127155,4545336377,2587141168

In [31]:
symbol_MDLZ = "MDLZ/"
# Extract financial data for companies
financials_MDLZ = f"{base_url_sandbox}{version}{symbol_MDLZ}financials?period=annual&token={token_sandbox}"
results_MDLZ = requests.get(financials_MDLZ).json()
results_MDLZ = pd.DataFrame(results_MDLZ['financials'])
results_MDLZ

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-28,2019-12-17,USD,10194312259,16437343323,26603140142,26858559193,4246140433,3887705576,366029004,...,38066181176,1293248838,4440041516,4516530021,15162775080,1348989152,19040079727,27699332480,229740008,4071494764

In [32]:
symbol_GILD = "GILD/"
# Extract financial data for companies
financials_GILD = f"{base_url_sandbox}{version}{symbol_GILD}financials?period=annual&token={token_sandbox}"
results_GILD = requests.get(financials_GILD).json()
results_GILD = pd.DataFrame(results_GILD['financials'])
results_GILD

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-24,2019-12-27,USD,17715845887,4902303495,23323246501,23100084940,5173932850,5648743803,8487880410,...,40676742843,12102990078,2696608863,2649946098,22966435980,25146022644,25334564966,23468177384,-6404081035,9465478625

In [33]:
symbol_ISRG = "ISRG/"
# Extract financial data for companies
financials_ISRG = f"{base_url_sandbox}{version}{symbol_ISRG}financials?period=annual&token={token_sandbox}"
results_ISRG = requests.get(financials_ISRG).json()
results_ISRG = pd.DataFrame(results_ISRG['financials'])
results_ISRG

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-22,2019-12-16,USD,3129065268,1444701168,4669448377,4665159832,1416390390,1394133754,555907593,...,1515905560,1220334389,7988226,7764860,69860921,3250661405,77443948,8438150539,285820505,1598899910

In [34]:
symbol_BKNG = "BKNG/"
# Extract financial data for companies
financials_BKNG = f"{base_url_sandbox}{version}{symbol_BKNG}financials?period=annual&token={token_sandbox}"
results_BKNG = requests.get(financials_BKNG).json()
results_BKNG = pd.DataFrame(results_BKNG['financials'])
results_BKNG

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-16,USD,None,None,None,None,5501830699,4912528334,None,...,15879328801,6457356200,1199628656,1158174327,8285231430,7471736844,9580309285,6089598570,3865205221,4931857735

In [35]:
symbol_JD = "JD/"
# Extract financial data for companies
financials_JD = f"{base_url_sandbox}{version}{symbol_JD}financials?period=annual&token={token_sandbox}"
results_JD = requests.get(financials_JD).json()
results_JD = pd.DataFrame(results_JD['financials'])
results_JD

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-18,2019-12-22,USD,12597789252,71956285793,85505347816,87145124531,753238573,1814392062,2164709915,...,23026550689,5978648717,517318661,521435427,2340077116,9313110258,2855502316,12224036773,350461566,3633280650

In [36]:
symbol_VRTX = "VRTX/"
# Extract financial data for companies
financials_VRTX = f"{base_url_sandbox}{version}{symbol_VRTX}financials?period=annual&token={token_sandbox}"
results_VRTX = requests.get(financials_VRTX).json()
results_VRTX = pd.DataFrame(results_VRTX['financials'])
results_VRTX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-17,2019-12-22,USD,3657510072,574110884,4297081440,4240312428,1176177597,1186545915,1812751845,...,2266477519,3267197400,52278971,52517682,627684337,3910655424,675841687,6168104398,467545340,1588627219

In [37]:
symbol_FISV = "FISV/"
# Extract financial data for companies
financials_FISV = f"{base_url_sandbox}{version}{symbol_FISV}financials?period=annual&token={token_sandbox}"
results_FISV = requests.get(financials_FISV).json()
results_FISV = pd.DataFrame(results_FISV['financials'])
results_FISV

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-27,2019-12-21,USD,5107878579,5423149286,10219949132,10211420220,1840923912,911178073,None,...,42929526263,936238481,445970966,448188728,22363514208,915854227,23615782336,33259461870,526863943,2934179590

In [38]:
symbol_ATVI = "ATVI/"
# Extract financial data for companies
financials_ATVI = f"{base_url_sandbox}{version}{symbol_ATVI}financials?period=annual&token={token_sandbox}"
results_ATVI = requests.get(financials_ATVI).json()
results_ATVI = pd.DataFrame(results_ATVI['financials'])
results_ATVI

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-23,2019-12-17,USD,4502238200,2125958495,6719644866,6613551437,1768470295,1503205056,1003463724,...,7352798995,5905979791,63435391,65164895,2932879891,5955399990,3030192959,13087968972,1582880564,1843371631

In [39]:
symbol_REGN = "REGN/"
# Extract financial data for companies
financials_REGN = f"{base_url_sandbox}{version}{symbol_REGN}financials?period=annual&token={token_sandbox}"
results_REGN = requests.get(financials_REGN).json()
results_REGN = pd.DataFrame(results_REGN['financials'])
results_REGN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-24,2019-12-26,USD,7199561331,1025925369,8021282227,7979142982,2271903611,2157433767,2936835497,...,3852874059,1641695263,None,None,743725003,3308133209,745857814,11496339977,157206319,2526911496

In [40]:
symbol_MELI = "MELI/"
# Extract financial data for companies
financials_MELI = f"{base_url_sandbox}{version}{symbol_MELI}financials?period=annual&token={token_sandbox}"
results_MELI = requests.get(financials_MELI).json()
results_MELI = pd.DataFrame(results_MELI['financials'])
results_MELI

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-24,2019-12-30,USD,1058297315,1245044259,2395586659,2377698503,-160722368,-174091684,188686744,...,2828872404,1463011115,219437266,216428860,846184611,3169724636,1057998710,2106684894,1010635256,460581844

In [41]:
symbol_ADP = "ADP/"
# Extract financial data for companies
financials_ADP = f"{base_url_sandbox}{version}{symbol_ADP}financials?period=annual&token={token_sandbox}"
results_ADP = requests.get(financials_ADP).json()
results_ADP = pd.DataFrame(results_ADP['financials'])
results_ADP

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-06-28,2020-06-29,USD,6711396843,8130942402,15040155963,15214537758,3294090970,2554909274,681896675,...,33781308260,2003185389,1153966536,1118015827,1387962682,1954566922,2510258348,5809119545,263211742,3095796837

In [42]:
symbol_AMAT = "AMAT/"
# Extract financial data for companies
financials_AMAT = f"{base_url_sandbox}{version}{symbol_AMAT}financials?period=annual&token={token_sandbox}"
results_AMAT = requests.get(financials_AMAT).json()
results_AMAT = pd.DataFrame(results_AMAT['financials'])
results_AMAT

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-10-31,2019-10-24,USD,6455800584,8627898535,14648767066,14704627146,3497666155,2810373223,2146328345,...,10929446526,3237955878,624460113,624271923,4863630977,3639925881,5547063229,8533535430,-311757168,3347668484

In [43]:
symbol_CSX = "CSX/"
# Extract financial data for companies
financials_CSX = f"{base_url_sandbox}{version}{symbol_CSX}financials?period=annual&token={token_sandbox}"
results_CSX = requests.get(financials_CSX).json()
results_CSX = pd.DataFrame(results_CSX['financials'])
results_CSX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-28,USD,4975636927,7339947302,12109730616,12418366205,4927267656,3455037058,None,...,28065115197,1000814347,302350258,312346625,16797899154,1970400658,17206778329,12265392659,101340015,4879357629

In [44]:
symbol_ADSK = "ADSK/"
# Extract financial data for companies
financials_ADSK = f"{base_url_sandbox}{version}{symbol_ADSK}financials?period=annual&token={token_sandbox}"
results_ADSK = requests.get(financials_ADSK).json()
results_ADSK = pd.DataFrame(results_ADSK['financials'])
results_ADSK

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-27,2020-01-22,USD,2979620703,376789546,3293872109,3257495169,365851745,224232409,856756667,...,6533990936,1826519832,513131468,519461679,2118870393,1909005843,2665535043,-143909528,922484338,1480386735

In [45]:
symbol_ILMN = "ILMN/"
# Extract financial data for companies
financials_ILMN = f"{base_url_sandbox}{version}{symbol_ILMN}financials?period=annual&token={token_sandbox}"
results_ILMN = requests.get(financials_ILMN).json()
results_ILMN = pd.DataFrame(results_ILMN['financials'])
results_ILMN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-18,USD,2485429980,1111126155,3642047296,3620741321,1014291195,1043276749,652700879,...,2745175061,2104178362,46148579,45772393,1892514490,3416722431,1896508949,4730277400,915507053,1065275410

In [46]:
symbol_LRCX = "LRCX/"
# Extract financial data for companies
financials_LRCX = f"{base_url_sandbox}{version}{symbol_LRCX}financials?period=annual&token={token_sandbox}"
results_LRCX = requests.get(financials_LRCX).json()
results_LRCX = pd.DataFrame(results_LRCX['financials'])
results_LRCX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-06-21,2020-06-26,USD,4804173107,5637269070,10316387547,10248062781,2779948713,2264323903,1255986138,...,9813057956,5028799286,928294832,914083410,5224796889,6738252950,6003962647,5249783433,1295986145,2152558339

In [47]:
symbol_MU = "MU/"
# Extract financial data for companies
financials_MU = f"{base_url_sandbox}{version}{symbol_MU}financials?period=annual&token={token_sandbox}"
results_MU = requests.get(financials_MU).json()
results_MU = pd.DataFrame(results_MU['financials'])
results_MU

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-08-29,2019-08-18,USD,10855643767,13143191872,23924121774,24013339761,7695306808,6408640265,2548397322,...,11684957666,7365841014,1321213784,1347816185,4619832171,8109641543,5865452458,37261855281,710874946,13606605982

In [48]:
symbol_ZM = "ZM/"
# Extract financial data for companies
financials_ZM = f"{base_url_sandbox}{version}{symbol_ZM}financials?period=annual&token={token_sandbox}"
results_ZM = requests.get(financials_ZM).json()
results_ZM = pd.DataFrame(results_ZM['financials'])
results_ZM

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-27,2020-01-23,USD,513102607,119024585,638723684,623418415,13133761,22281550,70387130,...,457475602,335802991,7734261,8002836,66166775,914548124,73552197,855213740,276996353,159660011

In [49]:
symbol_LULU = "LULU/"
# Extract financial data for companies
financials_LULU = f"{base_url_sandbox}{version}{symbol_LULU}financials?period=annual&token={token_sandbox}"
results_LULU = requests.get(financials_LULU).json()
results_LULU = pd.DataFrame(results_LULU['financials'])
results_LULU

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-26,2020-01-25,USD,2319101727,1830145527,3980190969,4102226540,927766221,664218566,None,...,1377801015,907791308,128978920,134781455,630406127,1127997458,743324439,2012320874,222181938,651916080

In [50]:
symbol_BIIB = "BIIB/"
# Extract financial data for companies
financials_BIIB = f"{base_url_sandbox}{version}{symbol_BIIB}financials?period=annual&token={token_sandbox}"
results_BIIB = requests.get(financials_BIIB).json()
results_BIIB = pd.DataFrame(results_BIIB['financials'])
results_BIIB

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-24,2019-12-27,USD,10728637059,2428147226,13043491629,13134417492,5933511875,6157664832,2120684086,...,14319638450,2998705393,1577703196,1573292024,4903776647,4569615455,6499386209,13358621608,1738201755,7342419624

In [51]:
symbol_ADI = "ADI/"
# Extract financial data for companies
financials_ADI = f"{base_url_sandbox}{version}{symbol_ADI}financials?period=annual&token={token_sandbox}"
results_ADI = requests.get(financials_ADI).json()
results_ADI = pd.DataFrame(results_ADI['financials'])
results_ADI

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-10-26,2019-10-29,USD,3686474973,2427916247,6227440787,6094344200,1845742686,1426516733,1138105517,...,10089966483,669304961,300710158,310946836,5437585367,673575190,5649515885,12151803328,-171988379,2352635086

In [52]:
symbol_MNST = "MNST/"
# Extract financial data for companies
financials_MNST = f"{base_url_sandbox}{version}{symbol_MNST}financials?period=annual&token={token_sandbox}"
results_MNST = requests.get(financials_MNST).json()
results_MNST = pd.DataFrame(results_MNST['financials'])
results_MNST

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-26,2019-12-25,USD,2639237793,1734440911,4208888324,4212066659,1478610322,1131970954,None,...,1138542696,826964450,3702431,3811411,25678956,1374958873,28543312,4301999139,166948312,1164756464

In [53]:
symbol_KHC = "KHC/"
# Extract financial data for companies
financials_KHC = f"{base_url_sandbox}{version}{symbol_KHC}financials?period=annual&token={token_sandbox}"
results_KHC = requests.get(financials_KHC).json()
results_KHC = pd.DataFrame(results_KHC['financials'])
results_KHC

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-17,2019-12-21,USD,8209681585,17071006424,25656199506,25959006565,5077884506,1988583898,112909515,...,51207420314,2378716259,1205183131,1200249675,29213942984,2354537233,30718817391,52665144499,1146560899,3693865918

In [54]:
symbol_EA = "EA/"
# Extract financial data for companies
financials_EA = f"{base_url_sandbox}{version}{symbol_EA}financials?period=annual&token={token_sandbox}"
results_EA = requests.get(financials_EA).json()
results_EA = pd.DataFrame(results_EA['financials'])
results_EA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-03-23,2020-03-25,USD,4274002739,1400490613,5684064954,5706915485,1389375706,3060852419,1551453437,...,3703999827,3890013154,689546811,694887412,568437053,6019422519,1237699969,7705327063,-942582661,1860075592

In [55]:
symbol_EBAY = "EBAY/"
# Extract financial data for companies
financials_EBAY = f"{base_url_sandbox}{version}{symbol_EBAY}financials?period=annual&token={token_sandbox}"
results_EBAY = requests.get(financials_EBAY).json()
results_EBAY = pd.DataFrame(results_EBAY['financials'])
results_EBAY

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-17,USD,8454686695,2572745119,10982896562,10797608447,2377198466,1811788838,1291239708,...,15858707183,1028793706,1214373080,1193409748,7267020273,2926507739,8640513432,2896690214,-1239975454,3175031473

In [56]:
symbol_DXCM = "DXCM/"
# Extract financial data for companies
financials_DXCM = f"{base_url_sandbox}{version}{symbol_DXCM}financials?period=annual&token={token_sandbox}"
results_DXCM = requests.get(financials_DXCM).json()
results_DXCM = pd.DataFrame(results_DXCM['financials'])
results_DXCM

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-24,2019-12-17,USD,937690754,550261049,1537689106,1541518943,142407325,104550033,277146557,...,1578464581,463878760,13678759,13920586,1151827486,1544735192,1187356455,890258059,-718909479,318832114

In [57]:
symbol_DOCU = "DOCU/"
# Extract financial data for companies
financials_DOCU = f"{base_url_sandbox}{version}{symbol_DOCU}financials?period=annual&token={token_sandbox}"
results_DOCU = requests.get(financials_DOCU).json()
results_DOCU = pd.DataFrame(results_DOCU['financials'])
results_DOCU

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-31,2020-01-23,USD,725292795,257001362,1010614989,1011449999,-202326409,-214457763,185698482,...,1386418612,243772014,20791134,21238347,656975720,673273435,671458333,550709052,-277071598,130964348

In [58]:
symbol_NTES = "NTES/"
# Extract financial data for companies
financials_NTES = f"{base_url_sandbox}{version}{symbol_NTES}financials?period=annual&token={token_sandbox}"
results_NTES = requests.get(financials_NTES).json()
results_NTES = pd.DataFrame(results_NTES['financials'])
results_NTES

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-25,2019-12-24,USD,4764115382,4117677905,8690475712,8797071702,2068025407,3166448340,1266300576,...,5727137984,951782304,2489887236,2543219931,41186008,10868585011,2505617601,9159748012,-572409553,2570331601

In [59]:
symbol_WDAY = "WDAY/"
# Extract financial data for companies
financials_WDAY = f"{base_url_sandbox}{version}{symbol_WDAY}financials?period=annual&token={token_sandbox}"
results_WDAY = requests.get(financials_WDAY).json()
results_WDAY = pd.DataFrame(results_WDAY['financials'])
results_WDAY

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-20,2020-01-28,USD,2679291064,1097711761,3687068501,3636286622,-527506908,-492565973,1593364291,...,4467622974,744154712,321459568,314836648,1274401382,2039033980,1602324708,2548066104,92779595,875898734

In [60]:
symbol_CTSH = "CTSH/"
# Extract financial data for companies
financials_CTSH = f"{base_url_sandbox}{version}{symbol_CTSH}financials?period=annual&token={token_sandbox}"
results_CTSH = requests.get(financials_CTSH).json()
results_CTSH = pd.DataFrame(results_CTSH['financials'])
results_CTSH

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-21,2019-12-19,USD,5708032658,11683191019,17221795854,17125194842,2786146438,1904080406,None,...,5358152247,2694894881,262410669,259883437,1500053669,3575619957,1753879104,11065159372,1489583636,2536992061

In [61]:
symbol_EXC = "EXC/"
# Extract financial data for companies
financials_EXC = f"{base_url_sandbox}{version}{symbol_EXC}financials?period=annual&token={token_sandbox}"
results_EXC = requests.get(financials_EXC).json()
results_EXC = pd.DataFrame(results_EXC['financials'])
results_EXC

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-25,2019-12-16,USD,6102743231,28787464767,34635800313,34674223409,4360326388,3075719911,None,...,94310464656,966027465,6457705563,6422380111,34018019749,965368071,39435146917,32353147386,-688795305,6938545212

In [62]:
symbol_XEL = "XEL/"
# Extract financial data for companies
financials_XEL = f"{base_url_sandbox}{version}{symbol_XEL}financials?period=annual&token={token_sandbox}"
results_XEL = requests.get(financials_XEL).json()
results_XEL = pd.DataFrame(results_XEL['financials'])
results_XEL

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-25,2019-12-31,USD,2759938870,9087320778,11874903139,11923493067,2129436953,1386269547,None,...,39834011418,250570561,1535688325,1497138880,19939068214,313012321,21527570131,13249595745,101475776,3385821649

In [63]:
symbol_NXPI = "NXPI/"
# Extract financial data for companies
financials_NXPI = f"{base_url_sandbox}{version}{symbol_NXPI}financials?period=annual&token={token_sandbox}"
results_NXPI = requests.get(financials_NXPI).json()
results_NXPI = pd.DataFrame(results_NXPI['financials'])
results_NXPI

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-28,USD,3223480523,5972988487,9194163685,9185366722,661742032,249594733,1683205786,...,10559870974,1047905228,65037862,66816295,7915271225,1072796396,7763908925,9561300301,-1817719229,2384033941

In [64]:
symbol_BIDU = "BIDU/"
# Extract financial data for companies
financials_BIDU = f"{base_url_sandbox}{version}{symbol_BIDU}financials?period=annual&token={token_sandbox}"
results_BIDU = requests.get(financials_BIDU).json()
results_BIDU = pd.DataFrame(results_BIDU['financials'])
results_BIDU

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-16,2019-12-19,USD,6702693098,9372780282,15770334750,15660677433,934436673,300602655,2697790702,...,19175236923,5053815613,1837213127,1834906415,9942113095,21713686786,11396659321,23624477920,677761433,4273270109

In [65]:
symbol_SPLK = "SPLK/"
# Extract financial data for companies
financials_SPLK = f"{base_url_sandbox}{version}{symbol_SPLK}financials?period=annual&token={token_sandbox}"
results_SPLK = requests.get(financials_SPLK).json()
results_SPLK = pd.DataFrame(results_SPLK['financials'])
results_SPLK

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-17,2020-01-19,USD,1966999918,436534477,2433286398,2429246428,-270821848,-340249596,631378127,...,3452062598,803837981,None,None,2046460268,1755746800,1996828878,2038382923,-1151522979,-301537688

In [66]:
symbol_ORLY = "ORLY/"
# Extract financial data for companies
financials_ORLY = f"{base_url_sandbox}{version}{symbol_ORLY}financials?period=annual&token={token_sandbox}"
results_ORLY = requests.get(financials_ORLY).json()
results_ORLY = pd.DataFrame(results_ORLY['financials'])
results_ORLY

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-23,2019-12-20,USD,5361006121,5178696011,10382947238,10199984449,1949396674,1399757722,None,...,11122074280,41146967,325431016,323241677,5751967077,42385101,6025223580,407095181,9310605,1740293402

In [67]:
symbol_WBA = "WBA/"
# Extract financial data for companies
financials_WBA = f"{base_url_sandbox}{version}{symbol_WBA}financials?period=annual&token={token_sandbox}"
results_WBA = requests.get(financials_WBA).json()
results_WBA = pd.DataFrame(results_WBA['financials'])
results_WBA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-08-29,2019-08-28,USD,28087194984,109034326326,138923663553,139096065653,5127985450,4161905514,None,...,43625248403,1235919756,5885147443,5834784609,12325089914,1245431479,18813047235,24615210920,239348418,5687292596

In [68]:
symbol_CTAS = "CTAS/"
# Extract financial data for companies
financials_CTAS = f"{base_url_sandbox}{version}{symbol_CTAS}financials?period=annual&token={token_sandbox}"
results_CTAS = requests.get(financials_CTAS).json()
results_CTAS = pd.DataFrame(results_CTAS['financials'])
results_CTAS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-05-19,2020-05-20,USD,3374084971,3921608491,7222906849,7191472648,1244437202,894126288,None,...,4854450890,151634246,44853136,44106771,2696075140,148292123,2815362226,3241690269,49305632,1298203856

In [69]:
symbol_SNPS = "SNPS/"
# Extract financial data for companies
financials_SNPS = f"{base_url_sandbox}{version}{symbol_SNPS}financials?period=annual&token={token_sandbox}"
results_SNPS = requests.get(financials_SNPS).json()
results_SNPS = pd.DataFrame(results_SNPS['financials'])
results_SNPS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-10-21,2019-10-20,USD,2633106418,827667182,3382104514,3404589873,598898093,534853017,1143527873,...,2337457700,748572875,18446695,17813179,124179615,747433967,144126105,4104812423,5606883,812532221

In [70]:
symbol_KLAC = "KLAC/"
# Extract financial data for companies
financials_KLAC = f"{base_url_sandbox}{version}{symbol_KLAC}financials?period=annual&token={token_sandbox}"
results_KLAC = requests.get(financials_KLAC).json()
results_KLAC = pd.DataFrame(results_KLAC['financials'])
results_KLAC

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-06-23,2020-06-23,USD,3348624785,2617700326,5817272080,5884891356,1879654646,1249652358,900621744,...,6801802948,1265243180,29769147,29261422,3660568288,1988878888,3725451634,2719675724,227622460,1819582117

In [71]:
symbol_IDXX = "IDXX/"
# Extract financial data for companies
financials_IDXX = f"{base_url_sandbox}{version}{symbol_IDXX}financials?period=annual&token={token_sandbox}"
results_IDXX = requests.get(financials_IDXX).json()
results_IDXX = pd.DataFrame(results_IDXX['financials'])
results_IDXX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-20,USD,1374031311,1088425507,2424763993,2466302556,558442420,427891307,139830567,...,1657631013,94433515,312906505,317429806,767999602,94501533,1101573063,178476514,-34254059,473140107

In [72]:
symbol_ROST = "ROST/"
# Extract financial data for companies
financials_ROST = f"{base_url_sandbox}{version}{symbol_ROST}financials?period=annual&token={token_sandbox}"
results_ROST = requests.get(financials_ROST).json()
results_ROST = pd.DataFrame(results_ROST['financials'])
results_ROST

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-18,2020-01-17,USD,4587535847,11897375313,16281347124,16420094173,2161125386,1712061508,None,...,7056579648,1429336177,583920130,591561990,3004302495,1403901538,3550717967,3470654063,-67262517,2203904476

In [73]:
symbol_MAR = "MAR/"
# Extract financial data for companies
financials_MAR = f"{base_url_sandbox}{version}{symbol_MAR}financials?period=annual&token={token_sandbox}"
results_MAR = requests.get(financials_MAR).json()
results_MAR = pd.DataFrame(results_MAR['financials'])
results_MAR

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-22,2019-12-21,USD,3026810552,18359215352,21122321453,21109634698,2069144973,1287258959,None,...,25159193094,234426011,1140438669,1141608793,10924249066,229987388,12104001885,713787165,-108340752,1747096093

In [74]:
symbol_CDNS = "CDNS/"
# Extract financial data for companies
financials_CDNS = f"{base_url_sandbox}{version}{symbol_CDNS}financials?period=annual&token={token_sandbox}"
results_CDNS = requests.get(financials_CDNS).json()
results_CDNS = pd.DataFrame(results_CDNS['financials'])
results_CDNS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-28,2019-12-17,USD,2096229065,290460339,2432654834,2420455407,517179891,1008472992,960215727,...,1255160784,733382868,26517710,26010381,438312645,712830172,474753079,2141921123,173888264,763467628

In [75]:
symbol_VRSK = "VRSK/"
# Extract financial data for companies
financials_VRSK = f"{base_url_sandbox}{version}{symbol_VRSK}financials?period=annual&token={token_sandbox}"
results_VRSK = requests.get(financials_VRSK).json()
results_VRSK = pd.DataFrame(results_VRSK['financials'])
results_VRSK

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-30,2019-12-29,USD,1362133749,1303755536,2642539772,2701064908,861499531,461615572,67496661,...,4987550539,186686838,557893308,556121450,2901298042,197109203,3495761236,2347898239,46931116,1011914181

In [76]:
symbol_PCAR = "PCAR/"
# Extract financial data for companies
financials_PCAR = f"{base_url_sandbox}{version}{symbol_PCAR}financials?period=annual&token={token_sandbox}"
results_PCAR = requests.get(financials_PCAR).json()
results_PCAR = pd.DataFrame(results_PCAR['financials'])
results_PCAR

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-29,2019-12-20,USD,4073896918,22195666624,25765263005,26407364928,3157413677,2485567222,326835875,...,18738112398,4332643986,5798280771,5675191313,5818032034,5562044445,11754480099,10168459557,772431280,2862670267

In [77]:
symbol_ASML = "ASML/"
# Extract financial data for companies
financials_ASML = f"{base_url_sandbox}{version}{symbol_ASML}financials?period=annual&token={token_sandbox}"
results_ASML = requests.get(financials_ASML).json()
results_ASML = pd.DataFrame(results_ASML['financials'])
results_ASML

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-22,2019-12-22,USD,5747026420,7688324968,13698691824,13396425716,3218200119,2961482529,2072511498,...,11435302450,4055145040,63574621,62936814,3686485306,5316582123,3906330344,14815721565,471723848,3779318281

In [78]:
symbol_ANSS = "ANSS/"
# Extract financial data for companies
financials_ANSS = f"{base_url_sandbox}{version}{symbol_ANSS}financials?period=annual&token={token_sandbox}"
results_ANSS = requests.get(financials_ANSS).json()
results_ANSS = pd.DataFrame(results_ANSS['financials'])
results_ANSS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-17,USD,1375413022,190310658,1531204944,1558826487,531622159,469066432,303645995,...,1430188076,899328520,97328600,96284839,535129136,913643237,624359452,3582281454,98728018,512604153

In [79]:
symbol_FAST = "FAST/"
# Extract financial data for companies
financials_FAST = f"{base_url_sandbox}{version}{symbol_FAST}financials?period=annual&token={token_sandbox}"
results_FAST = requests.get(financials_FAST).json()
results_FAST = pd.DataFrame(results_FAST['financials'])
results_FAST

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-18,2019-12-30,USD,2593060304,2878257725,5561342646,5410137864,1097819355,829813337,None,...,1138585770,183423607,100868581,101092615,502857836,178358823,593938211,2728990447,7893625,869547911

In [80]:
symbol_MRNA = "MRNA/"
# Extract financial data for companies
financials_MRNA = f"{base_url_sandbox}{version}{symbol_MRNA}financials?period=annual&token={token_sandbox}"
results_MRNA = requests.get(financials_MRNA).json()
results_MRNA = pd.DataFrame(results_MRNA['financials'])
results_MRNA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-24,2019-12-28,USD,None,None,None,None,-565604620,-538232767,484764415,...,428564133,246789544,3754613,3592270,132404569,1158135188,136705935,1182036483,-432855307,-475947468

In [81]:
symbol_PAYX = "PAYX/"
# Extract financial data for companies
financials_PAYX = f"{base_url_sandbox}{version}{symbol_PAYX}financials?period=annual&token={token_sandbox}"
results_PAYX = requests.get(financials_PAYX).json()
results_PAYX = pd.DataFrame(results_PAYX['financials'])
results_PAYX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-05-22,2020-05-19,USD,2806040602,1299208194,4054321623,4069093822,1515711212,1123339792,None,...,6039704676,978104126,42650492,42760343,904994047,1029493773,978078409,2781922587,726578089,1446842827

In [82]:
symbol_SGEN = "SGEN/"
# Extract financial data for companies
financials_SGEN = f"{base_url_sandbox}{version}{symbol_SGEN}financials?period=annual&token={token_sandbox}"
results_SGEN = requests.get(financials_SGEN).json()
results_SGEN = pd.DataFrame(results_SGEN['financials'])
results_SGEN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-17,2019-12-23,USD,909347098,45989232,937744259,950975054,-221041929,-162673097,742036327,...,332360064,275812318,9756529,9509840,69491127,836953818,78041893,1895053731,205626144,-162353584

In [83]:
symbol_MCHP = "MCHP/"
# Extract financial data for companies
financials_MCHP = f"{base_url_sandbox}{version}{symbol_MCHP}financials?period=annual&token={token_sandbox}"
results_MCHP = requests.get(financials_MCHP).json()
results_MCHP = pd.DataFrame(results_MCHP['financials'])
results_MCHP

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-03-16,2020-03-17,USD,2355508124,3072988796,5501740821,5429982591,728424941,578973758,913811828,...,12381217566,415595307,674446956,671597435,9339957690,419610087,9678949310,5713454068,-28460601,1551149201

In [84]:
symbol_SIRI = "SIRI/"
# Extract financial data for companies
financials_SIRI = f"{base_url_sandbox}{version}{symbol_SIRI}financials?period=annual&token={token_sandbox}"
results_SIRI = requests.get(financials_SIRI).json()
results_SIRI = pd.DataFrame(results_SIRI['financials'])
results_SIRI

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-16,2019-12-25,USD,3542445841,4371015239,8016649518,8183211165,1836370788,957463499,232628511,...,13148651662,107278239,48744289,49305218,8392491127,110358708,8525544167,-753119884,56227857,1998570101

In [85]:
symbol_XLNX = "XLNX/"
# Extract financial data for companies
financials_XLNX = f"{base_url_sandbox}{version}{symbol_XLNX}financials?period=annual&token={token_sandbox}"
results_XLNX = requests.get(financials_XLNX).json()
results_XLNX = pd.DataFrame(results_XLNX['financials'])
results_XLNX

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-03-29,2020-03-22,USD,2192856893,1094074558,3223246571,3166221212,841685461,827877728,866260312,...,2384998008,1848457571,516714323,525753695,817118226,2284869844,1334496019,2343489383,233577014,1211222119

In [86]:
symbol_DLTR = "DLTR/"
# Extract financial data for companies
financials_DLTR = f"{base_url_sandbox}{version}{symbol_DLTR}financials?period=annual&token={token_sandbox}"
results_DLTR = requests.get(financials_DLTR).json()
results_DLTR = pd.DataFrame(results_DLTR['financials'])
results_DLTR

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-20,2020-01-26,USD,7274734567,16815453215,24151449202,23779973055,1655432384,855142675,None,...,13449397658,565419945,1571659271,1554199733,8840485574,555881075,10127273663,6544405489,146211046,1929891622

In [87]:
symbol_PDD = "PDD/"
# Extract financial data for companies
financials_PDD = f"{base_url_sandbox}{version}{symbol_PDD}financials?period=annual&token={token_sandbox}"
results_PDD = requests.get(financials_PDD).json()
results_PDD = pd.DataFrame(results_PDD['financials'])
results_PDD

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-27,2019-12-23,USD,3567445372,936722199,4419739101,4537456142,-1266857968,-1051792846,581363445,...,7415263738,4989746549,151347263,152478685,813626038,10245965886,956027948,3589593535,408298399,2188729872

In [88]:
symbol_VRSN = "VRSN/"
# Extract financial data for companies
financials_VRSN = f"{base_url_sandbox}{version}{symbol_VRSN}financials?period=annual&token={token_sandbox}"
results_VRSN = requests.get(financials_VRSN).json()
results_VRSN = pd.DataFrame(results_VRSN['financials'])
results_VRSN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-29,2019-12-20,USD,1079773534,180980007,1245680074,1270263488,835476978,619745730,63372677,...,3490801709,531613216,4735137,4682323,1843757405,1233484087,1867091771,-1524986774,152836024,757755521

In [89]:
symbol_CPRT = "CPRT/"
# Extract financial data for companies
financials_CPRT = f"{base_url_sandbox}{version}{symbol_CPRT}financials?period=annual&token={token_sandbox}"
results_CPRT = requests.get(financials_CPRT).json()
results_CPRT = pd.DataFrame(results_CPRT['financials'])
results_CPRT

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-07-27,2019-07-18,USD,880555947,1205663607,2048825379,2088771701,724681539,613694301,None,...,799250995,189911736,1194832,1159276,406540488,191222457,412237531,1804398752,-88832162,672076100

In [90]:
symbol_SWKS = "SWKS/"
# Extract financial data for companies
financials_SWKS = f"{base_url_sandbox}{version}{symbol_SWKS}financials?period=annual&token={token_sandbox}"
results_SWKS = requests.get(financials_SWKS).json()
results_SWKS = pd.DataFrame(results_SWKS['financials'])
results_SWKS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-09-25,2019-09-15,USD,1639175574,1832208257,3431456670,3519607574,965539618,890431672,429245934,...,736863221,871342389,None,None,None,1061537715,None,4126303210,122756470,1428164341

In [91]:
symbol_ALGN = "ALGN/"
# Extract financial data for companies
financials_ALGN = f"{base_url_sandbox}{version}{symbol_ALGN}financials?period=annual&token={token_sandbox}"
results_ALGN = requests.get(financials_ALGN).json()
results_ALGN = pd.DataFrame(results_ALGN['financials'])
results_ALGN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-18,USD,1783577953,663507592,2446234259,2458792387,537845952,457894354,157625786,...,1198087285,554868447,16396972,16085794,44462687,879528774,59257844,1399418767,-88262168,764111436

In [92]:
symbol_ALXN = "ALXN/"
# Extract financial data for companies
financials_ALXN = f"{base_url_sandbox}{version}{symbol_ALXN}financials?period=annual&token={token_sandbox}"
results_ALXN = requests.get(financials_ALXN).json()
results_ALXN = pd.DataFrame(results_ALXN['financials'])
results_ALXN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-22,2019-12-17,USD,4288848766,721185944,5072565068,5155118809,2110208161,2500246200,919778392,...,6492760912,2748271092,145916535,149480533,2647954429,2816405287,2828649848,11529047945,1365379460,2163330507

In [93]:
symbol_CERN = "CERN/"
# Extract financial data for companies
financials_CERN = f"{base_url_sandbox}{version}{symbol_CERN}financials?period=annual&token={token_sandbox}"
results_CERN = requests.get(financials_CERN).json()
results_CERN = pd.DataFrame(results_CERN['financials'])
results_CERN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-20,USD,4494620332,1406972807,5760023581,5900403986,706546635,543775162,516190292,...,2590697986,451495149,30235512,30905693,1165633794,566153660,1212310542,4283530069,70913910,1374137918

In [94]:
symbol_INCY = "INCY/"
# Extract financial data for companies
financials_INCY = f"{base_url_sandbox}{version}{symbol_INCY}financials?period=annual&token={token_sandbox}"
results_INCY = requests.get(financials_INCY).json()
results_INCY = pd.DataFrame(results_INCY['financials'])
results_INCY

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-18,2019-12-21,USD,2047463248,149322681,2176170199,2213006112,428671709,468006916,1194075788,...,833856763,1886456277,29567551,28963205,44717856,2218297230,72919859,2667816128,674038926,744701611

In [95]:
symbol_TTWO = "TTWO/"
# Extract financial data for companies
financials_TTWO = f"{base_url_sandbox}{version}{symbol_TTWO}financials?period=annual&token={token_sandbox}"
results_TTWO = requests.get(financials_TTWO).json()
results_TTWO = pd.DataFrame(results_TTWO['financials'])
results_TTWO

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-03-25,2020-03-24,USD,1546402376,1640647407,3152390161,3159076980,429558977,417084286,299412791,...,2454760201,1965949195,25912357,25904470,152892182,2556354455,177725262,2587919282,630068854,717677737

In [96]:
symbol_MXIM = "MXIM/"
# Extract financial data for companies
financials_MXIM = f"{base_url_sandbox}{version}{symbol_MXIM}financials?period=annual&token={token_sandbox}"
results_MXIM = requests.get(financials_MXIM).json()
results_MXIM = pd.DataFrame(results_MXIM['financials'])
results_MXIM

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-06-29,2020-06-20,USD,1498523666,799340235,2244195765,2234573297,718259066,660165539,440877953,...,2011611263,1637343142,10905232,10462681,1085979577,1676683609,1060380317,1672027020,-178592555,801031928

In [97]:
symbol_CHKP = "CHKP/"
# Extract financial data for companies
financials_CHKP = f"{base_url_sandbox}{version}{symbol_CHKP}financials?period=annual&token={token_sandbox}"
results_CHKP = requests.get(financials_CHKP).json()
results_CHKP = pd.DataFrame(results_CHKP['financials'])
results_CHKP

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-18,2019-12-26,USD,1842365795,223574434,2029936890,2065670115,906210820,849052154,246551643,...,2300260135,290739664,None,None,None,1597693036,None,3604404599,-25142436,1110020978

In [98]:
symbol_CTXS = "CTXS/"
# Extract financial data for companies
financials_CTXS = f"{base_url_sandbox}{version}{symbol_CTXS}financials?period=annual&token={token_sandbox}"
results_CTXS = requests.get(financials_CTXS).json()
results_CTXS = pd.DataFrame(results_CTXS['financials'])
results_CTXS

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-16,2019-12-31,USD,2510359721,525315885,3031386559,3104174812,584479013,687723039,520799082,...,3713392336,549591234,47466397,47573899,994828484,591306262,1030658397,854158324,-73100612,801717016

In [99]:
symbol_CDW = "CDW/"
# Extract financial data for companies
financials_CDW = f"{base_url_sandbox}{version}{symbol_CDW}financials?period=annual&token={token_sandbox}"
results_CDW = requests.get(financials_CDW).json()
results_CDW = pd.DataFrame(results_CDW['financials'])
results_CDW

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-28,2019-12-19,USD,3168181950,15685413247,18740269401,18385202073,1158929825,769798246,None,...,7326953848,154361543,515956522,503584962,3522728121,159187807,4028992088,990337156,-54164010,1059201982

In [100]:
symbol_TCOM = "TCOM/"
# Extract financial data for companies
financials_TCOM = f"{base_url_sandbox}{version}{symbol_TCOM}financials?period=annual&token={token_sandbox}"
results_TCOM = requests.get(financials_TCOM).json()
results_TCOM = pd.DataFrame(results_TCOM['financials'])
results_TCOM

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-19,2019-12-25,USD,4097975188,1091599682,5174734625,5373872648,742924970,1039517677,1619017097,...,13867029682,3133109169,4568464892,4578632650,2914534577,6569719256,7319807829,15078290487,-587939188,1073365198

In [101]:
symbol_BMRN = "BMRN/"
# Extract financial data for companies
financials_BMRN = f"{base_url_sandbox}{version}{symbol_BMRN}financials?period=annual&token={token_sandbox}"
results_BMRN = requests.get(financials_BMRN).json()
results_BMRN = pd.DataFrame(results_BMRN['financials'])
results_BMRN

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-20,2019-12-21,USD,1335644776,427640139,1719236209,1764046453,-116495797,-23952804,730798820,...,1572425356,451031133,386360222,390870604,541730450,760311156,953959080,3182891874,-58066288,50068302

In [102]:
symbol_EXPE = "EXPE/"
# Extract financial data for companies
financials_EXPE = f"{base_url_sandbox}{version}{symbol_EXPE}financials?period=annual&token={token_sandbox}"
results_EXPE = requests.get(financials_EXPE).json()
results_EXPE = pd.DataFrame(results_EXPE['financials'])
results_EXPE

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-30,2019-12-30,USD,9300459933,3005201577,12378280533,12096623302,973286616,586028766,1228463210,...,16657877974,4251921247,891858951,890312785,4755885036,4625448556,5806565702,4087750273,1441802342,2820394996

In [103]:
symbol_ULTA = "ULTA/"
# Extract financial data for companies
financials_ULTA = f"{base_url_sandbox}{version}{symbol_ULTA}financials?period=annual&token={token_sandbox}"
results_ULTA = requests.get(financials_ULTA).json()
results_ULTA = pd.DataFrame(results_ULTA['financials'])
results_ULTA

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-01-21,2020-01-23,USD,2770678582,4911842124,7737741070,7654753955,961681915,739293155,None,...,3620660057,395309342,245021377,245276888,1716236230,516264514,1953693325,1995573459,-17618460,1397018453

In [104]:
symbol_WDC = "WDC/"
# Extract financial data for companies
financials_WDC = f"{base_url_sandbox}{version}{symbol_WDC}financials?period=annual&token={token_sandbox}"
results_WDC = requests.get(financials_WDC).json()
results_WDC = pd.DataFrame(results_WDC['financials'])
results_WDC

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2020-06-24,2020-06-26,USD,4080979322,13159322754,17296528048,16829921716,551479146,-253890491,2273146784,...,16480986895,3162591802,330876238,336218551,9764722048,3094796074,9841943135,9859651184,-407684276,830590233

In [105]:
symbol_LBTYK = "LBTYK/"
# Extract financial data for companies
financials_LBTYK = f"{base_url_sandbox}{version}{symbol_LBTYK}financials?period=annual&token={token_sandbox}"
results_LBTYK = requests.get(financials_LBTYK).json()
results_LBTYK = pd.DataFrame(results_LBTYK['financials'])
results_LBTYK

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-12-17,2019-12-19,USD,3140821110,8763402638,11591644806,11643556840,922606754,-803792908,None,...,36044386426,8248423689,4152264157,4174612978,24739981413,8241315312,29879537434,14199862173,6823345067,4591174974

In [106]:
financials_NASDAQ1 = pd.concat([results_AAPL,results_AMZN,results_MSFT,
        results_FB,results_GOOGL,results_GOOGL,results_TSLA,
        results_NVDA,results_ADBE,results_NFLX])
financials_NASDAQ2 = pd.concat([results_PYPL,
        results_INTC,results_CMCSA,results_PEP,results_CSCO,
        results_COST,results_AMGN,results_TMUS,results_AVGO,
        results_TXN])
financials_NASDAQ3 = pd.concat([results_QCOM,results_CHTR,results_AMD,
        results_SBUX,results_INTU,results_MDLZ,results_GILD,
        results_ISRG,results_BKNG,results_JD])
financials_NASDAQ4 = pd.concat([results_VRTX,
        results_FISV,results_ATVI,results_REGN,results_MELI,
        results_ADP,results_AMAT,results_CSX,results_ADSK,
        results_ILMN])
financials_NASDAQ5 = pd.concat([results_LRCX,results_MU,results_ZM,
        results_LULU,results_BIIB,results_ADI,results_MNST,
        results_KHC,results_EA,results_EBAY])
financials_NASDAQ6 = pd.concat([results_DXCM,
        results_DOCU,results_NTES,results_WDAY,results_CTSH,
        results_EXC,results_XEL,results_NXPI,results_BIDU,
        results_SPLK])
financials_NASDAQ7 = pd.concat([results_ORLY,results_WBA,results_CTAS,
        results_SNPS,results_KLAC,results_IDXX,results_ROST,
        results_MAR,results_CDNS,results_VRSK])
financials_NASDAQ8 = pd.concat([results_PCAR,
        results_ASML,results_ANSS,results_FAST,results_MRNA,
        results_PAYX,results_SGEN,results_MCHP,results_SIRI,
        results_XLNX])
financials_NASDAQ9 = pd.concat([results_DLTR,results_PDD,results_VRSN,
        results_CPRT,results_SWKS,results_ALGN,results_ALXN,
        results_CERN,results_INCY,results_TTWO])
financials_NASDAQ10 = pd.concat([results_MXIM,
        results_CHKP,results_CTXS,results_CDW,results_TCOM,
        results_BMRN,results_EXPE,results_ULTA,results_WDC,
        results_LBTYK])
financials_NASDAQ = pd.concat([financials_NASDAQ1,financials_NASDAQ2,
                                    financials_NASDAQ3,financials_NASDAQ4,
                                    financials_NASDAQ5,financials_NASDAQ6,
                                    financials_NASDAQ7,financials_NASDAQ8,
                                    financials_NASDAQ9,financials_NASDAQ10])
financials_NASDAQ

,reportDate,fiscalDate,currency,grossProfit,costOfRevenue,operatingRevenue,totalRevenue,operatingIncome,netIncome,researchAndDevelopment,...,totalLiabilities,currentCash,currentDebt,shortTermDebt,longTermDebt,totalCash,totalDebt,shareholderEquity,cashChange,cashFlow
0,2019-09-29,2019-09-28,USD,101643096436,165860403397,266240804006,261274587080,64132471165,56902648040,16382573167,...,259960256276,29447620949,16717674963,16406563351,92824178205,103996187241,113100267741,93248611039,24336644748,71397849837
0,2019-12-20,2019-12-22,USD,116272320246,167422544044,282272681057,288752325749,15007120331,11722334662,36367535223,...,166739599030,36576663791,14948532956,14410470907,63716511970,57206944190,80039237864,64067305975,4438131944,38934628754
0,2020-06-27,2020-06-27,USD,100243297036,46106231607,148779960752,146998710741,54380624677,45646845692,20200505229,...,187334260241,13809425107,5962624556,6037454871,79450617873,141191999273,84384937951,122662653070,2310366927,61081791870
0,2019-12-29,2019-12-18,USD,59358513737,13025495431,73085489413,71540110589,30184351586,19233835826,13709795521,...,32878501211,19224883866,1148269043,1194751730,10203385065,55684049233,11082535507,102372930198,9211773822,37942398775
0,2019-12-21,2019-12-21,USD,92385539930,72207565360,168507986631,168846924331,35932031098,35552229997,26109372282,...,74607030370,18889220602,1204995026,1201904116,14921414819,125440146252,16027806755,203112277891,1874821822,54625189389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2019-12-20,2019-12-21,USD,1335644776,427640139,1719236209,1764046453,-116495797,-23952804,730798820,...,1572425356,451031133,386360222,390870604,541730450,760311156,953959080,3182891874,-58066288,50068302
0,2019-12-30,2019-12-30,USD,9300459933,3005201577,12378280533,12096623302,973286616,586028766,1228463210,...,16657877974,4251921247,891858951,890312785,4755885036,4625448556,5806565702,4087750273,1441802342,2820394996
0,2020-01-21,2020-01-23,USD,2770678582,4911842124,7737741070,7654753955,961681915,739293155,None,...,3620660057,395309342,245021377,245276888,1716236230,516264514,1953693325,1995573459,-17618460,1397018453
0,2020-06-24,2020-06-26,USD,4080979322,13159322754,17296528048,16829921716,551479146,-253890491,2273146784,...,16480986895,3162591802,330876238,336218551,9764722048,3094796074,9841943135,9859651184,-407684276,830590233
0,2019-12-17,2019-12-19,USD,3140821110,8763402638,11591644806,11643556840,922606754,-803792908,None,...,36044386426,8248423689,4152264157,4174612978,24739981413,8241315312,29879537434,14199862173,6823345067,4591174974

In [107]:
financials_NASDAQ.to_csv("financials_NASDAQ.csv")